// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;
$_body-theme-selector:                 '.theme-flatsome' !default;





// ------------------------------------
// DEFINE CSS VARIABLES
// ------------------------------------
:root {
	--fluidcheckout--field--height: #{ remsize( 3.891rem ) };
	--fluidcheckout--field--box-shadow: inset 0 1px 2px rgba( 0, 0, 0, .1 );
	--fluidcheckout--field--box-shadow--focus: none;
}
:root body.fl-labels {
	--fluidcheckout--field--height: #{ remsize( 4.669rem ) };
}






// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"checkout-content-area",
	"checkout-header",
	"woocommerce-form-fields",
	"woocommerce-form-fields-select2",
	"order-summary";
