// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;
$_body-theme-selector:                 '.theme-flatsome' !default;
$_field-height:                        remsize( 3.891rem ) !default;
$_select2-border-radius:               remsize( .3rem ) !default;





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"checkout-content-area",
	"checkout-header",
	"woocommerce-form-fields",
	"../../partials/checkout-validation-check",
	"../../partials/woocommerce-form-fields-select2",
	"woocommerce-form-fields-select2",
	"order-summary";
