// ------------------------------------
// SELECT2 FORM FIELDS
// ------------------------------------

body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-selection--single .select2-selection__rendered {
	padding-#{ $alignment-left }: .75em;
}



body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-selection__arrow {
	background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
	background-position: .5em center;
	background-size: auto 1em;
	background-repeat: no-repeat;
}



body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-selection--multiple {
	padding: 0 ;
	padding-#{ $alignment-left }: remsize( 1rem );
	padding-#{ $alignment-right }: $form-field-select2-inner-spacing;
}

body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-selection--multiple .select2-selection__choice {
	padding: 0 $form-field-select2-inner-spacing;
}
