// ------------------------------------
// TOM SELECT CONTROL
// ------------------------------------

body#{ $_body-theme-selector } .ts-wrapper.single .ts-control {
	border-top: none;
	border-left: none;
	border-right: none;
	color: $form-field-text-color;
}

body#{ $_body-theme-selector } .ts-control:focus-within {
	outline: none !important;
}
