// ------------------------------------
// WOOCOMMERCE PASSWORD VISIBILITY
// ------------------------------------

// Override WooCommerce core `.woocommerce .password-input .show-password-input` positioning
body#{ $_body-theme-selector } .woocommerce form .form-row .password-input .show-password-input,
body#{ $_body-theme-selector } .woocommerce form .form-row .woocommerce-input-wrapper.password-input .show-password-input {
	height: auto;
	#{ $alignment-right }: $show-password-button-offset;
	top: 50%;
	transform: translateY( -50% );
}
