// ------------------------------------
// WOOCOMMERCE FORM FIELDS
// ------------------------------------

body#{ $_body-theme-selector } div.woocommerce form .form-row {
	padding: 0;
}

body#{ $_body-theme-selector } form.checkout .form-row-last label {
	display: inline-block;
}
	