// ------------------------------------
// WOOCOMMERCE FORM FIELDS -- EDIT ADDRESS
// ------------------------------------

@media screen and (min-width: 768px) { // Match theme breakpoint
	body#{ $_body-theme-selector }#{ $_body-page-selector } .woocommerce-address-fields .form-row-first {
		width: calc( 50% + 95px ) !important; // Needed to match theme's column widths
		margin-#{ $alignment-right }: 0 !important; // Needed to override FC styles
	}

	body#{ $_body-theme-selector }#{ $_body-page-selector } .woocommerce-address-fields .form-row-last {
		width: calc( 50% - 95px ) !important; // Needed to match theme's column widths
		float: #{ $alignment-right } !important; // Needed to match theme's column layout
	}

	// Address Book phone uses `.form-row-first` — keep it full-width in the side-label layout.
	body#{ $_body-theme-selector }#{ $_body-page-selector } .woocommerce-address-fields .fc-expansible-form-section.form-row-first {
		width: 100% !important; // Needed to override FC styles
		padding-#{ $alignment-right }: 0;
	}
}
