// ------------------------------------
// WOOCOMMERCE FORM FIELDS SELECT2
// ------------------------------------

body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-selection--single {
	border-top: none;
	border-left: none;
	border-right: none;
	color: $form-field-text-color;
}

body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-selection--single:focus-within {
	outline: none;
}
