// ------------------------------------
// WOOCOMMERCE FORM FIELDS SELECT2
// ------------------------------------

//! Add border fix 
body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-selection--single {
	border-top: none;
	border-left: none;
	border-right: none;
	color: #23232c; //! seems kirky there is a variable for this
}

body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-selection--single:focus-within {
	outline: none !important;
}