// ------------------------------------
// CHECKOUT SHIPPING METHODS
// ------------------------------------

#{ $_body-theme-selector-prefix } .woocommerce ul#shipping_method .shipping-method__option .shipping-method__option-label {
	height: auto;
}



#{ $_body-theme-selector-prefix } .woocommerce ul#shipping_method .shipping-method__option .shipping-method__option-label:before {
	top: remsize( .6rem );
	#{ $alignment-left }: remsize( .6rem );
}

#{ $_body-theme-selector-prefix } .woocommerce ul#shipping_method .shipping-method__option input[type="radio"]:checked + .shipping-method__option-label:after {
	top: remsize( .5rem );
	#{ $alignment-left }: remsize( .4rem );
	border-color: transparent;
	background-color: transparent;
}
