@charset "UTF-8";
/*------------------------------------*\
  #IMPORT ABSTRACT
\*------------------------------------*/
/** 
 * FUNCTIONS
 * 
 * Caution: This file is supposed to import all functions
 * except the `remsize` functions which is already imported
 * before the `variables` as it is needed earlier.
 */
/*------------------------------------*\
	#VARIABLES
\*------------------------------------*/
/** 
 * FUNCTIONS
 * 
 * Caution: This file is supposed to import all functions
 * except the `remsize` functions which is already imported
 * before the `variables` as it is needed earlier.
 */
/*------------------------------------*\
  #IMPORT STYLES
\*------------------------------------*/
/*------------------------------------*\
  #WOOCOMMERCE ACCOUNT ADDRESSES
\*------------------------------------*/
.woocommerce-MyAccount-content .woocommerce-address-fields__field-wrapper {
  margin-bottom: 50px; }

.woocommerce-MyAccount-content .woocommerce-address-fields__field-wrapper::before,
.woocommerce-MyAccount-content .woocommerce-address-fields__field-wrapper::after {
  content: '';
  display: table;
  table-layout: fixed;
  width: 100%; }

/*------------------------------------*\
  #WOOCOMMERCE FORM-ROW
\*------------------------------------*/
div.woocommerce .form-row:before,
div.woocommerce .form-row:after {
  content: '';
  display: table;
  table-layout: fixed;
  width: 100%; }

div.woocommerce .form-row:last-child {
  margin-bottom: 0; }

div.woocommerce .form-row {
  margin-bottom: 20px; }

div.woocommerce .form-row input,
div.woocommerce .form-row textarea,
div.woocommerce .form-row select,
div.woocommerce .form-row .select2-container {
  margin-bottom: 0; }

div.woocommerce .form-row.form-row-first,
div.woocommerce .form-row.form-row-wide {
  clear: left; }

div.woocommerce .form-row.place-order {
  float: none; }

div.woocommerce .form-row span.description {
  font-size: 13px; }

/*------------------------------------*\
  #WOOCOMMERCE ADDRESS FIELDS
\*------------------------------------*/
div.woocommerce #billing_address_2_field > label,
div.woocommerce #shipping_address_2_field > label {
  opacity: unset;
  width: auto; }

/*------------------------------------*\
	#EXPANSIBLE SECTIONS
\*------------------------------------*/
div.woocommerce .wfc-expansible-form-section .expansible-section__toggle-plus {
  position: relative;
  padding: 0 0 0 26px;
  cursor: pointer;
  text-decoration: none; }
  div.woocommerce .wfc-expansible-form-section .expansible-section__toggle-plus:before {
    display: inline-block;
    font-family: "fluid-checkout-icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    content: "";
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: -3px;
    top: 50%;
    transform: translateY(-50%); }

.wfc-expansible-form-section.form-row p.form-row {
  margin: 0;
  padding: 0; }

.wfc-expansible-form-section.form-row.form-row-last .wfc-expansible-form-section__toggle .collapsible-content__inner {
  padding-top: 2.3em; }

body:not(.has-collapsible-block) .wfc-expansible-form-section__toggle.is-collapsed .collapsible-content__inner,
body:not(.has-collapsible-block) .wfc-expansible-form-section__content.is-collapsed .collapsible-content__inner {
  display: none; }
