body.has-fc-button-styles #add_payment_method #place_order {
  display: inline-block;
  min-height: var(--fluidcheckout--button--height, 44px) !important;
  height: var(--fluidcheckout--button--height, 44px) !important;
  line-height: calc(var(--fluidcheckout--button--height, 44px) - var(--fluidcheckout--button--border-width, 1px) * 2) !important;
  padding: 0 20px !important;
  border: var(--fluidcheckout--button--border-style, solid) var(--fluidcheckout--button--border-width, 1px) transparent !important;
  border-radius: var(--fluidcheckout--button--border-radius, 0) !important;
  font-weight: var(--fluidcheckout--button--font-weight, normal) !important;
  font-size: var(--fluidcheckout--button--font-size, inherit) !important;
  text-decoration: none !important;
  box-shadow: 0 3px var(--fluidcheckout--button--box-shadow-blur-radius, 8px) var(--fluidcheckout--button--box-shadow-color, transparent) !important;
  cursor: pointer !important;
  transition: all 0.3s !important;
}

body.has-fc-button-colors #add_payment_method #place_order {
  border-color: var(--fluidcheckout--button--primary--border-color, var(--fluidcheckout--color--black, #000)) !important;
  background-color: var(--fluidcheckout--button--primary--background-color, var(--fluidcheckout--color--black, #000)) !important;
  color: var(--fluidcheckout--button--primary--text-color, var(--fluidcheckout--color--white, #fff)) !important;
}
body.has-fc-button-colors #add_payment_method #place_order:not([disabled]):not(.disabled):hover, body.has-fc-button-colors #add_payment_method #place_order:not([disabled]):not(.disabled):focus, body.has-fc-button-colors #add_payment_method #place_order:not([disabled]):not(.disabled):active {
  border-color: var(--fluidcheckout--button--primary--border-color--hover, var(--fluidcheckout--color--darker-grey, #1E212B)) !important;
  background-color: var(--fluidcheckout--button--primary--background-color--hover, var(--fluidcheckout--color--darker-grey, #1E212B)) !important;
  color: var(--fluidcheckout--button--primary--text-color--hover, var(--fluidcheckout--color--white, #fff)) !important;
}

.fc-clearfix:before,
.fc-clearfix:after {
  content: "";
  display: table;
  table-layout: fixed;
  width: 100%;
}

.fc-hidden {
  display: none !important;
}

.fc-wrapper .fc-payment-methods__wrapper {
  position: relative;
}

body.woocommerce-add-payment-method div.woocommerce .fc-wrapper #payment,
body.woocommerce-add-payment-method div.woocommerce #add_payment_method .fc-wrapper #payment {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}

body.woocommerce-add-payment-method div.woocommerce .fc-wrapper #payment ul.payment_methods,
body.woocommerce-add-payment-method div.woocommerce #add_payment_method .fc-wrapper #payment ul.payment_methods {
  list-style-type: none;
  margin: 0 !important;
  padding: 0;
  display: block;
  width: 100%;
  border: var(--fluidcheckout--option-box--border-style, solid) var(--fluidcheckout--option-box--border-width, 1px) var(--fluidcheckout--option-box--border-color, var(--fluidcheckout--border-color, var(--fluidcheckout--color--light-grey, #d8d8d8))) !important;
  border-radius: var(--fluidcheckout--option-box--border-radius, 13px);
  background-color: transparent !important;
  overflow: visible;
}

.fc-wrapper #payment .payment_methods > .wc_payment_method,
#add_payment_method .fc-wrapper #payment .payment_methods > .wc_payment_method {
  width: 100%;
  margin: 0 !important;
  margin-top: var(--fluidcheckout--option-box--spacing--between-options, 0) !important;
  padding: 0;
  border: 0;
  line-height: 1.6;
}

.fc-wrapper #payment .payment_methods > .wc_payment_method:first-of-type,
#add_payment_method .fc-wrapper #payment .payment_methods > .wc_payment_method:first-of-type {
  margin-top: 0 !important;
}

.fc-wrapper #payment .payment_methods > .wc_payment_method > input[name=payment_method] {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.fc-wrapper #payment ul.wc_payment_methods {
  background-color: transparent;
}

.fc-wrapper #payment ul.wc_payment_methods::before {
  display: none;
}

.fc-wrapper #payment ul.wc_payment_methods > li.wc_payment_method > label {
  box-sizing: border-box !important;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding-top: var(--fluidcheckout--option-box--spacing--vertical, 10px) !important;
  padding-bottom: var(--fluidcheckout--option-box--spacing--vertical, 10px) !important;
  padding-right: calc(var(--fluidcheckout--option-box--spacing--horizontal, 10px) + 24px + 10px) !important;
  padding-left: var(--fluidcheckout--option-box--spacing--horizontal, 10px) !important;
  width: 100%;
  max-width: 100%;
  border: var(--fluidcheckout--option-box--label-border-style, solid) var(--fluidcheckout--option-box--label-border-width, 1px) var(--fluidcheckout--option-box--label-border-color, var(--fluidcheckout--border-color, var(--fluidcheckout--color--light-grey, #d8d8d8)));
  border-top: 0;
  border-right: 0;
  border-left: 0;
  background-color: var(--fluidcheckout--option-box--background-color, var(--fluidcheckout--color--white, #fff));
  font-weight: normal;
  text-align: right !important;
  text-indent: 0 !important;
  line-height: 24px !important;
  cursor: pointer;
  transition: all 0.15s linear;
}
.fc-wrapper #payment ul.wc_payment_methods > li.wc_payment_method > label:active, .fc-wrapper #payment ul.wc_payment_methods > li.wc_payment_method > label:hover, .fc-wrapper #payment ul.wc_payment_methods > li.wc_payment_method > label:focus {
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.fc-wrapper #payment .payment_methods > .wc_payment_method:first-of-type > label,
#add_payment_method .fc-wrapper #payment .payment_methods > .wc_payment_method:first-of-type > label {
  border-top-right-radius: var(--fluidcheckout--option-box--border-radius, 13px);
  border-top-left-radius: var(--fluidcheckout--option-box--border-radius, 13px);
}

.fc-wrapper #payment .payment_methods > .wc_payment_method.has-payment-box:last-of-type input[name=payment_method]:not(:checked) ~ label,
#add_payment_method .fc-wrapper #payment .payment_methods > .wc_payment_method.has-payment-box:last-of-type input[name=payment_method]:not(:checked) ~ label,
.fc-wrapper #payment .payment_methods > .wc_payment_method:not(.has-payment-box):last-of-type input[name=payment_method] ~ label,
#add_payment_method .fc-wrapper #payment .payment_methods > .wc_payment_method:not(.has-payment-box):last-of-type input[name=payment_method] ~ label,
.fc-wrapper #payment .payment_methods > .wc_payment_method:last-of-type input[name=payment_method]:checked ~ .payment_box,
#add_payment_method .fc-wrapper #payment .payment_methods > .wc_payment_method:last-of-type input[name=payment_method]:checked ~ .payment_box {
  border-bottom: 0;
  border-bottom-right-radius: var(--fluidcheckout--option-box--border-radius, 13px);
  border-bottom-left-radius: var(--fluidcheckout--option-box--border-radius, 13px);
}

.fc-wrapper #payment .payment_methods > li.wc_payment_method:not(.woocommerce-notice) {
  background-color: transparent !important;
}

.fc-wrapper #payment ul.wc_payment_methods > li.wc_payment_method > input[name=payment_method]:checked + label {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-color: var(--fluidcheckout--option-box--label-border-color--checked, var(--fluidcheckout--border-color, var(--fluidcheckout--color--light-grey, #d8d8d8)));
  background-color: var(--fluidcheckout--option-box--background-color--checked, var(--fluidcheckout--color--lighter-grey, #f3f3f3));
  color: var(--fluidcheckout--option-box--label-color--checked, var(--fluidcheckout--color--darker-grey, #1E212B));
}

.fc-wrapper #payment .payment_methods > .wc_payment_method > input[name=payment_method] + label:before {
  z-index: 2;
  box-sizing: border-box;
  content: "" !important;
  position: absolute;
  top: var(--fluidcheckout--option-box--spacing--vertical, 10px);
  right: 10px;
  left: auto;
  display: block;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  border: solid 2px var(--fluidcheckout--option-box--radio-color, var(--fluidcheckout--border-color, var(--fluidcheckout--color--light-grey, #d8d8d8)));
  border-color: var(--fluidcheckout--option-box--radio-color, var(--fluidcheckout--border-color, var(--fluidcheckout--color--light-grey, #d8d8d8)));
  border-radius: 100%;
  background-color: transparent;
  box-shadow: none;
  transition: all 0.15s linear;
  transform: none;
}

.fc-wrapper #payment .payment_methods > .wc_payment_method > input[name=payment_method]:focus + label:before {
  outline: solid 2px var(--fluidcheckout--color--dark-grey, #535156) !important;
  outline-offset: 2px !important;
}

.fc-wrapper #payment .payment_methods > .wc_payment_method > input[name=payment_method]:checked + label:before {
  border-color: var(--fluidcheckout--option-box--radio-color--checked, var(--fluidcheckout--color--success, #007a3d)) !important;
  background-color: var(--fluidcheckout--option-box--radio-color--checked, var(--fluidcheckout--color--success, #007a3d)) !important;
}

.fc-wrapper #payment .payment_methods > .wc_payment_method > label:hover {
  background-color: var(--fluidcheckout--option-box--background-color--hover, var(--fluidcheckout--color--lighter-grey, #f3f3f3));
}

.fc-wrapper #payment .payment_methods > .wc_payment_method > input[name=payment_method] + label:hover:before,
.fc-wrapper #payment .payment_methods > .wc_payment_method > input[name=payment_method] + label:focus:before {
  border-color: var(--fluidcheckout--option-box--border-color--hover, var(--fluidcheckout--border-color--dark, var(--fluidcheckout--color--grey, #7b7575)));
}

.fc-wrapper #payment ul.payment_methods > .wc_payment_method > input[name=payment_method] + label:after {
  display: inline-block;
  font-family: "fluid-checkout-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  display: inline-block;
  font-family: "fluid-checkout-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  content: "\e805";
  width: 24px;
  height: 24px;
  font-size: 24px;
  z-index: 3;
  position: absolute;
  top: var(--fluidcheckout--option-box--spacing--vertical, 10px);
  right: 10px;
  left: auto;
  margin: 0;
  padding: 0;
  border: 0;
  color: transparent !important;
  background-color: transparent !important;
  transition: all 0.15s linear;
  transform: none;
}

.fc-wrapper #payment ul.payment_methods > .wc_payment_method > input[name=payment_method]:checked + label:after {
  color: var(--fluidcheckout--option-box--radio-icon-color--checked, var(--fluidcheckout--color--white, #fff)) !important;
}

.fc-wrapper #payment ul.payment_methods > li.wc_payment_method > label .payment-method__label-text {
  display: inline-block;
  margin-left: 10px;
}

.fc-wrapper #payment ul.payment_methods > li.wc_payment_method > label .payment-method__label-icon {
  text-align: left;
}

.fc-wrapper #payment ul.payment_methods > li.wc_payment_method > label .payment-method__label-icon img {
  float: none;
  display: inline-block;
  margin-right: 5px;
  width: auto;
  height: 24px;
  vertical-align: middle;
}

.fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box,
#add_payment_method .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box {
  margin: 0;
  padding: 20px;
  border: 0;
  border-bottom: var(--fluidcheckout--option-box--border-style, solid) var(--fluidcheckout--option-box--border-width, 1px) var(--fluidcheckout--option-box--border-color, var(--fluidcheckout--border-color, var(--fluidcheckout--color--light-grey, #d8d8d8)));
  background-color: var(--fluidcheckout--color--lighter-grey, #f3f3f3);
  border-radius: 0;
}
@media (min-width: 750px) {
  .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box,
  #add_payment_method .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box {
    padding: 20px calc(24px + var(--fluidcheckout--option-box--spacing--horizontal, 10px));
  }
}
.fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box textarea,
.fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box select,
.fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box input[type=email],
.fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box input[type=number],
.fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box input[type=date],
.fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box input[type=search],
.fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box input[type=text],
.fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box input[type=tel],
.fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box input[type=url],
.fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box input[type=password],
#add_payment_method .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box textarea,
#add_payment_method .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box select,
#add_payment_method .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box input[type=email],
#add_payment_method .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box input[type=number],
#add_payment_method .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box input[type=date],
#add_payment_method .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box input[type=search],
#add_payment_method .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box input[type=text],
#add_payment_method .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box input[type=tel],
#add_payment_method .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box input[type=url],
#add_payment_method .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box input[type=password] {
  background-color: var(--fluidcheckout--color--white, #fff);
}

.fc-wrapper #payment .payment_methods > li .payment_box:before,
#add_payment_method .fc-wrapper #payment .payment_methods > li .payment_box:before,
.fc-wrapper #payment .payment_methods > li .payment_box:after,
#add_payment_method .fc-wrapper #payment .payment_methods > li .payment_box:after {
  display: none;
}

.fc-wrapper .payment_box > p:last-child {
  margin-bottom: 0;
}

.fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box a:focus {
  outline: dotted 1px var(--fluidcheckout--color--dark-grey, #535156) !important;
  outline-offset: 1px !important;
}

.fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box fieldset {
  background-color: transparent;
}

.fc-wrapper #payment .payment_methods > .woocommerce-notice {
  margin-bottom: 0;
}

body.woocommerce-add-payment-method div.woocommerce #add_payment_method .fc-wrapper #payment ul.payment_methods {
  margin-bottom: 30px !important;
}