/*------------------------------------*\
	#IMPORT ABSTRACT
\*------------------------------------*/
/*------------------------------------*\
	#VARIABLES
\*------------------------------------*/
/** 
 * FUNCTIONS
 * 
 * Caution: This file is supposed to import all functions
 * except the `remsize` functions which is already imported
 * before the `variables` as it is needed earlier.
 */
/**
 * Return glyph values icons
 * @see https://www.sitepoint.com/better-solution-managing-z-index-sass/
 */
/**
 * Return z-index values for named layers
 * @see https://www.sitepoint.com/better-solution-managing-z-index-sass/
 */
/*------------------------------------*\
	#IMPORT STYLES
\*------------------------------------*/
/*------------------------------------*\
	#ADDRESS BOOK
\*------------------------------------*/
.address-book__entry-label > span {
  display: block;
  width: 100%; }

.has-wfc-address-book-entries .wfc-address-book__form-wrapper:not(.active),
.address-book__billing[data-address-same-as-checked="1"] + .wfc-address-book__form-wrapper {
  display: none; }

.address-book__billing[data-address-same-as-checked="1"] .address-book-entry:not([data-address-book-same-as-entry]):not([data-address-book-new-entry]) {
  display: none; }
