div.woocommerce .form-row .woocommerce-error:not(.invalid-country-not-allowed) {
  display: none;
}

div.woocommerce .form-row.woocommerce-invalid .woocommerce-error {
  display: block;
}

div.woocommerce .form-row .woocommerce-error,
div.woocommerce .shipping-method__package .woocommerce-error,
div.woocommerce .form-row .fc-mailcheck-suggestion {
  position: relative;
  margin: 0;
  padding: 5px 10px 5px;
  padding-right: 28px;
  border: 0;
  background-color: #F4F4F4;
  font-size: 13px;
  text-align: right;
  line-height: 1.6;
}

div.woocommerce .form-row .fc-mailcheck-suggestion {
  padding: 5px 10px;
}

div.woocommerce .form-row .fc-mailcheck-suggestion .mailcheck-suggestion:focus {
  outline: dotted 1px #535156;
  outline-offset: 1px;
}

div.woocommerce .form-row .woocommerce-error,
div.woocommerce .shipping-method__package .woocommerce-error {
  color: #CC1818;
}

div.woocommerce .shipping-method__package .woocommerce-error {
  padding-left: 45px;
  background-color: transparent;
}

div.woocommerce .form-row .woocommerce-error:before,
div.woocommerce .shipping-method__package .woocommerce-error:before {
  display: inline-block;
  font-family: "fluid-checkout-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  content: "\e800";
  width: 18px;
  height: 18px;
  font-size: 18px;
  position: absolute;
  top: 16px;
  right: 5px;
  transform: translateY(-50%);
  color: inherit;
}

div.woocommerce .shipping-method__package .woocommerce-error:before {
  right: 15px;
}

div.woocommerce form .form-row[class*=woocommerce-invalid] textarea,
div.woocommerce form .form-row[class*=woocommerce-invalid] select,
div.woocommerce form .form-row[class*=woocommerce-invalid] input[type=email],
div.woocommerce form .form-row[class*=woocommerce-invalid] input[type=number],
div.woocommerce form .form-row[class*=woocommerce-invalid] input[type=search],
div.woocommerce form .form-row[class*=woocommerce-invalid] input[type=text],
div.woocommerce form .form-row[class*=woocommerce-invalid] input[type=date],
div.woocommerce form .form-row[class*=woocommerce-invalid] input[type=tel],
div.woocommerce form .form-row[class*=woocommerce-invalid] input[type=url],
div.woocommerce form .form-row[class*=woocommerce-invalid] input[type=password],
div.woocommerce form .form-row[class*=woocommerce-invalid] .select2-selection {
  border-color: #CC1818;
}

div.woocommerce form .shipping-method__package[class*=woocommerce-invalid] #shipping_method.shipping-method__options {
  border-color: #CC1818;
}

div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) textarea,
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) select,
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=email],
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=number],
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=search],
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=text],
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=date],
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=tel],
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=url],
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=password],
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) .select2-selection {
  border-color: #00A854;
}
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) .woocommerce-input-wrapper {
  position: relative;
  display: block;
  width: 100%;
}
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon) .select2-selection:after, div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon):not(.fc-select2-field) .woocommerce-input-wrapper:after {
  display: inline-block;
  font-family: "fluid-checkout-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  content: "\e805";
  width: 24px;
  height: 24px;
  font-size: 24px;
  z-index: 10;
  position: absolute;
  left: 5px;
  top: 10px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  color: #00A854;
  pointer-events: none;
}
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon):not(.fc-select2-field) .woocommerce-input-wrapper.password-input:after {
  left: 30px;
}
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon) .select2-selection:after {
  left: 20px;
}
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]).fc-select2-field:not(.fc-no-validation-icon) select:not([required]) ~ .select2-container .select2-selection:after {
  left: 30px;
}
.woocommerce-terms-and-conditions-wrapper div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):after, div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]).create-account:after {
  content: "";
  display: none;
}