/*
 * WooCommerce Fluid Checkout - Layout: Multi Step
 */
.wfc-site-content--checkout {
  margin: 0 auto;
  padding: 20px; }
  @media (min-width: 750px) {
    .wfc-site-content--checkout {
      padding: 30px; } }
  @media (min-width: 1000px) {
    .wfc-site-content--checkout {
      padding: 50px;
      max-width: 1400px; } }
