div.woocommerce .form-row .woocommerce-error:not(.invalid-country-not-allowed) {
  display: none;
}

div.woocommerce .form-row.woocommerce-invalid .woocommerce-error {
  display: block;
}

div.woocommerce .form-row .woocommerce-error,
div.woocommerce .shipping-method__package .woocommerce-error,
div.woocommerce .form-row .fc-mailcheck-suggestion {
  z-index: 2;
  position: relative;
  margin: 0;
  padding-inline: 0 !important;
  padding: 5px 10px 5px !important;
  padding-left: 28px !important;
  min-height: auto;
  border: 0;
  background-color: var(--fluidcheckout--color--lighter-grey, #f3f3f3);
  font-size: 13px;
  text-align: left;
  line-height: 1.6;
  animation: none;
  transform: none;
}

div.woocommerce .form-row .fc-mailcheck-suggestion {
  padding: 5px 10px;
}

div.woocommerce .form-row .fc-mailcheck-suggestion .mailcheck-suggestion:focus {
  outline: dotted 1px var(--fluidcheckout--color--dark-grey, #535156) !important;
  outline-offset: 1px !important;
}

div.woocommerce .form-row .woocommerce-error,
div.woocommerce .shipping-method__package .woocommerce-error {
  color: var(--fluidcheckout--color--error, #cc1818);
}

div.woocommerce .shipping-method__package .woocommerce-error {
  padding-left: calc(10px + 24px + var(--fluidcheckout--option-box--spacing--horizontal, 10px) + 1px);
  background-color: transparent;
}

div.woocommerce .form-row .woocommerce-error:before,
div.woocommerce .shipping-method__package .woocommerce-error:before {
  display: inline-block;
  font-family: "fluid-checkout-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  content: "\e800";
  width: 18px;
  height: 18px;
  font-size: 18px;
  position: absolute;
  display: block !important;
  top: 16px;
  left: 5px;
  transform: translateY(-50%);
  color: inherit !important;
  speak: never;
}

div.woocommerce .shipping-method__package .woocommerce-error:before {
  left: 15px;
}

div.woocommerce .form-row .woocommerce-error:after,
div.woocommerce .shipping-method__package .woocommerce-error:after {
  display: none;
}

div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) textarea,
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) select,
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=email],
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=number],
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=search],
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=text],
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=date],
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=tel],
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=url],
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=password],
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) .select2-selection {
  border-color: var(--fluidcheckout--color--success, #007a3d);
}

div.woocommerce form .form-row[class*=woocommerce-invalid] textarea,
div.woocommerce form .form-row[class*=woocommerce-invalid] select,
div.woocommerce form .form-row[class*=woocommerce-invalid] input[type=email],
div.woocommerce form .form-row[class*=woocommerce-invalid] input[type=number],
div.woocommerce form .form-row[class*=woocommerce-invalid] input[type=search],
div.woocommerce form .form-row[class*=woocommerce-invalid] input[type=text],
div.woocommerce form .form-row[class*=woocommerce-invalid] input[type=date],
div.woocommerce form .form-row[class*=woocommerce-invalid] input[type=tel],
div.woocommerce form .form-row[class*=woocommerce-invalid] input[type=url],
div.woocommerce form .form-row[class*=woocommerce-invalid] input[type=password],
div.woocommerce form .form-row[class*=woocommerce-invalid] .select2-selection {
  border-color: var(--fluidcheckout--color--error, #cc1818);
}

div.woocommerce form .shipping-method__package[class*=woocommerce-invalid] #shipping_method.shipping-method__options {
  border-color: var(--fluidcheckout--color--error, #cc1818);
}

div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon) .select2-selection:after, div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon):not(.fc-select2-field) .woocommerce-input-wrapper:after {
  display: inline-block;
  font-family: "fluid-checkout-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  content: "\e805";
  width: 24px;
  height: 24px;
  font-size: 24px;
  z-index: 10;
  position: absolute;
  top: calc(var(--fluidcheckout--field--height, 45.625px) / 2 - 24px / 2);
  right: var(--fluidcheckout--validation-check--horizontal-spacing, 5px);
  border-radius: 100%;
  color: var(--fluidcheckout--color--success, #007a3d);
  pointer-events: none;
}
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon):not(.fc-select2-field) .woocommerce-input-wrapper.password-input:after {
  right: var(--fluidcheckout--validation-check--horizontal-spacing--password, 25px);
}
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon) .select2-selection:after {
  right: var(--fluidcheckout--validation-check--horizontal-spacing--select, 15px);
}
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]).fc-select2-field:not(.fc-no-validation-icon) select:not([required]) ~ .select2-container .select2-selection:after {
  right: var(--fluidcheckout--validation-check--horizontal-spacing--select-alt, 25px);
}
.woocommerce-terms-and-conditions-wrapper div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):after, div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]).create-account:after {
  content: "";
  display: none;
}