@charset "UTF-8";
/*------------------------------------*\
	#IMPORT ABSTRACT
\*------------------------------------*/
/** 
 * FUNCTIONS
 * 
 * Caution: This file is supposed to import all functions
 * except the `remsize` functions which is already imported
 * before the `variables` as it is needed earlier.
 */
/*------------------------------------*\
	#VARIABLES
\*------------------------------------*/
/** 
 * FUNCTIONS
 * 
 * Caution: This file is supposed to import all functions
 * except the `remsize` functions which is already imported
 * before the `variables` as it is needed earlier.
 */
/*------------------------------------*\
	#IMPORT STYLES
\*------------------------------------*/
/*------------------------------------*\
	#CHECKOUT VALIDATION
\*------------------------------------*/
div.woocommerce .form-row .woocommerce-error:not(.invalid-country-not-allowed) {
  /* Double selector to augment specificity */
  display: none; }

/* Double selectors to augment specificity */
div.woocommerce .woocommerce-invalid-required-field .woocommerce-error.invalid-required-field,
div.woocommerce .woocommerce-invalid-email .woocommerce-error.invalid-email,
div.woocommerce .woocommerce-invalid-confirmation-field .woocommerce-error.invalid-confirmation-field {
  display: block; }

/*------------------------------------*\
	#CHECKOUT VALIDATION STYLES
\*------------------------------------*/
div.woocommerce .form-row .woocommerce-error,
div.woocommerce .form-row .wfc-mailcheck-suggestion {
  position: relative;
  margin: 0;
  padding: 5px 10px 5px 28px;
  border: 0;
  background-color: #F0F4F4;
  font-size: 13px; }

div.woocommerce .form-row .wfc-mailcheck-suggestion {
  padding: 5px 10px; }

div.woocommerce .form-row .woocommerce-error {
  color: #CC1818; }

div.woocommerce .form-row .woocommerce-error:before {
  display: inline-block;
  font-family: "fluid-checkout-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  content: "";
  width: 18px;
  height: 18px;
  font-size: 18px;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: inherit; }

div.woocommerce form .form-row.woocommerce-validated input.input-text {
  border-color: #00A854; }
