body.has-fc-button-styles .fc-wrapper .fc-coupon_code__collapsible .fc-coupon-code__apply {
  display: inline-block;
  min-height: var(--fluidcheckout--button--height, 44px) !important;
  height: var(--fluidcheckout--button--height, 44px) !important;
  line-height: calc(var(--fluidcheckout--button--height, 44px) - var(--fluidcheckout--button--border-width, 1px) * 2) !important;
  padding: 0 20px !important;
  border: var(--fluidcheckout--button--border-style, solid) var(--fluidcheckout--button--border-width, 1px) transparent !important;
  border-radius: var(--fluidcheckout--button--border-radius, 0) !important;
  font-weight: var(--fluidcheckout--button--font-weight, normal) !important;
  font-size: var(--fluidcheckout--button--font-size, inherit) !important;
  text-decoration: none !important;
  box-shadow: 0 3px var(--fluidcheckout--button--box-shadow-blur-radius, 8px) var(--fluidcheckout--button--box-shadow-color, transparent) !important;
  cursor: pointer !important;
  transition: all 0.3s !important;
}

body.has-fc-button-colors .fc-wrapper .fc-coupon_code__collapsible .fc-coupon-code__apply {
  border-color: var(--fluidcheckout--button--primary--border-color, var(--fluidcheckout--color--black, #000)) !important;
  background-color: var(--fluidcheckout--button--primary--background-color, var(--fluidcheckout--color--black, #000)) !important;
  color: var(--fluidcheckout--button--primary--text-color, var(--fluidcheckout--color--white, #fff)) !important;
}
body.has-fc-button-colors .fc-wrapper .fc-coupon_code__collapsible .fc-coupon-code__apply:not([disabled]):not(.disabled):hover, body.has-fc-button-colors .fc-wrapper .fc-coupon_code__collapsible .fc-coupon-code__apply:not([disabled]):not(.disabled):focus, body.has-fc-button-colors .fc-wrapper .fc-coupon_code__collapsible .fc-coupon-code__apply:not([disabled]):not(.disabled):active {
  border-color: var(--fluidcheckout--button--primary--border-color--hover, var(--fluidcheckout--color--darker-grey, #1E212B)) !important;
  background-color: var(--fluidcheckout--button--primary--background-color--hover, var(--fluidcheckout--color--darker-grey, #1E212B)) !important;
  color: var(--fluidcheckout--button--primary--text-color--hover, var(--fluidcheckout--color--white, #fff)) !important;
}

.fc-wrapper .fc-coupon-code-section__inner {
  width: 100%;
}

.fc-wrapper .fc-coupon-code-section__message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 750px) {
  .fc-wrapper .fc-coupon-code-section__message {
    flex-direction: row;
  }
}

@media (max-width: 749px) {
  .fc-wrapper .fc-coupon-code-section__message-text {
    margin-bottom: 10px;
  }
}

@media (max-width: 749px) {
  .fc-wrapper .fc-coupon-code-section__message .button {
    width: 100%;
    text-align: center;
  }
}

.fc-wrapper .fc-coupon-code-section {
  position: relative;
}

.fc-wrapper .fc-coupon-code-section__inner .fc-coupon-code-section {
  margin-top: 10px;
}

.fc-wrapper .fc-coupon_code__collapsible .collapsible-content__inner {
  position: relative;
}

.fc-wrapper .fc-coupon_code__collapsible #coupon_code_field.form-row {
  float: none;
  margin: 0;
  padding: 0;
}

.fc-wrapper .fc-coupon_code__collapsible .woocommerce-input-wrapper {
  width: 100% !important;
}

.fc-wrapper .fc-coupon_code__collapsible input#coupon_code {
  margin: 0;
  width: 100% !important;
  height: 55px;
}
.fc-wrapper .fc-coupon_code__collapsible input#coupon_code:focus {
  z-index: 10;
  position: relative;
  outline: solid 2px var(--fluidcheckout--color--dark-grey, #535156) !important;
  outline-offset: 2px !important;
}

body div.woocommerce .fc-wrapper .fc-coupon_code__collapsible .fc-coupon-code__apply {
  z-index: 11;
  position: absolute !important;
  top: 5px;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  left: auto;
  right: 5px;
  height: 45px !important;
  min-height: 45px !important;
  line-height: 1 !important;
  width: auto;
}
body div.woocommerce .fc-wrapper .fc-coupon_code__collapsible .fc-coupon-code__apply:focus {
  outline: solid 2px var(--fluidcheckout--color--dark-grey, #535156) !important;
  outline-offset: 2px !important;
}

.fc-wrapper .fc-step__substep-text-content--coupon-codes:not(:empty) {
  margin-bottom: 20px;
}

.fc-wrapper .fc-coupon-codes__coupon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -10px 5px;
  padding: 5px 10px;
  border: var(--fluidcheckout--coupon-code--border-style, dashed) 1px var(--fluidcheckout--coupon-code--border-color, var(--fluidcheckout--border-color, var(--fluidcheckout--color--light-grey, #d8d8d8)));
  border-radius: var(--fluidcheckout--coupon-code--border-radius, 5px);
  background-color: var(--fluidcheckout--coupon-code--background-color, transparent);
}

.fc-wrapper .fc-coupon-codes__coupon-amount {
  flex-wrap: wrap;
  flex-shrink: 0;
}

.fc-wrapper .fc-coupon-codes__coupon-amount .woocommerce-remove-coupon {
  margin-left: 10px;
  font-size: 15px;
  font-weight: normal;
  line-height: inherit;
  text-decoration: underline;
  color: inherit;
  background-color: transparent;
}
.fc-wrapper .fc-coupon-codes__coupon-amount .woocommerce-remove-coupon:hover, .fc-wrapper .fc-coupon-codes__coupon-amount .woocommerce-remove-coupon:active, .fc-wrapper .fc-coupon-codes__coupon-amount .woocommerce-remove-coupon:focus {
  color: var(--fluidcheckout--color--error, #cc1818);
}
.fc-wrapper .fc-coupon-codes__coupon-amount .woocommerce-remove-coupon:focus {
  outline: dotted 1px var(--fluidcheckout--color--dark-grey, #535156) !important;
  outline-offset: 1px !important;
}

.fc-wrapper .fc-coupon-code-messages .woocommerce-error,
.fc-wrapper .fc-coupon-code-messages .woocommerce-message {
  display: block;
}