div.woocommerce .form-row .fc-inline-error:not(.invalid-country-not-allowed) {
  display: none;
}

div.woocommerce .form-row.woocommerce-invalid .fc-inline-error {
  display: block;
}

div.woocommerce .form-row .fc-inline-error,
div.woocommerce .shipping-method__package .fc-inline-error,
div.woocommerce .form-row .fc-mailcheck-suggestion {
  z-index: 2;
  position: relative;
  display: block;
  margin: 0;
  padding-inline: 0 !important;
  padding: remsize(0.5rem) remsize(1rem) remsize(0.5rem) !important;
  padding-right: remsize(0.5rem)remsize(1.8rem)remsize(0.5rem) !important;
  min-height: auto;
  border: 0;
  background-color: var(--fluidcheckout--color--lighter-grey, #f3f3f3);
  font-size: remsize(1.3rem);
  text-align: right;
  line-height: 1.6;
  animation: none;
  transform: none;
}

div.woocommerce .form-row .fc-mailcheck-suggestion {
  padding: remsize(0.5rem) remsize(1rem);
}

div.woocommerce .form-row .fc-mailcheck-suggestion .mailcheck-suggestion:focus {
  outline: dotted remsize(0.1rem) var(--fluidcheckout--color--dark-grey, #535156) !important;
  outline-offset: remsize(0.1rem) !important;
}

div.woocommerce .form-row .fc-inline-error,
div.woocommerce .shipping-method__package .fc-inline-error {
  color: var(--fluidcheckout--color--error, #cc1818);
}

div.woocommerce .shipping-method__package .fc-inline-error {
  padding-right: calc(remsize(1rem) + remsize(2.4rem) + var(--fluidcheckout--option-box--spacing--horizontal, remsize(1rem)) + remsize(0.1rem));
  background-color: transparent;
}

div.woocommerce .form-row .fc-inline-error:before,
div.woocommerce .shipping-method__package .fc-inline-error:before {
  display: inline-block;
  font-family: "fluid-checkout-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  content: "\e800";
  width: remsize(1.8rem);
  height: remsize(1.8rem);
  font-size: remsize(1.8rem);
  position: absolute;
  display: block !important;
  top: remsize(1.6rem);
  right: remsize(0.5rem);
  transform: translateY(-50%);
  color: inherit !important;
  speak: never;
}

div.woocommerce .form-row .fc-inline-error:after,
div.woocommerce .shipping-method__package .fc-inline-error:after {
  display: none;
}

div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) textarea,
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) select,
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=email],
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=number],
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=search],
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=text],
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=date],
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=tel],
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=url],
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=password],
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) .select2-selection {
  border-color: var(--fluidcheckout--color--success, #007a3d);
}

div.woocommerce form .form-row[class*=woocommerce-invalid] textarea,
div.woocommerce form .form-row[class*=woocommerce-invalid] select,
div.woocommerce form .form-row[class*=woocommerce-invalid] input[type=email],
div.woocommerce form .form-row[class*=woocommerce-invalid] input[type=number],
div.woocommerce form .form-row[class*=woocommerce-invalid] input[type=search],
div.woocommerce form .form-row[class*=woocommerce-invalid] input[type=text],
div.woocommerce form .form-row[class*=woocommerce-invalid] input[type=date],
div.woocommerce form .form-row[class*=woocommerce-invalid] input[type=tel],
div.woocommerce form .form-row[class*=woocommerce-invalid] input[type=url],
div.woocommerce form .form-row[class*=woocommerce-invalid] input[type=password],
div.woocommerce form .form-row[class*=woocommerce-invalid] .select2-selection {
  border-color: var(--fluidcheckout--color--error, #cc1818);
}

div.woocommerce form .shipping-method__package[class*=woocommerce-invalid] #shipping_method.shipping-method__options {
  border-color: var(--fluidcheckout--color--error, #cc1818);
}

div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon) .select2-selection:after, div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon):not(.fc-select2-field) .woocommerce-input-wrapper:after {
  display: inline-block;
  font-family: "fluid-checkout-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  content: "\e805";
  width: remsize(2.4rem);
  height: remsize(2.4rem);
  font-size: remsize(2.4rem);
  z-index: 10;
  position: absolute;
  top: calc(var(--fluidcheckout--field--height, remsize(4.5625rem)) / 2 - remsize(2.4rem) / 2);
  left: var(--fluidcheckout--validation-check--horizontal-spacing, remsize(0.5rem));
  border-radius: 100%;
  color: var(--fluidcheckout--color--success, #007a3d);
  pointer-events: none;
}
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon):not(.fc-select2-field) .woocommerce-input-wrapper.password-input:after {
  left: var(--fluidcheckout--validation-check--horizontal-spacing--password, remsize(2.5rem));
}
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon) .select2-selection:after {
  left: var(--fluidcheckout--validation-check--horizontal-spacing--select, remsize(1.5rem));
}
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]).fc-select2-field:not(.fc-no-validation-icon) select:not([required]) ~ .select2-container .select2-selection:after {
  left: var(--fluidcheckout--validation-check--horizontal-spacing--select-alt, remsize(2.5rem));
}
.woocommerce-terms-and-conditions-wrapper div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):after, div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]).create-account:after {
  content: "";
  display: none;
}