@charset "UTF-8";
/*------------------------------------*\
  #IMPORT ABSTRACT
\*------------------------------------*/
/** 
 * FUNCTIONS
 * 
 * Caution: This file is supposed to import all functions
 * except the `remsize` functions which is already imported
 * before the `variables` as it is needed earlier.
 */
/*------------------------------------*\
	#VARIABLES
\*------------------------------------*/
/** 
 * FUNCTIONS
 * 
 * Caution: This file is supposed to import all functions
 * except the `remsize` functions which is already imported
 * before the `variables` as it is needed earlier.
 */
/**
 * Return glyph values icons
 * @see https://www.sitepoint.com/better-solution-managing-z-index-sass/
 */
/**
 * Return z-index values for named layers
 * @see https://www.sitepoint.com/better-solution-managing-z-index-sass/
 */
/*------------------------------------*\
  #IMPORT STYLES
\*------------------------------------*/
/*------------------------------------*\
  #CHECKOUT CONTENT AREA
\*------------------------------------*/
body.woocommerce-checkout {
  overflow-x: hidden; }

body.woocommerce-checkout .content-area,
form.woocommerce-checkout {
  display: block !important;
  margin: 0; }

body.woocommerce-checkout .content-area {
  padding-bottom: 50px; }

body.woocommerce-checkout.has-checkout-header .content-area {
  min-height: 100vh; }

.wfc-content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box; }

body.woocommerce-checkout.has-checkout-header .wfc-content {
  max-width: 100%;
  padding: 0 20px; }
  @media (min-width: 750px) {
    body.woocommerce-checkout.has-checkout-header .wfc-content {
      max-width: 100%; } }
  @media (min-width: 1000px) {
    body.woocommerce-checkout.has-checkout-header .wfc-content {
      max-width: 100%; } }
  @media (min-width: 1280px) {
    body.woocommerce-checkout.has-checkout-header .wfc-content {
      max-width: 100%; } }
  @media (min-width: 1500px) {
    body.woocommerce-checkout.has-checkout-header .wfc-content {
      max-width: 1400px; } }
  @media (min-width: 2000px) {
    body.woocommerce-checkout.has-checkout-header .wfc-content {
      max-width: 1400px; } }
  @media (min-width: 750px) {
    body.woocommerce-checkout.has-checkout-header .wfc-content {
      padding: 0 30px; } }
  @media (min-width: 1000px) {
    body.woocommerce-checkout.has-checkout-header .wfc-content {
      padding: 0 50px; } }
  @media (min-width: 1280px) {
    body.woocommerce-checkout.has-checkout-header .wfc-content {
      padding: 0 50px; } }
  @media (min-width: 1500px) {
    body.woocommerce-checkout.has-checkout-header .wfc-content {
      padding: 0 50px; } }
  @media (min-width: 2000px) {
    body.woocommerce-checkout.has-checkout-header .wfc-content {
      padding: 0 50px; } }

/*------------------------------------*\
  #CHECKOUT COLUMNS LAYOUT
\*------------------------------------*/
@media (min-width: 1000px) {
  body:not(.has-checkout-must-login-notice) .wfc-checkout-header,
  body:not(.has-checkout-must-login-notice) .wfc-checkout-notices,
  body:not(.has-checkout-must-login-notice) .wfc-inside {
    float: left;
    width: 60%;
    padding-right: 50px; } }

.wfc-sidebar {
  position: static; }
  @media (min-width: 1000px) {
    .wfc-sidebar {
      float: right;
      width: 40%;
      padding-left: 50px; } }

@media (min-width: 1000px) {
  .wfc-sidebar:before {
    z-index: 1;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    background: linear-gradient(90deg, #e1e9e9 0%, #F0F4F4 0.5%, #F0F4F4 100%);
    border-left: none;
    width: 100vw;
    margin-left: -50px; } }

.wfc-sidebar__inner {
  z-index: 10; }
  @media (min-width: 1000px) {
    .wfc-sidebar__inner {
      position: absolute;
      top: 0;
      width: 32%;
      width: calc( 40% - 90px); } }

/*------------------------------------*\
  #CHECKOUT COLUMNS LAYOUT
\*------------------------------------*/
.wfc-checkout-header .widget,
.wfc-wrapper .widget {
  margin: 0; }

/*------------------------------------*\
  #CHECKOUT HEADER
\*------------------------------------*/
.wfc-checkout-header {
  z-index: 300;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 60px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); }
  @media (min-width: 1000px) {
    .wfc-checkout-header {
      position: static;
      min-height: 100px;
      box-shadow: none;
      background-color: transparent; } }

.admin-bar .wfc-checkout-header {
  top: 46px; }
  @media screen and (min-width: 783px) {
    .admin-bar .wfc-checkout-header {
      top: 32px; } }

@media (max-width: 999px) {
  .wfc-checkout-header + .wfc-checkout-notices,
  .wfc-checkout-header + form.woocommerce-checkout {
    padding-top: 80px; } }

.wfc-checkout-header__inner {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 0 20px; }
  @media (min-width: 750px) {
    .wfc-checkout-header__inner {
      max-width: 100%; } }
  @media (min-width: 1000px) {
    .wfc-checkout-header__inner {
      max-width: none; } }
  @media (min-width: 750px) {
    .wfc-checkout-header__inner {
      padding: 0 30px; } }
  @media (min-width: 1000px) {
    .wfc-checkout-header__inner {
      padding: 0; } }

.wfc-checkout-header .wfc-checkout__branding {
  width: 50%;
  line-height: 1; }

.wfc-checkout-header .wfc-checkout__title.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.wfc-checkout-header .wfc-checkout__site-name {
  display: inline-block;
  margin: 10px 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold; }

.wfc-checkout-header .custom-logo-link {
  display: inline-block;
  margin: 2px 0 0; }

.wfc-checkout-header .custom-logo {
  margin: 17.5px 0;
  height: 25px;
  width: auto; }
  @media (min-width: 1000px) {
    .wfc-checkout-header .custom-logo {
      margin: 30px 0;
      height: 40px; } }

.wfc-checkout-header .wfc-checkout__cart-link-wrapper {
  position: absolute;
  top: 0;
  right: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  line-height: 1; }
  @media (min-width: 400px) {
    .wfc-checkout-header .wfc-checkout__cart-link-wrapper {
      right: 20px; } }
  @media (min-width: 750px) {
    .wfc-checkout-header .wfc-checkout__cart-link-wrapper {
      right: 30px; } }
  @media (min-width: 1000px) {
    .wfc-checkout-header .wfc-checkout__cart-link-wrapper {
      display: none; } }

.wfc-checkout-header .wfc-checkout__cart-link {
  margin: 5px 0;
  padding: 10px 8px 8px 10px;
  background-color: #fff;
  border: solid 1px #F0F4F4;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
  font-size: 15px;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease; }
  .wfc-checkout-header .wfc-checkout__cart-link:active {
    box-shadow: none;
    transform: translateY(1px);
    color: inherit; }

.wfc-checkout-header .wfc-checkout__cart-link:before {
  display: inline-block;
  font-family: "fluid-checkout-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  display: inline-block;
  font-family: "fluid-checkout-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  content: "";
  width: 18px;
  height: 18px;
  font-size: 18px;
  margin-right: 10px; }

.wfc-checkout-header .wfc-checkout__cart-link:after {
  display: inline-block;
  font-family: "fluid-checkout-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  display: inline-block;
  font-family: "fluid-checkout-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  content: "";
  width: 18px;
  height: 18px;
  font-size: 18px; }

@media (min-width: 1000px) {
  .wfc-checkout-header .wfc-checkout__header-widgets {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: flex-end;
    margin: 0;
    width: 50%; } }

/*------------------------------------*\
  #CHECKOUT PROGRESS BAR
\*------------------------------------*/
.wfc-progress-bar {
  margin-top: 5px;
  margin-bottom: 5px; }

.wfc-progress-bar__count {
  color: #535156;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center; }
  @media (min-width: 1000px) {
    .wfc-progress-bar__count {
      font-size: 15px; } }

.wfc-progress-bar__bars {
  width: 100%;
  height: 5px;
  border: none;
  border-radius: 2.5px;
  background-color: #D6D8D8;
  overflow: hidden; }

.wfc-progress-bar__bar {
  display: block;
  float: left;
  margin: 0;
  width: 0;
  height: 5px;
  background-color: #D6D8D8;
  transition: width 0.3s linear, background-color 0.3s linear; }

.wfc-progress-bar__bar.complete {
  background-color: #1FC19E; }

.wfc-progress-bar__bar.current {
  background-color: rgba(31, 193, 158, 0.4); }

.wfc-progress-bar__bars[data-step-count="2"] .wfc-progress-bar__bar.complete,
.wfc-progress-bar__bars[data-step-count="2"] .wfc-progress-bar__bar.current {
  width: 50%; }

.wfc-progress-bar__bars[data-step-count="3"] .wfc-progress-bar__bar.complete,
.wfc-progress-bar__bars[data-step-count="3"] .wfc-progress-bar__bar.current {
  width: 33.33333%; }

.wfc-progress-bar__bars[data-step-count="4"] .wfc-progress-bar__bar.complete,
.wfc-progress-bar__bars[data-step-count="4"] .wfc-progress-bar__bar.current {
  width: 25%; }

.wfc-progress-bar__bars[data-step-count="5"] .wfc-progress-bar__bar.complete,
.wfc-progress-bar__bars[data-step-count="5"] .wfc-progress-bar__bar.current {
  width: 20%; }

.wfc-progress-bar__bars[data-step-count="6"] .wfc-progress-bar__bar.complete,
.wfc-progress-bar__bars[data-step-count="6"] .wfc-progress-bar__bar.current {
  width: 16.66667%; }

.wfc-progress-bar__bars[data-step-count="7"] .wfc-progress-bar__bar.complete,
.wfc-progress-bar__bars[data-step-count="7"] .wfc-progress-bar__bar.current {
  width: 14.28571%; }

.wfc-progress-bar__bars[data-step-count="8"] .wfc-progress-bar__bar.complete,
.wfc-progress-bar__bars[data-step-count="8"] .wfc-progress-bar__bar.current {
  width: 12.5%; }

.wfc-progress-bar__bars[data-step-count="9"] .wfc-progress-bar__bar.complete,
.wfc-progress-bar__bars[data-step-count="9"] .wfc-progress-bar__bar.current {
  width: 11.11111%; }

.wfc-progress-bar__bars[data-step-count="10"] .wfc-progress-bar__bar.complete,
.wfc-progress-bar__bars[data-step-count="10"] .wfc-progress-bar__bar.current {
  width: 10%; }

/*------------------------------------*\
	#CHECKOUT STEPS
\*------------------------------------*/
.wfc-checkout-step {
  padding: 20px 0; }

.wfc-step__substep + .wfc-step__substep {
  margin-top: 20px; }

.wfc-step__substep-title {
  margin: 0 0 10px 0;
  color: #535156;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  text-align: left; }
  @media (min-width: 1000px) {
    .wfc-step__substep-title {
      font-size: 15px; } }

.wfc-step__substep-fields {
  display: inline-block;
  padding-top: 10px;
  width: 100%; }

.wfc-step__substep-text {
  display: none; }

/*------------------------------------*\
	#CHECKOUT LAYOUT MULTI-STEP
\*------------------------------------*/
.has-checkout-layout--multi-step [data-step-complete] .wfc-step__substep-title {
  position: relative;
  padding: 0 0 0 33px;
  color: #888181; }
  .has-checkout-layout--multi-step [data-step-complete] .wfc-step__substep-title:before {
    display: inline-block;
    font-family: "fluid-checkout-icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    content: "";
    width: 18px;
    height: 18px;
    font-size: 18px;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    background-color: #888181;
    color: #fff; }

.has-checkout-layout--multi-step [data-step-current] ~ .wfc-checkout-step {
  display: none; }

.has-checkout-layout--multi-step [data-step-complete] .wfc-step__substep-fields {
  display: none; }

.has-checkout-layout--multi-step .wfc-step__substep-text {
  display: none;
  padding: 0 0 0 33px;
  color: #888181;
  font-weight: normal;
  font-size: 15px; }
  @media (min-width: 1000px) {
    .has-checkout-layout--multi-step .wfc-step__substep-text {
      font-size: 15px; } }

.has-checkout-layout--multi-step [data-step-complete] .wfc-step__substep-text {
  display: block; }

.has-checkout-layout--multi-step .wfc-step__substep-text-line {
  display: block;
  width: 100%; }

.has-checkout-layout--multi-step [data-step-complete] .wfc-step__substep-title {
  position: relative;
  padding: 0 0 0 33px;
  color: #888181; }
  .has-checkout-layout--multi-step [data-step-complete] .wfc-step__substep-title:before {
    display: inline-block;
    font-family: "fluid-checkout-icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    content: "";
    width: 18px;
    height: 18px;
    font-size: 18px;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    background-color: #888181;
    color: #fff; }

/*------------------------------------*\
	#CHECKOUT LAYOUT MULTI-STEP
\*------------------------------------*/
@media (max-width: 999px) {
  .wfc-sidebar .wfc-checkout-order-review {
    display: none; } }

@media (min-width: 1000px) {
  .wfc-checkout-step[data-step-id="payment"] .wfc-checkout-order-review {
    display: none; } }

/*------------------------------------*\
	#ORDER SUMMARY
\*------------------------------------*/
.wfc-wrapper .wfc-checkout-order-review {
  padding-top: 30px;
  padding-bottom: 30px; }

.wfc-wrapper .wfc-checkout-order-review-title {
  text-align: center; }

.wfc-wrapper .woocommerce-checkout-review-order-table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 15px; }
  @media (min-width: 1000px) {
    .wfc-wrapper .woocommerce-checkout-review-order-table {
      font-size: 15px; } }

.wfc-wrapper .woocommerce-checkout-review-order-table th,
.wfc-wrapper .woocommerce-checkout-review-order-table td,
.wfc-wrapper .woocommerce-checkout-review-order-table tr:first-child th,
.wfc-wrapper .woocommerce-checkout-review-order-table tr:first-child td {
  border-top: 0;
  border-bottom: 0; }

.wfc-wrapper .woocommerce-checkout-review-order-table tr {
  border-bottom: solid 1px #D6D8D8; }

.wfc-wrapper .woocommerce-checkout-review-order-table tr:first-child {
  border-top: solid 1px #D6D8D8; }

.wfc-wrapper .woocommerce-checkout-review-order-table th,
.wfc-wrapper .woocommerce-checkout-review-order-table td {
  padding: 10px 10px;
  background-color: transparent; }

.wfc-wrapper .woocommerce-checkout-review-order-table tfoot th {
  text-align: left; }

.wfc-wrapper .woocommerce-checkout-review-order-table .product-total,
.wfc-wrapper .woocommerce-checkout-review-order-table tfoot td {
  font-size: 15px;
  text-align: right;
  line-height: 1;
  white-space: nowrap; }

.wfc-wrapper .woocommerce-checkout-review-order-table td.product-total {
  padding-top: 27.5px;
  vertical-align: top; }
  @media (min-width: 1000px) {
    .wfc-wrapper .woocommerce-checkout-review-order-table td.product-total {
      padding-top: 37.5px; } }

.wfc-wrapper .woocommerce-checkout-review-order-table .product-name {
  width: 70%;
  min-width: 180px; }

.wfc-wrapper .woocommerce-checkout-review-order-table td.product-name {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-left: 70px;
  min-height: 70px;
  width: 100%;
  background-color: transparent; }
  @media (min-width: 1000px) {
    .wfc-wrapper .woocommerce-checkout-review-order-table td.product-name {
      padding-left: 90px;
      min-height: 90px; } }

.wfc-wrapper .woocommerce-checkout-review-order-table .attachment-woocommerce_thumbnail {
  position: absolute;
  top: 10px;
  left: 10px;
  border: solid 1px #F0F4F4;
  width: 50px !important;
  height: 50px !important;
  vertical-align: middle; }
  @media (min-width: 1000px) {
    .wfc-wrapper .woocommerce-checkout-review-order-table .attachment-woocommerce_thumbnail {
      width: 70px !important;
      height: 70px !important; } }

.wfc-wrapper .woocommerce-checkout-review-order-table .product-quantity {
  z-index: 10;
  position: absolute;
  top: 10px;
  left: 65px;
  transform: translateX(-100%) translateY(-25%);
  display: block;
  padding: 1px 6px 2px 5px;
  border-radius: 8.5px;
  background-color: #535156;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 0; }
  @media (min-width: 1000px) {
    .wfc-wrapper .woocommerce-checkout-review-order-table .product-quantity {
      left: 85px; } }

.wfc-wrapper .woocommerce-checkout-review-order-table td.product-total {
  background-color: transparent; }

/*------------------------------------*\
	#THEME SUPPORT
\*------------------------------------*/
.wfc-wrapper .wfc-checkout-order-review #order_review {
  float: none;
  width: 100%;
  background-color: transparent; }

.woocommerce-checkout form .wfc-wrapper #order_review .woocommerce-checkout-review-order-table tbody::after {
  display: none; }
