body.admin-bar:not(.fc-admin-bar-in-view) .fc-checkout-header,
body.admin-bar:not(.fc-admin-bar-in-view) header.fc-checkout-header {
  top: 0 !important;
}

body.admin-bar:not(.fc-admin-bar-in-view) .fc-progress-bar[data-sticky-states].is-sticky--top .fc-progress-bar__inner {
  transform: translateY(0) !important;
}

body.admin-bar:not(.fc-admin-bar-in-view) .fc-wrapper .fc-sidebar.is-sticky .fc-sidebar__inner,
body.admin-bar:not(.fc-admin-bar-in-view) .fc-sidebar[data-sticky-states].is-sticky--top .fc-sidebar__inner {
  padding-top: 5px !important;
}

body.admin-bar:not(.fc-admin-bar-in-view) .fc-wrapper .fc-checkout-order-review[data-flyout].is-activated.is-open {
  padding: 60px 0 0 !important;
}