.fc-gift-options__message {
  margin: 0 0 30px;
  padding: 30px 20px;
  border: dashed 1px #D8D8D8;
  border-radius: 5px;
  text-align: center;
}

.fc-gift-options__message .fc-gift-options__message-text {
  max-width: 750px;
  display: block;
  margin: 0 auto;
  border: 0;
  font-size: 1.2em;
  font-style: italic;
}

.fc-gift-options__message .fc-gift-options__message-from {
  margin-top: 5px;
}