/*------------------------------------*\
	#IMPORT ABSTRACT
\*------------------------------------*/
/** 
 * FUNCTIONS
 * 
 * Caution: This file is supposed to import all functions
 * except the `remsize` functions which is already imported
 * before the `variables` as it is needed earlier.
 */
/*------------------------------------*\
	#VARIABLES
\*------------------------------------*/
/** 
 * FUNCTIONS
 * 
 * Caution: This file is supposed to import all functions
 * except the `remsize` functions which is already imported
 * before the `variables` as it is needed earlier.
 */
/*------------------------------------*\
	#IMPORT STYLES
\*------------------------------------*/
/*------------------------------------*\
  #STICKY STATES
\*------------------------------------*/
[data-sticky-states].is-sticky [data-sticky-states-inner] {
  z-index: 300;
  position: fixed; }

[data-sticky-states].is-sticky--top [data-sticky-states-inner] {
  top: 0; }

[data-sticky-states].is-sticky--bottom [data-sticky-states-inner] {
  bottom: 0; }

[data-sticky-states].is-end-position {
  position: relative; }

[data-sticky-states].is-end-position [data-sticky-states-inner] {
  position: absolute; }
