.ts-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.ts-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  min-height: var(--fluidcheckout--field--height, 45.625px);
}

.ts-control > * {
  vertical-align: baseline;
  display: inline-block;
}

.ts-control {
  z-index: 1;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 30px;
  padding-left: var(--fluidcheckout--field--padding-left, 8px);
  width: 100%;
  height: var(--fluidcheckout--field--height, 45.625px);
  min-height: var(--fluidcheckout--field--height, 45.625px);
  border: var(--fluidcheckout--field--border-width, 1px) solid var(--fluidcheckout--field--border-color, var(--fluidcheckout--color--light-grey, #d8d8d8));
  border-width: var(--fluidcheckout--field--border-width, 1px);
  border-color: var(--fluidcheckout--field--border-color, var(--fluidcheckout--color--light-grey, #d8d8d8));
  border-radius: var(--fluidcheckout--field--border-radius, 0);
  background-color: var(--fluidcheckout--field--background-color, var(--fluidcheckout--color--white, #fff));
  box-shadow: var(--fluidcheckout--field--box-shadow, none);
  color: var(--fluidcheckout--field--text-color, inherit);
  line-height: calc(var(--fluidcheckout--field--height, 45.625px) - 20px - var(--fluidcheckout--field--border-width, 1px) * 2);
  text-align: left;
  cursor: text;
}

.ts-wrapper.focus .ts-control {
  background-color: var(--fluidcheckout--field--background-color--focus, var(--fluidcheckout--field--background-color, var(--fluidcheckout--color--white, #fff)));
  box-shadow: var(--fluidcheckout--field--box-shadow--focus, var(--fluidcheckout--field--box-shadow, none));
}

.ts-wrapper.single .ts-control {
  border-radius: var(--fluidcheckout--field--border-radius, 0);
  cursor: pointer;
}

.ts-wrapper.single.input-active .ts-control {
  cursor: text;
}

.ts-wrapper.disabled .ts-control,
.ts-wrapper.disabled .ts-control * {
  cursor: default !important;
}

.ts-control > input {
  display: inline-block !important;
  flex: 1 1 auto;
  margin: 0 !important;
  padding: 0 !important;
  width: auto !important;
  min-width: 70px;
  min-height: 0 !important;
  max-height: none !important;
  max-width: 100% !important;
  border: 0 none !important;
  border-radius: 0 !important;
  background: none !important;
  text-indent: 0 !important;
  line-height: calc(var(--fluidcheckout--field--height, 45.625px) - var(--fluidcheckout--field--border-width, 1px) * 2 - 20px);
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  user-select: auto !important;
  box-shadow: none !important;
}
.ts-control > input:focus {
  outline: none !important;
  outline-offset: none !important;
}

.ts-control > input::-ms-clear {
  display: none;
}

.has-items .ts-control > input {
  margin: 0 4px !important;
}

.disabled .ts-control {
  opacity: 0.5;
  background-color: var(--fluidcheckout--color--lighter-grey, #f3f3f3);
}

.ts-wrapper.single .ts-control input {
  cursor: pointer;
}

.ts-control:focus-within {
  outline: solid 2px var(--fluidcheckout--color--dark-grey, #535156) !important;
  outline-offset: 2px !important;
}

div.woocommerce form .form-row .ts-control input[type=text]:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
}

.ts-wrapper.single .ts-control > [data-ts-item] {
  width: auto;
  height: calc(var(--fluidcheckout--field--height, 45.625px) - var(--fluidcheckout--field--border-width, 1px) * 2);
  font-size: var(--fluidcheckout--field--font-size, 16px);
  line-height: calc(var(--fluidcheckout--field--height, 45.625px) - var(--fluidcheckout--field--border-width, 1px) * 2);
  color: var(--fluidcheckout--field--text-color, inherit);
}

.dropdown-active.single .ts-control > [data-ts-item] {
  display: none;
}

.ts-wrapper.single .ts-control::after {
  content: " ";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  left: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: transparent;
  border-top-color: var(--fluidcheckout--color--grey, #7b7575);
}

.ts-wrapper.single.dropdown-active .ts-control::after {
  margin-top: -4px;
  border-width: 0 5px 5px 5px;
  border-color: transparent;
  border-bottom-color: var(--fluidcheckout--color--grey, #7b7575);
}

.ts-wrapper.single.input-active .ts-control,
.ts-wrapper.single.input-active .ts-control input {
  cursor: text;
}

.input-hidden .ts-control > input {
  opacity: 0;
  position: absolute;
  left: -10000px;
}

div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) .ts-control {
  border-color: var(--fluidcheckout--color--success, #007a3d);
}

div.woocommerce form .form-row[class*=woocommerce-invalid] .ts-control {
  border-color: var(--fluidcheckout--color--error, #cc1818);
}

div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon).fc-select2-field .woocommerce-input-wrapper:after {
  display: inline-block;
  font-family: "fluid-checkout-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  content: "\e805";
  width: 24px;
  height: 24px;
  font-size: 24px;
  z-index: 10;
  position: absolute;
  top: calc(var(--fluidcheckout--field--height, 45.625px) / 2 - 24px / 2);
  right: var(--fluidcheckout--validation-check--horizontal-spacing, 5px);
  border-radius: 100%;
  color: var(--fluidcheckout--color--success, #007a3d);
  pointer-events: none;
}
div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon).fc-select2-field:not(.fc-multiselect-field):not(.fc-select-field--text):not(.fc-select-field--hidden) .woocommerce-input-wrapper:after {
  right: calc(var(--fluidcheckout--validation-check--horizontal-spacing, 5px) + 10px + 5px + 5px);
}

.ts-dropdown {
  z-index: 11;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  right: auto;
  margin: 0;
  width: 100%;
  border: var(--fluidcheckout--field--border-width, 1px) solid var(--fluidcheckout--color--light-grey, #d8d8d8);
  background: var(--fluidcheckout--color--white, #fff);
  border-top: 0 none;
  box-shadow: 0 3px 8px var(--fluidcheckout--shadow-color--darker, var(--fluidcheckout--color--light-grey, #d8d8d8));
  border-radius: var(--fluidcheckout--field--border-radius, 0);
}

.keeping-closed .ts-dropdown {
  display: none !important;
}

.ts-dropdown [data-selectable] {
  cursor: pointer;
  overflow: hidden;
}

.ts-dropdown [data-selectable] .highlight {
  padding: 0;
  background: transparent;
  color: var(--fluidcheckout--field--text-color, inherit);
  text-decoration: underline;
}

.ts-dropdown .option,
.ts-dropdown .optgroup-header,
.ts-dropdown .no-results,
.ts-dropdown .create {
  padding: 5px 10px;
  font-size: var(--fluidcheckout--field--font-size, 16px);
}

.ts-dropdown .option,
.ts-dropdown [data-disabled],
.ts-dropdown [data-disabled] [data-selectable].option {
  cursor: inherit;
  opacity: 0.5;
}

.ts-dropdown [data-selectable].option {
  opacity: 1;
  cursor: pointer;
}

.ts-dropdown .optgroup:first-child .optgroup-header {
  border-top: 0 none;
}

.ts-dropdown .optgroup-header {
  color: var(--fluidcheckout--field--text-color, inherit);
  background: var(--fluidcheckout--color--white, #fff);
  cursor: default;
}

.ts-dropdown .active {
  background-color: var(--fluidcheckout--field--background-color--accent, var(--fluidcheckout--color--grey, #7b7575));
  color: var(--fluidcheckout--field--text-color--accent, var(--fluidcheckout--color--white, #fff));
}

.ts-dropdown .active.create {
  color: var(--fluidcheckout--field--text-color--accent, var(--fluidcheckout--color--white, #fff));
}

.ts-dropdown .create {
  color: var(--fluidcheckout--field--text-color, inherit);
}

.ts-dropdown .spinner {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px 10px;
}

.ts-dropdown .spinner::after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  margin: 3px;
  border-radius: 50%;
  border: 5px solid var(--fluidcheckout--field--border-color, var(--fluidcheckout--color--light-grey, #d8d8d8));
  border-color: var(--fluidcheckout--field--border-color, var(--fluidcheckout--color--light-grey, #d8d8d8)) transparent var(--fluidcheckout--field--border-color, var(--fluidcheckout--color--light-grey, #d8d8d8)) transparent;
  animation: loader-spin 1.2s linear infinite;
}

.ts-dropdown-content {
  overflow: hidden auto;
  max-height: 200px;
  scroll-behavior: smooth;
}

.ts-wrapper.multi.has-items .ts-control {
  padding: 0 calc(10px / 2);
  height: auto;
}

.ts-wrapper.multi .ts-control > input {
  width: auto !important;
}

.ts-wrapper.multi .ts-control [data-value] {
  position: relative;
  margin-top: calc(10px / 2);
  margin-bottom: calc(10px / 2);
  margin-right: calc(10px / 2);
  padding: 0 5px;
  border: solid 1px var(--fluidcheckout--color--light-grey, #d8d8d8);
  border-radius: var(--fluidcheckout--field-item--border-radius, 3px);
  background-color: var(--fluidcheckout--color--lighter-grey, #f3f3f3);
  line-height: calc(var(--fluidcheckout--field--height, 45.625px) - 10px - 10px / 2);
  text-shadow: 0 1px 0 rgba(0, 51, 83, 0.3);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.03);
}

.ts-wrapper.multi.plugin-remove_button .ts-control [data-value] {
  padding-right: calc(10px / 2 + 20px);
}

.ts-wrapper.multi .ts-control [data-value].active {
  color: var(--fluidcheckout--field--text-color--accent, var(--fluidcheckout--color--white, #fff));
  background-color: var(--fluidcheckout--field--background-color--accent, var(--fluidcheckout--color--grey, #7b7575));
  border-color: var(--fluidcheckout--field--background-color--accent, var(--fluidcheckout--color--grey, #7b7575));
}

.ts-wrapper.multi.disabled .ts-control [data-value] {
  color: var(--fluidcheckout--color--light-grey, #d8d8d8);
  text-shadow: none;
  background: none;
  box-shadow: none;
  border-color: var(--fluidcheckout--color--light-grey, #d8d8d8);
}

.ts-wrapper.multi .ts-control [data-value] .remove {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  border: 0;
  border-radius: 0;
  background: none;
  line-height: calc(var(--fluidcheckout--field--height, 45.625px) - 10px - 10px / 2) !important;
  text-align: center;
  color: var(--fluidcheckout--color--grey, #7b7575) !important;
  font-weight: normal;
}
.ts-wrapper.multi .ts-control [data-value] .remove:focus, .ts-wrapper.multi .ts-control [data-value] .remove:hover, .ts-wrapper.multi .ts-control [data-value] .remove:active {
  outline: none;
  color: var(--fluidcheckout--color--error, #cc1818) !important;
}

.ts-wrapper.multi .ts-control [data-value] .remove:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: var(--fluidcheckout--color--grey, #7b7575);
  opacity: 0.15;
}

.ts-wrapper.multi .ts-control [data-value].active .remove {
  color: var(--fluidcheckout--field--text-color--accent, var(--fluidcheckout--color--white, #fff)) !important;
}

.ts-wrapper.multi .ts-control [data-value].active .remove:after {
  background-color: var(--fluidcheckout--field--text-color--accent, var(--fluidcheckout--color--white, #fff));
}

.ts-wrapper.multi.disabled .ts-control [data-value] .remove {
  border-color: var(--fluidcheckout--color--light-grey, #d8d8d8);
  background: none;
}