/*
 * WooCommerce Fluid Checkout - Layout: Multi Step
 */
 
@media ( min-width: 1000px ) {
  .wfc-wrapper {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}



.woocommerce-checkout.has-wfc-checkout-layout--multi-step .col2-set,
.woocommerce-checkout.has-wfc-checkout-layout--multi-step #order_review_heading,
.woocommerce-checkout.has-wfc-checkout-layout--multi-step #order_review {
  width: 100%;
  float: none;
}



.wfc-checkout-steps {
  overflow: hidden;
}



.wfc-checkout-steps--active .wfc-frame {
  display: none;
}

.wfc-checkout-steps--active .wfc-frame.current {
  display: block;
}



.wfc-checkout-steps--active .wfc-actions {
  text-align: center;
}
@supports ( display: flex ) {
  .wfc-checkout-steps--active .wfc-actions {
    display: flex;
    width: 100%;
  }
}



#wfc-wrapper .wfc-prev,
#wfc-wrapper .wfc-next {
  display: none;
}

.wfc-checkout-steps--active .wfc-prev,
.wfc-checkout-steps--active .wfc-next {
  width: auto;
  display: inline-block;
}

.wfc-checkout-steps--active .wfc-next {
  min-width: 22rem;
}

@supports ( display: flex ) {
  .wfc-checkout-steps--active .wfc-prev {
    flex-shrink: 1;
  }

  .wfc-checkout-steps--active .wfc-next {
    flex-grow: 1;
    flex-shrink: 1;
  }
}



.wfc-checkout-steps--active .wfc-frame.current {
  animation: slideInRight cubic-bezier(0.22, 0.61, 0.36, 1) 200ms; // ease-out-cubic
}

.wfc-checkout-steps--active .wfc-prev {
  margin-right: 10px;
}




/**
 * ANIMATIONS
 */
@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}






/**
 * Payment
 */
.woocommerce-checkout-payment {
  margin-bottom: 40px;
}

#place_order {
  width: 100%;
}
