/*
 * WooCommerce Fluid Checkout layout styles
 */

.wfc-header {
  display: none;
}

#wfc-wrapper.active .wfc-header {
  display: block;
}



#wfc-progressbar {
  display: flex;
  margin: 0;
  overflow: hidden;
}

.wfc-step {
  box-sizing: border-box;
  position: relative;
  flex: 1;
  cursor: pointer;
}

.wfc-step[disabled],
.wfc-step.disabled {
  cursor: default;
}

.wfc-step:first-child:before,
.wfc-step:last-child:after {
  content: '';
  display: none;
}



.wfc-header {
  display: block;
}

#wfc-wrapper.active .wfc-frame {
  display: none;
}

#wfc-wrapper.active .wfc-frame.current {
  display: block;
}



#wfc-wrapper .wfc-prev,
#wfc-wrapper .wfc-next {
  display: none;
}

#wfc-wrapper.active .wfc-actions {
  display: flex;
  width: 100%;
}

#wfc-wrapper.active .wfc-prev {
  display: block;
  flex-shrink: 1;
}

#wfc-wrapper.active .wfc-next {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
}
