/*------------------------------------*\
  #FLUID SLIDER
\*------------------------------------*/
.slider-viewport,
.slider-wrapper {
    position: relative;
}



.slider-viewport.is-activated,
.slider-viewport.is-resizing {
    width: 100%;
    overflow: hidden;
}



.slider-viewport.is-activated .slider-item {
    float: left;
    clear: none;
}



.slider-viewport.is-animating .slider-container {
    transition: transform 200ms cubic-bezier( 0.25, 0, 0.25, 1 );
}



.slider-navigation__prev,
.slider-navigation__next {
    z-index: 10; // Above the slide elements
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    width: 25px;
    height: 50px;
    background: transparent;
    color: inherit;
    box-shadow: none;
    
    &:hover,
    &:focus,
    &:active {
        box-shadow: none;
        transform: translateY(-50%) scale(1.15);
    }
}
.slider-navigation__prev {
    left: -22px;
    @media (min-width: 750px) { left: -30px; }
    @media (min-width: 1000px) { left: -35px; }
    @media (min-width: 1200px) { left: -45px; }
}
.slider-navigation__next {
    right: -22px;
    @media (min-width: 750px) { right: -30px; }
    @media (min-width: 1000px) { right: -35px; }
    @media (min-width: 1200px) { right: -45px; }
}



.slider-wrapper.has-navigation-bullets {
    margin-bottom: 20px;
}
.slider-navigation-bullets {
    position: absolute;
    bottom: -20px;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 5px;
    line-height: 5px;
}
.slider-navigation-bullets__item {
    display: inline-block;
    margin-right: 5px;
    width: 5px;
    height: 5px;
    background-color: rgba(0,0,0,.5);
    border-radius: 5px;
}
.slider-navigation-bullets__item:last-child {
    margin-right: 0;
}
.slider-navigation-bullets__item.is-current {
    background-color: #000;
}



/*------------------------------------*\
  #POST/PRODUCT SLIDERS
\*------------------------------------*/
.product-slider .slider-navigation__prev,
.product-slider .slider-navigation__next,
.post-slider .slider-navigation__prev,
.post-slider .slider-navigation__next {
    top: 50%;
    transform: translateY(-50%);
}
