// ------------------------------------
// IMPORT ABSTRACT
// ------------------------------------
@import
	"../../abstract/_all-early",
	"../../abstract/_variables-rtl",
	"../../abstract/_all";





// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-theme-selector-prefix:          'body.theme-kentha' !default;
$_select2-border-width:                remsize( .1rem ) !default;
$_select2-border-radius:               0 !default;
$_select2-selection-height:            remsize( 4.8rem ) !default;





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"kentha/checkout-content-area",
	"kentha/checkout-steps",
	"kentha/woocommerce-form-fields",
	"kentha/checkout-payment-methods",
	"kentha/checkout-shipping-methods",
	"../../partials/woocommerce-form-fields-select2",
	"kentha/woocommerce-form-fields-select2";
