// ------------------------------------
// IMPORT ABSTRACT
// ------------------------------------
@import
	"../../abstract/_all-early",
	"../../abstract/_variables-rtl",
	"../../abstract/_all";





// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-theme-selector-prefix:          'body.theme-zota' !default;
$_select2-border-width:                remsize( .1rem ) !default;
$_select2-border-radius:               remsize( .4rem ) !default;
$_select2-selection-height:            remsize( 4.8rem ) !default;





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"zota/checkout-payment-methods",
	"../../partials/woocommerce-form-fields-select2";
