// ------------------------------------
// IMPORT ABSTRACT
// ------------------------------------
@import
	"../../abstract/_all-early",
    "../../abstract/variables-rtl",
	"../../abstract/_all";





// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-theme-selector-prefix:          'body.theme-aora' !default;
$_select2-border-width:                remsize( .1rem ) !default;
$_select2-border-radius:               remsize( .3rem ) !default;
$_select2-selection-height:            remsize( 4.4rem ) !default;





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"aora/checkout-shipping-methods",
	"aora/checkout-payment-methods",
	"aora/checkout-place-order",
	"aora/checkout-validation",
	"../../partials/woocommerce-form-fields-select2",
	"aora/woocommerce-form-fields-select2";
