// ------------------------------------
// IMPORT ABSTRACT
// ------------------------------------
@import "../../abstract/_all";





// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;
$_body-theme-selector:                 '.theme-Divi' !default;
$_select2-border-width:                remsize( .1rem ) !default;
$_select2-border-radius:               remsize( .3rem ) !default;
$_select2-selection-height:            remsize( 5.1rem ) !default;





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"Divi/checkout-validation",
	"Divi/woocommerce-form-fields",
	"../../partials/woocommerce-form-fields-select2";
