// ------------------------------------
// IMPORT ABSTRACT
// ------------------------------------
@import
	"../../abstract/_all-early",
    "../../abstract/_variables-rtl",
	"../../abstract/_all";





// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-theme-selector-prefix:          'body.theme-astra' !default;
$_select2-border-width:                remsize( .1rem ) !default;
$_select2-border-radius:               0 !default;
$_select2-selection-height:            remsize( 4.25rem ) !default;




// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"astra/checkout-shipping-methods",
	"astra/checkout-validation",
	"astra/order-summary",
	"../../partials/woocommerce-form-fields-select2",
	"astra/woocommerce-form-fields-select2";
