// ------------------------------------
// IMPORT ABSTRACT
// ------------------------------------
@import
	"../../abstract/_all-early",
	"../../abstract/_variables-rtl",
	"../../abstract/_all";





// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-theme-selector-prefix:          'body.theme-riode' !default;
$_select2-border-width:                remsize( .1rem ) !default;
$_select2-border-radius:               0 !default;
$_select2-selection-height:            remsize( 4.55rem ) !default;





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"riode/checkout-coupon-code",
	"riode/checkout-payment-methods",
	"riode/checkout-validation",
	"riode/woocommerce-form-fields",
	"../../partials/woocommerce-form-fields-select2",
	"riode/woocommerce-form-fields-select2";
