// ------------------------------------
// IMPORT ABSTRACT
// ------------------------------------
@import "../../abstract/_all";





// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-theme-selector-prefix:          'body.theme-orchid-store' !default;
$_select2-inner-spacing:               remsize( .5rem ) !default;
$_select2-selection-height:            remsize( 4.2rem ) !default;
$_select2-selection-height--multiple:  #{ $_select2-selection-height - ( $_select2-inner-spacing * 2 ) - remsize( .2rem ) } !default;





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"orchid-store/checkout-payment-methods",
	"orchid-store/checkout-additional-notes",
	"orchid-store/checkout-validation",
	"orchid-store/woocommerce-form-fields",
	"../../partials/woocommerce-form-fields-select2",
	"orchid-store/woocommerce-form-fields-select2";
