// ------------------------------------
// IMPORT ABSTRACT
// ------------------------------------
@import "../../abstract/_all";





// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;
$_body-theme-selector:                 '.theme-kentha' !default;
$_select2-border-width:                remsize( .1rem ) !default;
$_select2-border-radius:               0 !default;
$_select2-selection-height:            remsize( 4.8rem ) !default;





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"kentha/checkout-content-area",
	"kentha/checkout-steps",
	"kentha/woocommerce-form-fields",
	"kentha/checkout-payment-methods",
	"kentha/checkout-shipping-methods",
	"../../partials/woocommerce-form-fields-select2";

