// ------------------------------------
// IMPORT ABSTRACT
// ------------------------------------
@import
	"../../abstract/_all-early",
	"../../abstract/_all";





// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-theme-selector-prefix:          'body.theme-kadence' !default;
$_select2-border-width:                remsize( .1rem ) !default;
$_select2-border-radius:               remsize( .3rem ) !default;
$_select2-selection-height:            remsize( 4.28rem ) !default;





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"../../partials/woocommerce-form-fields-select2";
