// ------------------------------------
// IMPORT ABSTRACT
// ------------------------------------
@import
	"../../abstract/_all-early",
	"../../abstract/_all";





// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-theme-selector-prefix:          'body.theme-go' !default;
$_select2-border-width:                remsize( .2rem ) !default;
$_select2-border-radius:               remsize( .4rem ) !default;
$_select2-selection-height:            remsize( 5.218rem ) !default;





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"go/checkout-payment-methods",
	"go/checkout-shipping-methods",
	"go/checkout-validation",
	"../../partials/woocommerce-form-fields-select2",
	"go/woocommerce-form-fields-select2";
