// ------------------------------------
// IMPORT ABSTRACT
// ------------------------------------
@import
	"../../abstract/_all-early",
	"../../abstract/_variables-rtl",
	"../../abstract/_all";





// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-theme-selector-prefix:          'body.theme-onair2' !default;
$_select2-border-width:                remsize( .1rem ) !default;
$_select2-border-radius:               0 !default;
$_select2-selection-height:            remsize( 4.8rem ) !default;





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"onair2/checkout-validation",
	"../../partials/woocommerce-form-fields-select2",
	"onair2/woocommerce-form-fields-select2";
