// ------------------------------------
// IMPORT ABSTRACT
// ------------------------------------
@import
	"../../abstract/_all-early",
	"../../abstract/_all";





// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-theme-selector-prefix:          'body.theme-shoptimizer' !default;
$_select2-border-width:                remsize( .1rem ) !default;
$_select2-border-radius:               remsize( .3rem ) !default;
$_select2-selection-height:            remsize( 4rem ) !default;




// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"shoptimizer/checkout-validation",
	"shoptimizer/woocommerce-form-fields",
	"shoptimizer/order-summary",
	"../../partials/woocommerce-form-fields-select2",
	"shoptimizer/woocommerce-form-fields-select2";
