// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;
$_body-theme-selector:                 '.theme-page-builder-framework' !default;





// ------------------------------------
// DEFINE CSS VARIABLES
// ------------------------------------
:root {
	--fluidcheckout--field--height: #{ remsize( 4.6rem ) };
}





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"woocommerce-form-fields-select2";
