// ------------------------------------
// CHECKOUT PAYMENT METHODS
// ------------------------------------

body#{ $_body-theme-selector } .woocommerce-checkout-payment .payment_methods li label {
	padding: $payment-method-padding-vertical $payment-method-padding-horizontal !important; // Needed to override `!important` directive added by the theme.;
	padding-#{ $alignment-left }: #{ $payment-method-radio-size + $payment-method-padding-horizontal } !important; // Needed to override `!important` directive added by the theme.;
}

body#{ $_body-theme-selector } .fc-wrapper #payment .payment_methods > .wc_payment_method > input[type=radio] + label:before {
	top: remsize( 1.3rem );
}

body#{ $_body-theme-selector } .fc-wrapper #payment ul.payment_methods > .wc_payment_method > input[type=radio]:first-child + label:after{
	top: remsize( 1.3rem );
}

body#{ $_body-theme-selector } .woocommerce table.shop_table > thead > tr > th .woocommerce-Price-amount,
body#{ $_body-theme-selector } .woocommerce table.shop_table > thead > tr > td .woocommerce-Price-amount,
body#{ $_body-theme-selector } .woocommerce table.shop_table > tbody > tr > td .woocommerce-Price-amount,
body#{ $_body-theme-selector } .woocommerce table.shop_table > tbody > tr > th .woocommerce-Price-amount,
body#{ $_body-theme-selector } .woocommerce table.shop_table > tfoot > tr > td .woocommerce-Price-amount,
body#{ $_body-theme-selector } .woocommerce table.shop_table > tfoot > tr > th .woocommerce-Price-amount {
	color: inherit;
}
