// ------------------------------------
// CHECKOUT PAYMENT METHODS
// ------------------------------------

body#{ $_body-theme-selector } .fc-wrapper #payment ul.wc_payment_methods > li.wc_payment_method > label {
	padding-top: $option-box-padding-vertical !important; // Needed to override theme styles
	padding-bottom: $option-box-padding-vertical !important; // Needed to override theme styles
	padding-#{ $alignment-left }: calc( #{ $option-box-padding-horizontal } + #{ $option-box-radio-size } + #{ $global-spacing-extra-small } ) !important; // Needed to override theme styles
	padding-#{ $alignment-right }: $option-box-padding-horizontal !important; // Needed to override theme styles
}

body#{ $_body-theme-selector } .woocommerce table.shop_table > thead > tr > th .woocommerce-Price-amount,
body#{ $_body-theme-selector } .woocommerce table.shop_table > thead > tr > td .woocommerce-Price-amount,
body#{ $_body-theme-selector } .woocommerce table.shop_table > tbody > tr > td .woocommerce-Price-amount,
body#{ $_body-theme-selector } .woocommerce table.shop_table > tbody > tr > th .woocommerce-Price-amount,
body#{ $_body-theme-selector } .woocommerce table.shop_table > tfoot > tr > td .woocommerce-Price-amount,
body#{ $_body-theme-selector } .woocommerce table.shop_table > tfoot > tr > th .woocommerce-Price-amount {
	color: inherit;
}
