// ------------------------------------
// WOOCOMMERCE FORM FIELDS
// ------------------------------------

body#{ $_body-theme-selector } div.woocommerce form .form-row input[type=checkbox]:focus {
	outline: none !important; // Needed to override FC styles to fix double checkmark.
}

body#{ $_body-theme-selector } div.woocommerce form .form-row label.checkbox,
body#{ $_body-theme-selector } div.woocommerce-page form .form-row label.checkbox {
	padding-#{ $alignment-left }: 0;
}

body#{ $_body-theme-selector } div.woocommerce form .form-row label.woocommerce-form__label-for-checkbox {
	padding-#{ $alignment-left }: $global-spacing-small;
}

body#{ $_body-theme-selector } .woocommerce ul#shipping_method .shipping-method__option input[type=radio] + :after {
	z-index: 1;
}

body#{ $_body-theme-selector } .woocommerce-checkout #payment ul.payment_methods li input[type="checkbox"] {
	position: absolute !important; // Needed to override theme styles using !important.
}