# OS storage files
.DS_Store
__MACOSX

# Cache
.sass-cache

# Don't commit package-lock.json to avoid errors between different OS
package-lock.json

# Don't commit composer.lock to avoid errors between different OS
composer*.lock

# local environment files
.vscode
gulp-settings.local.json
env.local.config.sh

# Translation backup files
**/*.po~
**/*.mo~
**/*.pot~

# Project dependencies
node_modules
node_modules/**
bower_components
bower_compoents/**
vendor/**/.git

# Composer dependencies
composer.lock
composer.dev.json
composer.dev.lock
vendor-dev

# PHPUnit
.phpunit.result.cache

# Local symlink to shared standards repo (see README-DEV.md)
fluid-checkout-standards

# Git files
.git
.git/**

# Zip files
**/*.zip
!**/tests/files/**/*.zip

# Build assets
js
css
