# OS storage files
.DS_Store

# Cache
.sass-cache

# Don't commit package-lock.json to avoid errors between different OS
package-lock.json

# local environment files
gulp-settings.local.json
.vscode

# Translation backup files
*.po~
*.pot~

# Project dependencies
node_modules
bower_components
/vendor/**/.git
