// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;
$_body-theme-selector:                 '.theme-aora' !default;





// ------------------------------------
// DEFINE CSS VARIABLES
// ------------------------------------
:root {
	--fluidcheckout--field--height: #{ remsize( 4.4rem ) };
	--fluidcheckout--field--border-radius: #{ remsize( .3rem ) };
}





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"checkout-shipping-methods",
	"checkout-payment-methods",
	"checkout-place-order",
	"woocommerce-form-fields-select2";
