// ------------------------------------
// CHECKOUT PAYMENT METHODS
// ------------------------------------

#{ $_body-theme-selector-prefix }.woocommerce-page.woocommerce-checkout .fc-wrapper #payment ul.payment_methods {
	border: $payment-method-border !important; // Needed to override theme styles set with `!important`
}



#{ $_body-theme-selector-prefix } .fc-wrapper #payment .payment_methods > .wc_payment_method {
	margin: $payment-method-margin !important; // Needed to override theme styles set with `!important`
}



#{ $_body-theme-selector-prefix } .fc-wrapper #payment ul.wc_payment_methods > li.wc_payment_method > label {
	padding: $payment-method-padding-vertical $payment-method-padding-horizontal !important; // Needed to override theme styles set with `!important`;
	padding-#{ $alignment-left }: #{ $payment-method-radio-size + $payment-method-padding-horizontal } !important; // Needed to override theme styles set with `!important`;
}
#{ $_body-theme-selector-prefix } .fc-wrapper #payment .payment_methods > .wc_payment_method:last-child {
	margin-bottom: #{ - remsize( .1rem ) } !important; // Needed to override theme styles set with `!important`
}



#{ $_body-theme-selector-prefix } .fc-wrapper #payment .payment_methods > .wc_payment_method > input[type="radio"]:first-child:checked + label:before {
	background-color: $success-color !important; // Needed to override theme styles set with `!important`
}



#{ $_body-theme-selector-prefix } .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box:after {
	display: none !important; // Needed to override theme styles set with `!important`
}
