// ------------------------------------
// WOOCOMMERCE FORM-ROW
// ------------------------------------

body#{ $_body-theme-selector } div.woocommerce form #billing_country_field,
body#{ $_body-theme-selector } div.woocommerce form #shipping_country_field,
body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-container--default,
body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-container .select2-selection {
	height: auto;
}



body#{ $_body-theme-selector } div.woocommerce form .form-row select {
	padding: remsize( 1.4rem );
	border-radius: 3px;
	height: remsize( 5rem );
}



body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-container .select2-selection__rendered,
body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-container .select2-selection__arrow {
	line-height: remsize( 4.9rem );
}



body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-container .select2-selection__arrow {
	top: remsize( 1.2rem );
}
