@use "sass:math" as math;

// ------------------------------------
// ORDER SUMMARY
// ------------------------------------

body#{ $_body-theme-selector } div.woocommerce .fc-wrapper #order_review table.woocommerce-checkout-review-order-table tfoot th {
	font-size: inherit;
}
