// ------------------------------------
// SELECT2 FORM FIELDS
// ------------------------------------

body#{ $_body-theme-selector } .select2-container--default .select2-selection--single {
	padding-top: 0 !important; // Needed to override theme styles
	padding-bottom: 0 !important; // Needed to override theme styles
	overflow: hidden;
}

body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-selection--single .select2-selection__rendered {
	padding-#{ $alignment-left }: $form-field-padding-left;
}
