// ------------------------------------
// CHECKOUT PAYMENT METHODS
// ------------------------------------

#{ $_body-theme-selector-prefix } .fc-wrapper #payment ul.wc_payment_methods > li.wc_payment_method > label {
	display: flex !important; // Needed to override theme styles set with `!important`
	margin: 0 !important; // Needed to override theme styles set with `!important`
	padding: $payment-method-padding-vertical $payment-method-padding-horizontal !important; // Needed to override theme styles set with `!important`;
	padding-#{ $alignment-left }: #{ $payment-method-radio-size + $payment-method-padding-horizontal } !important; // Needed to override theme styles set with `!important`;
}
