// ------------------------------------
// CHECKOUT PAYMENT METHODS
// ------------------------------------

body#{ $_body-theme-selector } .fc-wrapper #payment ul.wc_payment_methods > li.wc_payment_method > label {
	display: flex !important; // Needed to override theme styles set with `!important`
	margin: 0 !important; // Needed to override theme styles set with `!important`
}
