// ------------------------------------
// WOOCOMMERCE FORM-ROW
// ------------------------------------
#{ $_body-theme-selector-prefix }.woocommerce-checkout div.woocommerce form .form-row.form-row-first,
#{ $_body-theme-selector-prefix }.woocommerce-checkout div.woocommerce form .form-row.form-row-middle,
#{ $_body-theme-selector-prefix }.woocommerce-checkout div.woocommerce form .form-row.form-row-last {
	clear: #{ $alignment-left };
	float: none;
	width: 100%;
	padding: 0;

	@media (#{$bp-larger-than-tablet}) {
		clear: none;
		float: #{ $alignment-left };
		width: 48%;
	}
}

#{ $_body-theme-selector-prefix }.woocommerce-checkout div.woocommerce form .form-row.form-row-first,
#{ $_body-theme-selector-prefix }.woocommerce-checkout div.woocommerce form .form-row.form-row-wide {
	clear: #{ $alignment-left };
	@media (#{$bp-larger-than-tablet}) { clear: #{ $alignment-left }; }
}

#{ $_body-theme-selector-prefix }.woocommerce-checkout div.woocommerce form .form-row.form-row-one-third {
	width: 100%;
	@media (#{$bp-larger-than-tablet}) { width: 30.666%; }
}

#{ $_body-theme-selector-prefix }.woocommerce-checkout div.woocommerce form .form-row.form-row-two-thirds {
	width: 100%;
	@media (#{$bp-larger-than-tablet}) { width: 65.33%; }
}

#{ $_body-theme-selector-prefix }.woocommerce-checkout div.woocommerce form .form-row.form-row-first,
#{ $_body-theme-selector-prefix }.woocommerce-checkout div.woocommerce form .form-row.form-row-middle {
	@media (#{$bp-larger-than-tablet}) { margin-#{ $alignment-right }: 4%; }
}



#{ $_body-theme-selector-prefix }.woocommerce-checkout div.woocommerce form .form-row.woocommerce-validated:before {
	display: none;
}
