// ------------------------------------
// CHECKOUT STEPS
// ------------------------------------

body#{ $_body-theme-selector } .fc-wrapper .tt_button {
	z-index: z( 'default' );
}

body#{ $_body-theme-selector } .fc-wrapper .tt_button.fc-place-order-button{
	-webkit-font-smoothing: auto;
}

body#{ $_body-theme-selector } .fc-wrapper .tt_button:hover {
	background: transparent;
}