// ------------------------------------
// SELECT2 FORM FIELDS
// ------------------------------------

body#{ $_body-theme-selector }#{ $_body-page-selector } .select2-container .select2-dropdown {
	max-width: none;
	border: 1px solid var(--bb-content-border-color); // Needed to use `px` as units and theme variable to match theme styles
	box-shadow: none;
}

body#{ $_body-theme-selector }#{ $_body-page-selector } .select2-container .select2-dropdown--below {
	border-top-#{ $alignment-left }-radius: 0; // Needed to override theme specific `select2` styles
	border-top-#{ $alignment-right }-radius: 0; // Needed to override theme specific `select2` styles
}

body#{ $_body-theme-selector }#{ $_body-page-selector } .select2-container .select2-dropdown--above {
	border-bottom-#{ $alignment-left }-radius: 0; // Needed to override theme specific `select2` styles
	border-bottom-#{ $alignment-right }-radius: 0; // Needed to override theme specific `select2` styles
}

body#{ $_body-theme-selector }#{ $_body-page-selector } .select2-container .select2-search {
	display: block;
}