// ------------------------------------
// CHECKOUT CONTENT AREA
// ------------------------------------

body#{ $_body-theme-selector }#{ $_body-page-selector } main .woocommerce {
	max-width: unset;
}

body#{ $_body-theme-selector }#{ $_body-page-selector } .has-global-padding {
	padding-left: remsize( 1rem );
	padding-right: remsize( 1rem );
}

body#{ $_body-theme-selector }#{ $_body-page-selector } .fc-wrapper .fc-checkout-step p {
	margin-top: 0;
}