// ------------------------------------
// TOM SELECT CONTROL
// ------------------------------------

body#{ $_body-theme-selector } .ts-wrapper.single .ts-control {
	background-color: var(--wc-form-color-background, #fff);
	border: var(--wc-form-border-width) solid var(--wc-form-border-color);
	border-radius: var(--wc-form-border-radius);
	color: var(--wc-form-color-text, #000);
	height: auto;
}

body#{ $_body-theme-selector } .ts-wrapper.single .ts-control .item {
	line-height: remsize( 4.8rem ); // Needed to match theme styles
	height: remsize( 4.7rem ); // Needed to match theme styles
}
