// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;
$_body-theme-selector:                 '.theme-mrtailor' !default;
$_field-height:                        remsize( 4.5rem ) !default;
$_select2-border-radius:               remsize( .3rem ) !default;





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"order-summary",
	"../../partials/checkout-validation-check",
	"checkout-validation",
	"../../partials/woocommerce-form-fields-select2",
	"woocommerce-form-fields-select2";
