@use "sass:math" as math;

// ----------------------------------------
// VARIABLES
// ----------------------------------------





// ----------------------------------------
// ALIGNMENT & RTL SUPPORT

$alignment-right:                           left !default;
$alignment-left:                            right !default;

$wc-form-row-form-row-first:                 0 !default;
$woocommerce-form-row-first-margin-left:     4% !default;
$woocommerce-form-row-first-margin-right:    0 !default;

// END - ALIGNMENT & RTL SUPPORT
// ----------------------------------------





// ----------------------------------------
// CHECKOUT STEPS

$checkout-substep-action-button-margin:      remsize( 1.2rem ) 0 0 remsize( 1rem ); // TODO: Refactor to use `$global-spacing` variables

// END - CHECKOUT STEPS
// ----------------------------------------





// ----------------------------------------
// ORDER SUMMARY

$order-summary-quantity-transform:          translateX( 100% ) translateY( -25% ) !default;

$order-summary-edit-cart-button-margin:     0 0 0 -1rem !default; // TODO: Refactor to use `$global-spacing` variables

// END - ORDER SUMMARY
// ----------------------------------------
