@use "sass:math" as math;

// ------------------------------------
// VARIABLES
// ------------------------------------

// Alignment support with rtl
$checkout-rtl-alignment-right: left !default;
$checkout-rtl-alignment-left: right !default;
$checkout-substep-title-text-align: right !default;
$wc-checkout-review-order-table-img: remsize( -.8rem ) !default;
$wc-checkout-review-order-table-product-details: 0 remsize( 2rem ) 0 0 !default;
$order-summary-edit-cart-button-margin: 0 0 0 remsize( -1rem ) !default;
$coupon-code-fc-coupon-code-apply-right: auto !default;
$coupon-code-fc-coupon-code-apply-left: remsize( .5rem ) !default;
$wc-complete-fc-step-substep-edit-left: 0 !default;
$wc-complete-fc-step-substep-edit-right: auto !default;