// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;
$_body-theme-selector:                 '.theme-hello-elementor' !default;
$_field-height:                        remsize( 3.6rem ) !default;
$_select2-border-radius:               remsize( .3rem ) !default;





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"../../partials/checkout-validation-check",
	"../../partials/woocommerce-form-fields-select2";
