// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;
$_body-theme-selector:                 '.theme-razzi' !default;





// ------------------------------------
// DEFINE CSS VARIABLES
// ------------------------------------
:root {
	--fluidcheckout--field--height: #{ remsize( 5rem ) };
}





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"widget-areas",
	"checkout-place-order",
	"woocommerce-form-fields-select2";
