// ------------------------------------
// ORDER SUMMARY
// ------------------------------------

body#{ $_body-theme-selector } div.woocommerce .fc-wrapper #order_review table.woocommerce-checkout-review-order-table .product-total {
	min-width: 0;
}
