// ------------------------------------
// WOOCOMMERCE FORM-ROW
// ------------------------------------

body#{ $_body-theme-selector } div.woocommerce form .form-row {
	width: auto;
	margin-top: 0;
	padding: 0;
}
