/** 
 * FUNCTIONS
 * 
 * Caution: This file is supposed to import all functions
 * except the `remsize` functions which is already imported
 * before the `variables` as it is needed earlier.
 */

@import
    "strip-unit",
    "remsize";
