// ------------------------------------
// ORDER SUMMARY
// ------------------------------------

body#{ $_body-theme-selector } .fc-wrapper table.shop_table tr.cart-subtotal th, 
body#{ $_body-theme-selector } .fc-wrapper table.shop_table tr.cart-subtotal td,
body#{ $_body-theme-selector } .fc-wrapper table.shop_table tr.total th, 
body#{ $_body-theme-selector } .fc-wrapper table.shop_table tr.total td {
	border-top: none !important; // Needed to override theme styles set with !important
}

body#{ $_body-theme-selector }  .fc-wrapper .fc-step__substep-save.fc-step__substep-save { // Double selector to override fc button styles
	border-radius: 4px;
	border-color: var(--fluidcheckout--button--primary--border-color, var(--fluidcheckout--color--black, #000)) !important;
	background-color: var(--fluidcheckout--button--primary--background-color, var(--fluidcheckout--color--black, #000)) !important;
	color: var(--fluidcheckout--button--primary--text-color, var(--fluidcheckout--color--white, #fff)) !important;
}

body#{ $_body-theme-selector }  .fc-wrapper .fc-step__substep-save.fc-step__substep-save:not([disabled]):not(.disabled):hover { // Double selector to override fc button styles
	border-color: var(--fluidcheckout--button--primary--border-color--hover, var(--fluidcheckout--button--primary--border-color, var(--fluidcheckout--color--black, #000))) !important;
	background-color: var(--fluidcheckout--button--primary--background-color--hover, var(--fluidcheckout--button--primary--background-color, var(--fluidcheckout--color--black, #000))) !important;
	color: var(--fluidcheckout--button--primary--text-color--hover, var(--fluidcheckout--button--primary--text-color, var(--fluidcheckout--color--white, #fff))) !important;
}