// ------------------------------------
// WOOCOMMERCE FORM-ROW
// ------------------------------------

body#{ $_body-theme-selector } div.woocommerce form .form-row .woocommerce-input-wrapper span.description > code {
	display: inline;
	border: none;
	padding: $global-spacing-tiny;
}

body#{ $_body-theme-selector } div.woocommerce form .form-row .woocommerce-input-wrapper .radio,
body#{ $_body-theme-selector } div.woocommerce form .form-row .woocommerce-input-wrapper .checkbox {
	padding: inherit;
}