// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;
$_body-theme-selector:                 '.theme-popularfx' !default;
$_select2-border-width:                remsize( .1rem ) !default;
$_select2-border-radius:               remsize( .3rem ) !default;
$_select2-selection-height:            remsize( 4rem ) !default;




// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"checkout-validation",
	"../../partials/woocommerce-form-fields-select2",
	"woocommerce-form-fields-select2";
