// ------------------------------------
// SELECT2 FORM FIELDS
// ------------------------------------

body#{ $_body-theme-selector } .fc-wrapper .select2-container .select2-selection--single .select2-selection__rendered {
	padding: remsize( .5rem ) remsize( 1.6rem );
}



body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-selection .select2-selection__clear {
	#{ $alignment-right }: remsize( .5rem );
}
