// ------------------------------------
// WOOCOMMERCE FORM-ROW
// ------------------------------------

#{ $_body-theme-selector-prefix } div.woocommerce form .form-row .select2-selection,
#{ $_body-theme-selector-prefix } div.woocommerce form .form-row .select2-selection__rendered {
	height: remsize( 4rem );
	line-height: remsize( 3rem );
}



#{ $_body-theme-selector-prefix } div.woocommerce form .form-row .select2-selection .select2-selection__clear,
#{ $_body-theme-selector-prefix } div.woocommerce form .form-row .select2-selection .select2-selection__arrow {
	margin-top: 0;
	top: 0;
	height: remsize( 4rem );
	line-height: remsize( 4rem );
}



#{ $_body-theme-selector-prefix } div.woocommerce form .form-row .select2-selection--multiple .select2-selection__choice {
	height: remsize( 3rem );
	line-height: remsize( 3rem );
}

#{ $_body-theme-selector-prefix } div.woocommerce form .form-row .select2-selection--multiple .select2-search--inline {
	height: remsize( 3rem );
	line-height: remsize( 2.9rem );
}
