// ------------------------------------
// SELECT2 FORM FIELDS
// ------------------------------------

body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-container .select2-selection__arrow b {
	margin-top: 0;
}
