// ------------------------------------
// CHECKOUT CONTENT AREA
// ------------------------------------

body#{ $_body-theme-selector }#{ $_body-page-selector } .qt-container {
	@media (#{$bp-smaller-than-tablet}) { 
		width: 100%;
	}
}

body#{ $_body-theme-selector }#{ $_body-page-selector } .qt-paddedcontainer {
	@media (#{$bp-smaller-than-tablet}) { 
		padding-top: 0;
		padding-bottom: 0;
	}
}