// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;
$_body-theme-selector:                 '.theme-martfury' !default;
$_field-height:                        remsize( 5.05rem ) !default;
$_select2-border-radius:               0 !default;





// ------------------------------------
// DEFINE CSS VARIABLES
// ------------------------------------
:root {
	--fluidcheckout--checkout-field--height: #{ remsize( 5.05rem ) };
}





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"checkout-content-area",
	"../../partials/woocommerce-form-fields-select2";
