// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;
$_body-theme-selector:                 '.theme-twentytwentytwo' !default;





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"order-summary",
	"checkout-shipping-methods",
	"checkout-payment-methods";
