// ------------------------------------
// CHECKOUT PAYMENT METHODS
// ------------------------------------

body#{ $_body-theme-selector } .fc-wrapper #payment .payment_methods > .wc_payment_method > input[type="radio"] + label::before {
	margin: 0;
	transform: none;
}

body#{ $_body-theme-selector } .fc-wrapper #payment .payment_methods > .wc_payment_method > input[type="radio"]:checked + label::before {
	background: inherit;
}
