// ------------------------------------
// CHECKOUT PAYMENT METHODS
// ------------------------------------

body#{ $_body-theme-selector }#{ $_body-page-selector }.woocommerce-page .fc-wrapper #payment ul.payment_methods {
	border: $option-box-border !important; // Needed to override theme styles set with `!important`
}



body#{ $_body-theme-selector } .fc-wrapper #payment ul.wc_payment_methods > li.wc_payment_method > label {
	display: flex !important; // Needed to override theme styles set with `!important`
	padding: $option-box-padding-vertical $option-box-padding-horizontal !important; // Needed to override theme styles set with `!important`
	padding-#{ $alignment-left }: calc( #{ $option-box-padding-horizontal } + #{ $option-box-radio-size } + #{ $global-spacing-extra-small } ) !important; // Needed to override theme styles set with `!important`
}
