// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;
$_body-theme-selector:                 '.theme-Avada' !default;
$_field-height:                        remsize( 5rem ) !default;





// ------------------------------------
// DEFINE CSS VARIABLES
// ------------------------------------
:root {
	--fluidcheckout--field--height: #{ remsize( 5rem ) };
	--fluidcheckout--field--border-radius: #{ remsize( .7rem ) };
}





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"z-index",
	"checkout-content-area",
	"checkout-steps",
	"checkout-shipping-methods",
	"checkout-payment-methods",
	"../../partials/checkout-validation-check",
	"checkout-validation",
	"order-summary";
