// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;
$_body-theme-selector:                 '.theme-Avada' !default;





// ------------------------------------
// DEFINE CSS VARIABLES
// ------------------------------------
:root {
	--fluidcheckout--field--height: #{ remsize( 5rem ) };
	--fluidcheckout--field--border-radius: #{ remsize( .7rem ) };

	--fluidcheckout--validation-check--horizontal-spacing--select: #{ remsize( 4rem ) };
	--fluidcheckout--validation-check--horizontal-spacing--select-alt: #{ remsize( 5rem ) };
}





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"z-index",
	"checkout-content-area",
	"checkout-steps",
	"checkout-shipping-methods",
	"checkout-payment-methods",
	"order-summary";
