// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-edit-address' !default;





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"clearfix",
	"fc-hidden",
	"collapsible-blocks",
	"buttons--edit-address",

	"woocommerce-account-page-addresses",
	"woocommerce-form-fields",
	"woocommerce-form-fields-select2",
	"woocommerce-form-fields-font-size",
	"expansible-sections";
