// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"clearfix",
	"collapsible-blocks",
	"../../node_modules/flyout-block/sass/theme/flyout-block",
	"flyout-block",

	"checkout-content-area",
	"checkout-widget-areas",
	"checkout-widget-areas--header",
	"checkout-widget-areas--order-summary",
	"checkout-columns",
	"checkout-header",
	"checkout-progress-bar",
	"discount-sections",
	"checkout-steps",
	"checkout-login",
	"checkout-create-account",
	"checkout-billing",
	"checkout-shipping",
	"checkout-shipping-methods",
	"checkout-payment-methods",
	"checkout-place-order",
	"checkout-sidebar",
	"woocommerce-form-fields",
	"woocommerce-form-fields-select2",
	"order-summary",
	"expansible-sections",
	"checkout-footer",
	
	"../../node_modules/flyout-block/sass/theme/animations";
