// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"clearfix",
	"fc-hidden",
	"collapsible-blocks",
	"expansible-sections",
	"buttons--checkout",

	"checkout-content-area",
	"checkout-page-title",
	"checkout-columns",
	"checkout-header",
	"checkout-footer",
	"checkout-login-form",

	"widget-areas",
	"checkout-widget-areas--header",
	"checkout-widget-areas--order-summary",
	"checkout-widget-areas--sidebar",

	"loading-indicator",
	"animations",
	"../../node_modules/flyout-block/sass/theme/animations";
