/*------------------------------------*\
  #CHECKOUT HEADER
\*------------------------------------*/

.wfc-checkout-header {
	height: $checkout-header-height;
	
	@media (#{$bp-larger-than-desktop}) { height: $checkout-header-height--large-screen; }
}
.wfc-checkout-header__inner {
	position: relative;
	height: 100%;
}





.wfc-checkout-header .custom-logo-link {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY( -50% );
	margin: 0;
	line-height: 0;
}
.wfc-checkout-header .custom-logo {
	margin: 0;
	height: $checkout-logo-height;
	width: auto;

	@media (#{$bp-larger-than-desktop}) { height: $checkout-logo-height--large-screen; }
}





.wfc-checkout-header .wfc-checkout__cart-link-wrapper {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY( -50% );
	margin: 0;
	line-height: 1;
}
.wfc-checkout-header .wfc-checkout__cart-link {
	display: block;
	padding: $global-spacing-tiny $global-spacing-extra-small;
	background-color: $white;
	border: solid remsize( .1rem ) $border-color;
	border-radius: $global-radius;
	box-shadow: $box-shadow-dark;
	text-decoration: none;
	color: inherit;

	transition: all $global-animation-duration $global-animation-easing;

	&:active {
		box-shadow: none;
		transform: translateY( remsize( .1rem ) );
		color: inherit;
	}
}
.wfc-checkout-header .wfc-checkout__cart-link:before {
	// TODO: Add cart icon
}
.wfc-checkout-header .wfc-checkout__cart-link:before {
	// TODO: Add chevron down icon
}
