/*------------------------------------*\
  #CHECKOUT PLACE ORDER
\*------------------------------------*/

.wfc-inside div.place-order {
	padding: $checkout-substep-padding;
}

.wfc-sidebar div.place-order {
	display: none;
	
	@media (#{$bp-larger-than-desktop}) {
		display: block;
		padding: $checkout-substep-padding--large-screen;
	}
}



.woocommerce-terms-and-conditions-wrapper {
	position: relative;
	padding: $global-spacing-extra-small $global-spacing-small $global-spacing-extra-small #{ $checkout-expansible-section-icon-size + $checkout-expansible-section-icon-spacing-left + $checkout-expansible-section-icon-spacing-right };
	border: solid remsize( .1rem ) $border-color;
	border-radius: $global-radius-medium;
}

.woocommerce-terms-and-conditions-wrapper input[type="checkbox"].wfc-terms-checkbox {
	position: absolute;
	top: remsize( 1.6rem );
	left: remsize( 1.6rem );
}



.woocommerce-privacy-policy-text:not( :last-child ):not( :empty ) {
	margin-bottom: $global-spacing-small;
}

.woocommerce-terms-and-conditions {
	margin-bottom: $global-spacing-small;
	padding: $global-spacing-extra-small;
	background-color: $white;
}



.woocommerce-privacy-policy-text > p,
.woocommerce-terms-and-conditions-wrapper > p {
	margin-bottom: $global-spacing-small;
}
.woocommerce-privacy-policy-text > p:last-child,
.woocommerce-terms-and-conditions-wrapper > p:last-child {
	margin-bottom: 0;
}



.wfc-place-order {
	text-align: center;
}



.wfc-place-order-button.button.alt {
	margin: $global-spacing-small auto;
	min-width: remsize( 28rem );
}
