/*------------------------------------*\
  #CHECKOUT HEADER
\*------------------------------------*/

.wfc-checkout-header {
	display: flex;
	align-items: center;
	margin-bottom: $global-spacing-tiny;
	min-height: $checkout-header-height;
	
	@media (#{$bp-larger-than-desktop}) { min-height: $checkout-header-height--large-screen; }
}
.wfc-checkout-header__inner {
	position: relative;
	width: 100%;
}





.wfc-checkout-header .wfc-checkout__branding {
	width: 50%;
	line-height: 1;
}

.wfc-checkout-header .wfc-checkout__title.screen-reader-text {
	clip: rect( 1px, 1px, 1px, 1px );
	position: absolute !important; // Needed to make sure other style rules won't affect accessibility
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.wfc-checkout-header .wfc-checkout__site-name {
	display: inline-block;
	margin: $global-spacing-extra-small 0;
	padding: 0;
	font-size: $font-size;
	font-weight: bold;
}

.wfc-checkout-header .custom-logo-link {
	display: inline-block;
	margin: remsize( .2rem ) 0 0;
}
.wfc-checkout-header .custom-logo {
	margin: #{ ( $checkout-header-height - $checkout-logo-height ) / 2 } 0;
	height: $checkout-logo-height;
	width: auto;

	@media (#{$bp-larger-than-desktop}) {
		margin: #{ ( $checkout-header-height--large-screen - $checkout-logo-height--large-screen ) / 2 } 0;
		height: $checkout-logo-height--large-screen;
	}
}





.wfc-checkout-header .wfc-checkout__cart-link-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: $checkout-header-height;
	line-height: 1;

	@media (#{$bp-larger-than-desktop}) { display: none; }
}
.wfc-checkout-header .wfc-checkout__cart-link {
	margin: $global-spacing-tiny 0;
	padding: $global-spacing-extra-small remsize( .8rem ) remsize( .8rem ) $global-spacing-extra-small;
	background-color: $white;
	border: solid remsize( .1rem ) $border-color;
	border-radius: $global-radius;
	box-shadow: $box-shadow-dark;
	font-size: $font-size-small;
	text-decoration: none;
	color: inherit;
	transition: all $global-animation-duration $global-animation-easing;

	&:active {
		box-shadow: none;
		transform: translateY( remsize( .1rem ) );
		color: inherit;
	}
}
.wfc-checkout-header .wfc-checkout__cart-link:before {
	@include icon-styles();
	@include icon( 'i-cart' );
	@include icon-size( $icon-size-small );
	
	margin-right: $global-spacing-extra-small;
}
.wfc-checkout-header .wfc-checkout__cart-link:after {
	@include icon-styles();
	@include icon( 'i-chevron-down' );
	@include icon-size( $icon-size-small );
}





.wfc-checkout-header .wfc-checkout__header-widgets {
	@media (#{$bp-larger-than-desktop}) {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY( -50% );
		display: flex;
		justify-content: flex-end;
		margin: 0;
		width: 50%;
	}
}
