// ------------------------------------
// CHECKOUT CREATE ACCOUNT
// ------------------------------------

.fc-content div.woocommerce form .fc-wrapper .woocommerce-account-fields {
	margin: 0;
}



.fc-content div.woocommerce form .fc-wrapper .form-row.create-account {
	margin-top: $global-spacing-extra-small;
	margin-bottom: 0;
}

.fc-content div.woocommerce form .fc-wrapper .form-row.create-account + div.create-account {
	margin-top: $global-spacing-extra-small;
	margin-bottom: 0;
}

.fc-content div.woocommerce form .fc-wrapper .form-row.create-account + div.create-account.is-activated[ data-collapsible ] {
	display: block;
}



.fc-content div.woocommerce form .fc-wrapper div.create-account {
	border: 0;
}

.has-checkout-must-create-account .fc-content div.woocommerce form .fc-wrapper div.create-account {
	background-color: transparent;
}
