// ------------------------------------
// CHECKOUT SHIPPING STEP
// ------------------------------------
.woocommerce-checkout .fc-wrapper .woocommerce-shipping-fields,
.woocommerce-checkout .fc-wrapper .woocommerce-shipping-fields .woocommerce-shipping-fields__field-wrapper {
	margin: 0;
	padding: 0;
	border: 0;
}

.woocommerce-checkout .fc-wrapper .woocommerce-shipping-fields .woocommerce-shipping-fields__field-wrapper:not( :last-child ),
.woocommerce-checkout .fc-wrapper .woocommerce-shipping-fields .shipping_address:not( :last-child ) {
	padding-bottom: $global-spacing-small;
}

.woocommerce-checkout .fc-wrapper .woocommerce-shipping-fields:after,
.woocommerce-checkout .fc-wrapper .woocommerce-shipping-fields .woocommerce-shipping-fields__field-wrapper:after,
.woocommerce-checkout .fc-wrapper .woocommerce-shipping-fields .shipping_address:after {
	@include clearfix();
}


body.has-highlighted-shipping-section div.woocommerce form .fc-step__substep[data-substep-id="shipping_address"] {
	background-color: $lighter-grey;

	// Make fields background white
	textarea,
	select,
	input[type="email"],
	input[type="number"],
	input[type="date"],
	input[type="search"],
	input[type="text"],
	input[type="tel"],
	input[type="url"],
	input[type="password"],
	.select2-selection,
	.select2-selection .select2-selection__rendered {
		background-color: $white;
		color: inherit;
	}
}
