// ------------------------------------
// CHECKOUT PLACE ORDER
// ------------------------------------

.fc-wrapper .fc-place-order__section {
	margin-top: $global-spacing-small;
	margin-bottom: $global-spacing-small;
}

// PLACE ORDER INSIDE PAYMENT METHOD
.fc-wrapper .fc-inside .fc-place-order__section {
	float: none;
	margin: 0;
	padding: $place-order-padding;

	@media (#{$bp-larger-than-desktop}) {
		display: block;
		padding: $place-order-padding--large-screen;
	}
}
// PLACE ORDER ON ORDER SUMMARY
.fc-wrapper .fc-sidebar .fc-sidebar__inner .fc-place-order__section--sidebar {
	float: none;
	display: block;
	padding: $place-order-padding-sidebar;
}
// PLACE ORDER (SIDEBAR) INSIDE ORDER SUMMARY
body.has-place-order--both_payment_and_order_summary .fc-wrapper .fc-sidebar .fc-sidebar__inner .fc-place-order__section--sidebar {
	// FOR MOBILE VIEW
	display: none;

	// FOR DESKTOP VIEW
	@media (#{$bp-larger-than-desktop}) {
		display: block;
	}
}
// WHEN CART FLYOUT IS OPEN ON MOBILE
.fc-wrapper .fc-sidebar .fc-sidebar__inner .fc-checkout-order-review[ data-flyout ].is-open .fc-place-order__section {
	display: none;
}



.fc-wrapper .fc-place-order__custom-buttons:not( :empty ) {
	margin: $global-spacing-small 0 $global-spacing-extra-small;
}



.fc-wrapper .fc-inside div.place-order,
.fc-wrapper .fc-sidebar div.place-order {
	float: none !important; // Needed to override theme styles
	margin: 0 !important; // Needed to override theme styles
	padding: 0 !important; // Needed to override theme styles
	border: 0 !important; // Needed to override theme styles
}



.fc-wrapper .woocommerce-terms-and-conditions-wrapper {
	margin: 0;
	padding: 0;
	border: 0;
	text-align: $alignment-left;
}

.fc-wrapper .woocommerce-terms-and-conditions-wrapper .form-row {
	display: block;
	float: none;
}

.fc-wrapper .woocommerce-terms-and-conditions-wrapper .woocommerce-form__label {
	margin-bottom: 0;
	padding: 0;
	text-align: $alignment-left;
}

.fc-wrapper .woocommerce-terms-and-conditions-wrapper .woocommerce-form__label-for-checkbox {
	float: none;
}

.fc-wrapper .woocommerce-terms-and-conditions-wrapper .woocommerce-form__label-for-checkbox input[type="checkbox"] {
	top: 0;
	margin-#{ $alignment-left }: 0;
	margin-#{ $alignment-right }: $global-spacing-tiny;
}



.woocommerce-privacy-policy-text:not( :last-child ):not( :empty ) {
	margin-bottom: $global-spacing-small;
}

.woocommerce-terms-and-conditions {
	margin-bottom: $global-spacing-small;
	padding: $global-spacing-extra-small;
	background-color: $white;
}



.woocommerce-privacy-policy-text > p,
.woocommerce-terms-and-conditions-wrapper > p {
	margin-bottom: $global-spacing-small;
}
.woocommerce-privacy-policy-text > p:last-child,
.woocommerce-terms-and-conditions-wrapper > p:last-child {
	margin-bottom: 0;
}



.fc-wrapper .fc-place-order {
	padding: $global-spacing 0 $global-spacing-extra-small;
	text-align: center;
}



// Place order button section on the sidebar
.fc-sidebar .fc-place-order {
	padding: $global-spacing-small 0 $global-spacing-extra-small;
}



// Place order button
.fc-wrapper .fc-place-order .fc-place-order-button {
	float: none;
	display: flex !important; // Needed to override theme styles
	align-items: center !important; // Needed to override theme styles
	justify-content: center !important; // Needed to override theme styles
	margin: 0;
	width: 100% !important; // Needed to override theme styles
	min-width: remsize( 24rem );
	min-height: remsize( 5rem );
	text-align: center;

	&:focus {
		outline: $focus-outline-button !important; // Needed to override theme styles
		outline-offset: $focus-outline-offset-button !important; // Needed to override theme styles
	}
}
body.woocommerce-checkout .fc-wrapper .fc-place-order .fc-place-order-button:disabled {
	cursor: not-allowed !important; // Needed to override theme styles
	opacity: .5 !important; // Needed to override theme styles
}



div.place-order .woocommerce-terms-and-conditions-link,
div.place-order .woocommerce-privacy-policy-link {
	&:focus {
		outline: $focus-outline-link !important; // Needed to override theme styles
		outline-offset: $focus-outline-offset-link !important; // Needed to override theme styles
	}
}
