/*------------------------------------*\
  #CHECKOUT PROGRESS BAR
\*------------------------------------*/

.wfc-progress-bar {
	margin-top: $checkout-progress-bar-margin-top;
	margin-bottom: $checkout-progress-bar-margin-bottom;
}





.wfc-progress-bar__count {
	color: $checkout-step-count-color;
	font-weight: $checkout-step-count-font-weight;
	font-size: $checkout-step-count-font-size;
	text-transform: $checkout-step-count-text-transform;
	text-align: $checkout-step-count-text-align;

	@media (#{$bp-larger-than-desktop}) { font-size: $checkout-step-count-font-size--large-screen; }
}





.wfc-progress-bar__bars {
	width: 100%;
	height: $checkout-progress-bar-height;
	border: $checkout-progress-bar-border;
	border-radius: $checkout-progress-bar-border-radius;
	background-color: $checkout-progress-bar-color;
	overflow: hidden;
}

.wfc-progress-bar__bar {
	display: block;
	float:left;
	margin: 0;
	width: 0;
	height: $checkout-progress-bar-height;
	background-color: $checkout-progress-bar-color;
	transition: width $global-animation-duration linear, background-color $global-animation-duration linear;
}
.wfc-progress-bar__bar.is-complete { background-color: $checkout-progress-bar-complete-color; }
.wfc-progress-bar__bar.is-current { background-color: $checkout-progress-bar-current-color; }

// Progress bar width
// Supports from 2 to 10 checkout steps
@for $count from 2 through 10 {
	.wfc-progress-bar__bars[data-step-count="#{$count}"] .wfc-progress-bar__bar.is-complete,
	.wfc-progress-bar__bars[data-step-count="#{$count}"] .wfc-progress-bar__bar.is-current {
		width: #{ 100% / $count };
	}
}
