// ------------------------------------
// CHECKOUT COUPON CODE
// ------------------------------------
.fc-wrapper .fc-expansible-form-section__content--coupon_code .collapsible-content__inner {
	position: relative;
}

.fc-wrapper .fc-expansible-form-section__content--coupon_code .form-row {
	float: none;
	margin: 0;
	padding: 0;
}

.fc-wrapper .fc-expansible-form-section__content--coupon_code input#coupon_code {
	height: remsize( 5.5rem );
}
.fc-wrapper .fc-expansible-form-section__content--coupon_code input#coupon_code:focus {
	position: relative;
	z-index: z( 'above' );
}

.fc-wrapper .fc-expansible-form-section__content--coupon_code .fc-coupon-code__apply {
	z-index: z( 'above' ) + 1;
	position: absolute;
	top: $global-spacing-tiny;
	margin: 0;
	padding-left: $global-spacing-small;
	padding-right: $global-spacing-small;
	#{ $alignment-left }: auto;
	#{ $alignment-right }: $global-spacing-tiny;
	height: remsize( 4.5rem );
	width: auto;

	&:focus {
		outline: $focus-outline-button;
		outline-offset: $focus-outline-offset-button;
	}
}





.fc-wrapper .fc-step__substep-text-content--coupon-codes:not( :empty ) {
	margin-bottom: $global-spacing-small;
}

.fc-wrapper .fc-coupon-codes__coupon {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: $coupon-code-coupon-margin;
	padding: $coupon-code-coupon-padding;
	border: $coupon-code-coupon-border;
	border-radius: $coupon-code-coupon-border-radius;
}

.fc-wrapper .fc-coupon-codes__coupon-amount {
	flex-wrap: wrap;
	flex-shrink: 0;
}

.fc-wrapper .fc-coupon-codes__coupon-amount .woocommerce-remove-coupon {
	margin-left: $coupon-code-remove-spacing;
	font-size: $coupon-code-remove-font-size;
	font-weight: $coupon-code-remove-font-weight;
	line-height: inherit;
	text-decoration: $coupon-code-remove-text-decoration;
	color: $coupon-code-remove-color;
	background-color: transparent;

	&:focus {
		outline: $focus-outline-link;
		outline-offset: $focus-outline-offset-link;
	}
}
