/*------------------------------------*\
  #CHECKOUT PLACE ORDER
\*------------------------------------*/

.wfc-inside div.place-order {
    @media (#{$bp-larger-than-tablet}) {
        margin: $global-spacing auto;
        width: 80%;
    }
}

.wfc-sidebar div.place-order {
    display: none;
    
    @media (#{$bp-larger-than-desktop}) { display: block; }
}



.woocommerce-privacy-policy-text > p,
.woocommerce-terms-and-conditions-wrapper > p {
    margin-bottom: $global-spacing-extra-small;
}

.woocommerce-terms-and-conditions {
    margin-bottom: $global-spacing;
    padding: $global-spacing-extra-small;
    background-color: $lighter-grey;
}



.wfc-place-order {
    text-align: center;
}



.wfc-place-order-button.button.alt {
    margin: $global-spacing-extra-small auto;
    min-width: remsize( 28rem );
}
