/*------------------------------------*\
  #CHECKOUT GIFT OPTIONS
\*------------------------------------*/

// Temporarily hide the gift options form section while the collapsible-block script is not yet loaded
body:not( .has-collapsible-block ) #wfc-gift-options__field-wrapper .collapsible-content__inner {
	display: none;
}

.has-checkout-layout--multi-step [data-step-complete] .wfc-step__substep-title .gift-options__icon {
	display: none;
}

.gift-options__icon:before {
	@include icon-styles();
	@include icon( 'i-gift-box' );
	@include icon-size( $icon-size );
	
	margin-right: $global-spacing-extra-small;
	transform: translateY( - remsize( .1rem ) );
}
