// ------------------------------------
// CHECKOUT FOOTER
// ------------------------------------
.fc-checkout-footer {
	border-top: $checkout-footer-border;
	background-color: $checkout-footer-background-color;

	@media (#{$bp-larger-than-desktop}) {
		border-top: $checkout-footer-border--large-screen;
	}
}

.fc-checkout-footer__inner {
	box-sizing: border-box;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 0 $container-spacing-mobile;
	width: 100%;
	max-width: $container-width-mobile;

	// max-width
	@media (#{$bp-larger-than-tablet}) { max-width: $container-width-tablet; }
	@media (#{$bp-larger-than-desktop}) { max-width: $container-width-desktop; }
	@media (#{$bp-larger-than-desktop-medium}) { max-width: $container-width-desktop-medium; }
	@media (#{$bp-larger-than-desktop-large}) { max-width: $container-width-desktop-large; }
	@media (#{$bp-larger-than-desktop-extra-large}) { max-width: $container-width-desktop-extra-large; }

	// padding
	@media (#{$bp-larger-than-tablet}) { padding: 0 $container-spacing-tablet; }
	@media (#{$bp-larger-than-desktop}) { padding: 0 $container-spacing-desktop; }
	@media (#{$bp-larger-than-desktop-medium}) { padding: 0 $container-spacing-desktop-medium; }
	@media (#{$bp-larger-than-desktop-large}) { padding: 0 $container-spacing-desktop-large; }
	@media (#{$bp-larger-than-desktop-extra-large}) { padding: 0 $container-spacing-desktop-extra-large; }
}
