// ------------------------------------
// CHECKOUT SIDEBAR
// ------------------------------------

.fc-sidebar .fc-checkout-order-review__widgets-outside,
.fc-checkout-steps + .fc-checkout-order-review__widgets-outside {
	margin-top: $global-spacing-small;

	@media (#{$bp-larger-than-tablet}) {
		padding-#{ $alignment-left }: $order-summary-cell-padding-horizontal;
		padding-#{ $alignment-right }: $order-summary-cell-padding-horizontal;
	}
}