// ------------------------------------
// COLLAPSIBLE BLOCKS
// ------------------------------------

.fc-wrapper [data-collapsible-handler] {
	cursor: pointer;
}



.fc-wrapper .collapsible-content__inner:after {
	@include clearfix();
}

.fc-wrapper [data-collapsible].fc-expansible-form-section__content {
	margin-top: 0;
}



// Maybe hide collapsed content
.fc-wrapper [data-collapsible].is-activated.is-transitioning > .collapsible-content__inner {
	display: block;
}
.fc-wrapper [data-collapsible].is-collapsed:not( .is-transitioning ) > .collapsible-content__inner {
	display: none;
}



// Temporarily hide collapsible block contents while the collapsible-block script is not yet loaded
body:not( .has-collapsible-block ) .fc-wrapper [data-collapsible].is-collapsed > .collapsible-content__inner {
	display: none;
}
