/*------------------------------------*\
	#ORDER SUMMARY
\*------------------------------------*/
.wfc-wrapper .wfc-checkout-order-review {
	margin: $order-summary-container-margin;
	padding: $order-summary-container-padding;

	@media (#{$bp-larger-than-desktop}) {
		margin: $order-summary-container-margin--large-screen;
		padding: $order-summary-container-padding--large-screen;
	}
}





.wfc-wrapper #order_review .shop_table {
	margin: 0;
}





.wfc-wrapper .wfc-checkout-order-review-title {
	text-align: center;
}





.wfc-wrapper .woocommerce-checkout-review-order-table {
	width: 100%;
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: $order-summary-font-size;

	@media (#{$bp-larger-than-desktop}) { font-size: $order-summary-font-size--large-screen; }
}

.wfc-wrapper .woocommerce-checkout-review-order-table th,
.wfc-wrapper .woocommerce-checkout-review-order-table td,
.wfc-wrapper .woocommerce-checkout-review-order-table tr:first-child th,
.wfc-wrapper .woocommerce-checkout-review-order-table tr:first-child td {
	border-top: 0;
	border-bottom: 0;
}

.wfc-wrapper .woocommerce-checkout-review-order-table tr {
	border-bottom: $order-summary-cell-border;
}
.wfc-wrapper .woocommerce-checkout-review-order-table tr:first-child {
	border-top: $order-summary-cell-border;
}

.wfc-wrapper .woocommerce-checkout-review-order-table th,
.wfc-wrapper .woocommerce-checkout-review-order-table td {
	padding: $order-summary-cell-padding-vertical $order-summary-cell-padding-horizontal;
	background-color: transparent;
}

.wfc-wrapper .woocommerce-checkout-review-order-table tfoot th {
	text-align: left;
}

.wfc-wrapper .woocommerce-checkout-review-order-table .product-total,
.wfc-wrapper .woocommerce-checkout-review-order-table tfoot td {
	font-size: $order-summary-font-size;
	text-align: right;
	line-height: 1;
	vertical-align: middle;
}

.wfc-wrapper .woocommerce-checkout-review-order-table .product-total .tax_label,
.wfc-wrapper .woocommerce-checkout-review-order-table .product-total .includes_tax,
.wfc-wrapper .woocommerce-checkout-review-order-table tfoot td .includes_tax,
.wfc-wrapper .woocommerce-checkout-review-order-table tfoot td .tax_label {
	display: block;
	width: 100%;
	line-height: 1.2;
	color: $grey;
	white-space: normal;
}

.wfc-wrapper .woocommerce-checkout-review-order-table td.product-total {
	padding-top: #{ ( ( $order-summary-image-width - $order-summary-font-size ) / 2 ) + $order-summary-cell-padding-vertical };
	vertical-align: top;

	@media (#{$bp-larger-than-desktop}) { padding-top: #{ ( ( $order-summary-image-width--large-screen - $order-summary-font-size--large-screen ) / 2 ) + $order-summary-cell-padding-vertical }; }
}

.wfc-wrapper .woocommerce-checkout-review-order-table .product-name {
	width: 70%;
	min-width: remsize( 18rem );
}





.wfc-wrapper .woocommerce-checkout-review-order-table td.product-name {
	position: relative;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	padding-left: #{ $order-summary-image-width + ( $order-summary-cell-padding-horizontal * 2 ) };
	min-height: #{ $order-summary-image-width + ( $order-summary-cell-padding-vertical * 2 )  };
	width: 100%;
	background-color: transparent;

	@media (#{$bp-larger-than-desktop}) {
		padding-left: #{ $order-summary-image-width--large-screen + ( $order-summary-cell-padding-horizontal * 2 ) };
		min-height: #{ $order-summary-image-width--large-screen + ( $order-summary-cell-padding-vertical * 2 )  };
	}
}

.wfc-wrapper .woocommerce-checkout-review-order-table .attachment-woocommerce_thumbnail {
	position: absolute;
	top: $order-summary-cell-padding-vertical;
	left: $order-summary-cell-padding-horizontal;
	padding: $order-summary-image-padding;
	margin-left: - $order-summary-image-padding;
	width: $order-summary-image-width !important; // Needed to override inline styles added by some themes
	height: $order-summary-image-width !important; // Needed to override inline styles added by some themes
	background-color: $order-summary-image-background-color;
	border: $order-summary-image-border;
	border-radius: $order-summary-image-border-radius;

	@media (#{$bp-larger-than-desktop}) {
		width: $order-summary-image-width--large-screen !important; // Needed to override inline styles added by some themes
		height: $order-summary-image-width--large-screen !important;  // Needed to override inline styles added by some themes
	}
}

.wfc-wrapper .woocommerce-checkout-review-order-table .product-quantity {
	z-index: z( 'above' );
	position: absolute;
	top: $order-summary-cell-padding-vertical;
	left: #{ $order-summary-image-width + $order-summary-cell-padding-vertical + $global-spacing-tiny };
	transform: translateX( -100% ) translateY( -25% );
	display: block;
	padding: remsize( .1rem ) remsize( .6rem ) remsize( .2rem ) $global-spacing-tiny;
	border-radius: #{ ( $font-size-extra-small + remsize( .4rem ) ) / 2 };
	background-color: $order-summary-quantity-background-color;
	color: $order-summary-quantity-text-color;
	font-size: $order-summary-quantity-font-size;
	font-weight: normal;
	line-height: 1;
	letter-spacing: 0;

	@media (#{$bp-larger-than-desktop}) {
		left: #{ $order-summary-image-width--large-screen + $order-summary-cell-padding-vertical + $global-spacing-tiny };
	}
}

.wfc-wrapper .woocommerce-checkout-review-order-table dl.variation {
	margin-bottom: 0;
	padding-left: 0;
	color: $grey;
	font-size: $font-size-extra-small;
}
.wfc-wrapper .woocommerce-checkout-review-order-table dl.variation dd {
	margin: 0;
	padding: 0;
}

.wfc-wrapper .woocommerce-checkout-review-order-table td.product-total {
	background-color: transparent;
}





/*------------------------------------*\
	#ORDER REVIEW VISIBILITY
\*------------------------------------*/
.wfc-checkout-step[data-step-id="payment"] .wfc-checkout-order-review {
	margin-bottom: $global-spacing-small;

	@media (#{$bp-larger-than-desktop}) {
		display: none;
	}
}





/*------------------------------------*\
	#FLYOUT ORDER SUMMARY
\*------------------------------------*/
.wfc-wrapper .wfc-checkout-order-review[data-flyout] {
	@media (#{$bp-larger-than-desktop}) {
		position: static;
		transform: none;
	}
}
.wfc-wrapper .wfc-checkout-order-review[data-flyout].is-activated {
	@media (#{$bp-larger-than-desktop}) {
		display: block;
	}
}

.wfc-wrapper .wfc-checkout-order-review[data-flyout].is-activated.is-open {
	z-index: z( 'float-element' );
	margin: 0;
	padding: $checkout-header-height 0 0;
}
// With admin bar
.admin-bar .wfc-wrapper .wfc-checkout-order-review[data-flyout].is-activated.is-open {
	padding: calc( #{ $checkout-header-height } + 46px ) 0 0;
}



.has-flyout.has-flyout--open-wfc-checkout-order-review .flyout-overlay {
	z-index: z( 'float-element' ) - 1;
}



.wfc-wrapper .wfc-checkout-order-review .wfc-checkout-order-review__inner {
	@media (#{$bp-larger-than-desktop}) {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.wfc-wrapper .wfc-checkout-order-review .wfc-checkout-order-review__inner {
	@media (#{$bp-larger-than-desktop}) {
		margin-left: - #{ $container-spacing-desktop - $global-spacing-extra-small };
		margin-right: - #{ $container-spacing-desktop - $global-spacing-extra-small };
		padding-left: $container-spacing-desktop - $global-spacing-extra-small;
		padding-right: $container-spacing-desktop - $global-spacing-extra-small;
		max-width: none;
		background-color: transparent;
		overflow: visible;
	}
}

.wfc-wrapper .wfc-checkout-order-review[data-flyout].is-open .wfc-checkout-order-review__inner {
	// max-width
	max-width: $container-width-mobile;
	@media (#{$bp-larger-than-tablet}) { max-width: $container-width-tablet; }
	
	// padding
	padding: $global-spacing-small $container-spacing-mobile $global-spacing-large;
	@media (#{$bp-larger-than-tablet}) { padding: $global-spacing-small $container-spacing-tablet $global-spacing-large; }
}




/*------------------------------------*\
	#FLYOUT ORDER SUMMARY ACTIONS
\*------------------------------------*/
.wfc-checkout-order-review__actions {
	display: none;
}
.has-flyout.has-flyout--open-wfc-checkout-order-review .wfc-checkout-order-review__actions {
	z-index: z( 'sticky-element' );
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background-color: $white;
	box-shadow: $box-shadow-dark;

	// max-width
	max-width: $container-width-mobile;
	@media (#{$bp-larger-than-tablet}) { max-width: $container-width-tablet; }

	// padding
	padding: $global-spacing-extra-small $container-spacing-mobile;
	@media (#{$bp-larger-than-tablet}) { padding: $global-spacing-small $container-spacing-tablet; }
	
	// Hide on desktop view
	@media (#{$bp-larger-than-desktop}) { display: none; }
}



.wfc-checkout-order-review__actions .wfc-checkout-order-review__edit-cart {
	padding-left: $order-summary-cell-padding-horizontal;
}



.wfc-checkout-order-review__sidebar-actions {
	display: none;

	@media (#{$bp-larger-than-desktop}) { display: block; }
}




/*------------------------------------*\
	#THEME SUPPORT
\*------------------------------------*/

// Fix layout for the `#order_review` element
.wfc-wrapper .wfc-checkout-order-review #order_review {
	float: none;
	width: 100%;
	background-color: transparent;
}



// Remove spacing added by some themes
.woocommerce-checkout form .wfc-wrapper #order_review .woocommerce-checkout-review-order-table tbody::after {
	display: none;
}
