/*------------------------------------*\
  #WOOCOMMERCE FORM-ROW
\*------------------------------------*/
div.woocommerce .form-row:before,
div.woocommerce .form-row:after {
	content: '';
	display: table;
	table-layout: fixed;
	width: 100%;
}



div.woocommerce .form-row:last-child {
	margin-bottom: 0;
}



div.woocommerce .form-row {
	margin-bottom: $global-spacing-small;
}

div.woocommerce .form-row input,
div.woocommerce .form-row textarea,
div.woocommerce .form-row select,
div.woocommerce .form-row .select2-container {
	margin-bottom: 0;
}



div.woocommerce .form-row.form-row-first,
div.woocommerce .form-row.form-row-wide {
	clear: left;
}

div.woocommerce .form-row.place-order {
	float: none;
}



div.woocommerce form.woocommerce-checkout .form-row .woocommerce-input-wrapper span.description {
	position: static;
	display: block;
	margin: 0;
	padding: $checkout-field-description-padding;
	border: 0;
	background-color: $checkout-field-description-background-color;
	color: $checkout-field-description-color;
	font-size: $checkout-field-description-font-size;
	line-height: 1.2;
	
	@media (#{$bp-larger-than-desktop}) { font-size: $checkout-field-description-font-size--large-screen; }
}
div.woocommerce form.woocommerce-checkout .form-row .woocommerce-input-wrapper span.description:before {
	display: none;
}





/*------------------------------------*\
  #WOOCOMMERCE FORM FIELD LABELS
\*------------------------------------*/
div.woocommerce form.woocommerce-checkout .form-row label {
	margin-bottom: $global-spacing-tiny;
	line-height: 1.2;
}




/*------------------------------------*\
  #WOOCOMMERCE ADDRESS FIELDS
\*------------------------------------*/
div.woocommerce #billing_address_2_field > label,
div.woocommerce #shipping_address_2_field > label {
	opacity: unset;
	width: auto;
}
