/*------------------------------------*\
  #WOOCOMMERCE FORM-ROW
\*------------------------------------*/
div.woocommerce .form-row:before,
div.woocommerce .form-row:after {
	content: '';
	display: table;
	table-layout: fixed;
	width: 100%;
}



div.woocommerce .form-row:last-child {
	margin-bottom: 0;
}



div.woocommerce .form-row {
	margin-bottom: $global-spacing-small;
}

div.woocommerce .form-row input,
div.woocommerce .form-row textarea,
div.woocommerce .form-row select,
div.woocommerce .form-row .select2-container {
	margin-bottom: 0;
}



div.woocommerce .form-row.form-row-first,
div.woocommerce .form-row.form-row-wide {
	clear: left;
}

div.woocommerce .form-row.place-order {
	float: none;
}



div.woocommerce .form-row span.description {
	font-size: $font-size-extra-small;
}


/*------------------------------------*\
  #WOOCOMMERCE ADDRESS FIELDS
\*------------------------------------*/
div.woocommerce #billing_address_2_field > label,
div.woocommerce #shipping_address_2_field > label {
	opacity: unset;
	width: auto;
}
