// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;
$_body-theme-selector:                 '.theme-astra' !default;






// ------------------------------------
// DEFINE CSS VARIABLES
// ------------------------------------
:root {
	--fluidcheckout--field--height: #{ remsize( 4.2rem ) };
}





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"checkout-shipping-methods",
	"order-summary",
	"woocommerce-form-fields-select2";
