// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;
$_body-theme-selector:                 '.theme-Impreza' !default;
$_field-height:                        remsize( 4.48rem ) !default;
$_select2-border-radius:               0 !default;





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"checkout-content-area",
	"../../partials/checkout-validation-check";
