// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;
$_body-theme-selector:                 '.theme-enfold' !default;





// ------------------------------------
// DEFINE CSS VARIABLES
// ------------------------------------
:root {
	--fluidcheckout--field--height: #{ remsize( 3.6rem ) };
	--fluidcheckout--field--border-radius: 0;
}





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"checkout-content-area",
	"checkout-payment-methods",
	"widget-areas",
	"woocommerce-form-fields";
