// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;
$_body-theme-selector:                 '.theme-enfold' !default;
$_field-height:                        remsize( 3.6rem ) !default;
$_select2-border-radius:               0 !default;





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"checkout-content-area",
	"checkout-payment-methods",
	"checkout-place-order",
	"../../partials/checkout-validation-check",
	"checkout-widget-areas",
	"order-summary",
	"woocommerce-form-fields",
	"../../partials/woocommerce-form-fields-select2";
