// ------------------------------------
// CHECKOUT PAYMENT METHODS
// ------------------------------------

body#{ $_body-theme-selector }#{ $_body-page-selector }#top.woocommerce-page .fc-wrapper #payment {
	border: 0;
}



body#{ $_body-theme-selector }#{ $_body-page-selector }#top.woocommerce-page .fc-wrapper #payment ul.payment_methods {
	margin: 0;
	padding: 0;
}



body#{ $_body-theme-selector }#{ $_body-page-selector }#top .fc-wrapper #payment .payment_methods > .wc_payment_method {
	padding: 0;
	border: 0;
}



body#{ $_body-theme-selector }#{ $_body-page-selector }#top .fc-wrapper #payment ul.wc_payment_methods > li.wc_payment_method > label {
	display: flex;
}



body#{ $_body-theme-selector }#{ $_body-page-selector }#top .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box {
	position: static;
	display: block;
	width: 100%;
}
