// ------------------------------------
// CHECKOUT PAYMENT METHODS
// ------------------------------------

body#{ $_body-theme-selector } .woocommerce .woocommerce-checkout-payment .payment_methods .wc_payment_method > label {
	display: flex!important; // Needed to override theme using important
	text-transform: none;
}

body#{ $_body-theme-selector } .woocommerce .woocommerce-checkout-payment .payment_methods .wc_payment_method input {
	position: absolute!important; // Needed to override theme using important
}