// ------------------------------------
// WOOCOMMERCE FORM-ROW
// ------------------------------------

div.woocommerce form .form-row .select2-selection,
div.woocommerce form .form-row .select2-selection__rendered {
	height: remsize( 4.1rem );
	line-height: remsize( 4.1rem );
}

div.woocommerce form .form-row .select2-selection__arrow {
	height: remsize( 3.8rem );
	line-height: remsize( 3.8rem );
}
