// ------------------------------------
// WOOCOMMERCE FORM-ROW
// ------------------------------------

body.theme-onepress div.woocommerce form .form-row .select2-selection,
body.theme-onepress div.woocommerce form .form-row .select2-selection__rendered {
	height: remsize( 4.1rem );
	line-height: remsize( 4.1rem );
}



body.theme-onepress div.woocommerce form .form-row .select2-selection .select2-selection__clear,
body.theme-onepress div.woocommerce form .form-row .select2-selection .select2-selection__arrow {
	margin-top: 0;
	top: 0;
	height: remsize( 3.8rem );
	line-height: remsize( 3.8rem );
}



body.theme-onepress div.woocommerce form .form-row .select2-selection--multiple .select2-selection__choice {
	height: remsize( 2.8rem );
	line-height: remsize( 2.8rem );
}

body.theme-onepress div.woocommerce form .form-row .select2-selection--multiple .select2-search--inline {
	height: remsize( 2.8rem );
	line-height: remsize( 2.7rem );
}
