// ------------------------------------
// WOOCOMMERCE FORM-ROW
// ------------------------------------

body#{ $_body-theme-selector } div.woocommerce .ts-wrapper.form-control {
	padding: 0;
	border: none;
}

body#{ $_body-theme-selector } .fc-login-form__wrapper .fc-login-form form.login .form-row.form-row input.input-text{
	display: block;
    	width: 100%;
}

body#{ $_body-theme-selector } div.woocommerce form .form-row input[type=text] {
	height: var(--fluidcheckout--field--height);
	padding-#{$alignment-left}: var(--fluidcheckout--field--padding-left);
	border: 1px solid var(--fluidcheckout--field--border-color, var(--fluidcheckout--color--light-grey, #d8d8d8));
	border-radius: var(--fluidcheckout--field--border-radius);
	background-color: var(--fluidcheckout--field--background-color--accent);
	font-size: var(--fluidcheckout--field--font-size);
	color: var(--fluidcheckout--field--color);
}