// ------------------------------------
// SELECT2 FORM FIELDS
// ------------------------------------

body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-selection .select2-selection__arrow {
	#{ $alignment-right }: remsize( 1rem );
}
