// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;
$_body-theme-selector:                 '.theme-electro' !default;





// ------------------------------------
// DEFINE CSS VARIABLES
// ------------------------------------
:root {
	--fluidcheckout--field--height: #{ remsize( 4.498rem ) };
	--fluidcheckout--field--border-radius: #{ remsize( 2.249rem ) };

	--fluidcheckout--validation-check--horizontal-spacing: #{ remsize( 1rem ) };
	--fluidcheckout--validation-check--horizontal-spacing--select: #{ remsize( 3rem ) };
	--fluidcheckout--validation-check--horizontal-spacing--select-alt: #{ remsize( 4rem ) };
}





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"checkout-content-area",
	"checkout-steps",
	"checkout-shipping-methods",
	"checkout-payment-methods";
