// ------------------------------------
// CHECKOUT STEPS
// ------------------------------------

body#{ $_body-theme-selector }#{ $_body-page-selector } form.woocommerce-checkout .fc-wrapper .fc-step__substep .fc-step__substep-title {
	padding-bottom: remsize( .3rem );
	border-color: $light-grey;
}



body#{ $_body-theme-selector }#{ $_body-page-selector } form.woocommerce-checkout .fc-wrapper .fc-step__substep .fc-step__substep-title:after {
	display: block;
	width: 20%;
}



body#{ $_body-theme-selector }#{ $_body-page-selector }.has-checkout-layout--multi-step form.woocommerce-checkout .fc-wrapper [data-step-complete] .fc-step__substep .fc-step__substep-title {
	padding-bottom: remsize( .3rem );
	border-bottom: 0;
}




body#{ $_body-theme-selector } form.woocommerce-checkout {
	margin-left: 0;
}





// ------------------------------------
// CHECKOUT STEP ACTIONS
// ------------------------------------

body#{ $_body-theme-selector }.has-checkout-layout--multi-step .fc-step__actions .fc-step__next-step {
	border-color: var( --bs-ec-primary, #fed700 ) !important; // Needed to override default theme styles 
	background-color: var( --bs-ec-primary, #fed700 ) !important; // Needed to override default theme styles 
	font-weight: 700;

	&:hover,
	&:active,
	&:focus {
		background-color: #000 !important; // Needed to override default theme styles 
		border-color: #000 !important; // Needed to override default theme styles 
		color: #fff !important; // Needed to override default theme styles
	}
}
