// ------------------------------------
// CHECKOUT CONTENT AREA
// ------------------------------------

// Remove margins inherited from some themes
body#{ $_body-theme-selector }#{ $_body-page-selector }.electro-dark .fc-content {
	color: $checkout-substep-text-color;
}



body#{ $_body-theme-selector }#{ $_body-page-selector }.electro-dark a {
	color: $checkout-substep-text-color;

	&:hover,
	&:focus,
	&:active {
		color: $grey;
	}
}



body#{ $_body-theme-selector }#{ $_body-page-selector }.electro-dark table {
	color: $checkout-substep-text-color;
}
