// ------------------------------------
// CHECKOUT STEPS
// ------------------------------------

#{ $_body-theme-selector-prefix }.woocommerce-checkout form.woocommerce-checkout .fc-wrapper .fc-step__substep .fc-step__substep-title {
	padding-bottom: remsize( .3rem );
	border-color: $light-grey;
}



#{ $_body-theme-selector-prefix }.woocommerce-checkout form.woocommerce-checkout .fc-wrapper .fc-step__substep .fc-step__substep-title:after {
	display: block;
	width: 20%;
}



#{ $_body-theme-selector-prefix }.has-checkout-layout--multi-step.woocommerce-checkout form.woocommerce-checkout .fc-wrapper [data-step-complete] .fc-step__substep .fc-step__substep-title {
	padding-bottom: remsize( .3rem );
	border-bottom: 0;
}




#{ $_body-theme-selector-prefix } form.woocommerce-checkout {
	margin-left: 0;
}
