// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;
$_body-theme-selector:                 '.theme-woodmart' !default;
$_select2-border-width:                remsize( .2rem ) !default;
$_select2-border-radius:               remsize( .3rem ) !default;
$_select2-selection-height:            remsize( 4.2rem ) !default;





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"woodmart-checkout-steps-section",
	"checkout-content-area",
	"checkout-validation",
	"checkout-coupon-code",
	"order-summary",
	"../../partials/woocommerce-form-fields-select2",
	"woocommerce-form-fields-select2";
