// ------------------------------------
// CHECKOUT COUPON CODE
// ------------------------------------

#{ $_body-theme-selector-prefix } .fc-wrapper .fc-coupon-codes__coupon-amount .woocommerce-remove-coupon {
	position: relative;
	margin-#{ $alignment-left }: $global-spacing-tiny;
	margin-#{ $alignment-right }: - $global-spacing-tiny;
	width: remsize( 3rem );
	height: remsize( 3rem );
	line-height: inherit;
	text-decoration: none;
	text-indent: remsize( -1000rem );

	&:focus {
		outline: $focus-outline-link;
		outline-offset: $focus-outline-offset-link;
	}
}
#{ $_body-theme-selector-prefix } .fc-wrapper .fc-coupon-codes__coupon-amount .woocommerce-remove-coupon::before {
	position: absolute;
	display: block;
	top: 0;
	#{ $alignment-left }: 0;
	width: remsize( 3rem );
	height: remsize( 3rem );
	line-height: remsize( 3rem );
	text-align: center;
	text-indent: 0;
}
