// ------------------------------------
// CHECKOUT VALIDATION MESSAGES
// ------------------------------------

body#{ $_body-theme-selector } div.woocommerce .form-row .woocommerce-error {
	padding: $checkout-message-error-padding !important; // Needed to override theme styles
	padding-#{ $alignment-left }: $checkout-message-error-padding-left !important; // Needed to override theme styles
	background-color: none;
	transform: none;
	animation: none;
	z-index: 0;
	cursor: auto;
	min-height: 0;
}

body#{ $_body-theme-selector } div.woocommerce .form-row .woocommerce-error::after {
	display: none;
}
