// ------------------------------------
// CHECKOUT PLACE ORDER
// ------------------------------------

// Place order button
body#{ $_body-theme-selector } .fc-wrapper .fc-place-order .fc-place-order-button {
	color: var( --btn-accented-color, #fff );
	box-shadow: var( --btn-accented-box-shadow, rgba( 0, 0, 0, 0.15 ) 0px -2px 0px 0px inset );
	background-color: var( --btn-accented-bgcolor, #83b735 );
}
