// ------------------------------------
// CHECKOUT VALIDATION MESSAGES
// ------------------------------------
body#{ $_body-theme-selector } div.woocommerce .form-row.form-row .woocommerce-error:before {
	padding-top: remsize( .6rem );
}

body#{ $_body-theme-selector } div.woocommerce .form-row.form-row .woocommerce-error {
	background-color: none;
	-webkit-transform: none;
	-webkit-animation: none;
	transform: none;
	animation: none;
	z-index: 0;
	cursor: auto;
	min-height: 0;
}

body#{ $_body-theme-selector } div.woocommerce .form-row.form-row .woocommerce-error::after {
	display: none;
}





// ------------------------------------
// CHECKOUT FIELD VALIDATION
// ------------------------------------

// VALID FIELDS
body#{ $_body-theme-selector } div.woocommerce form .form-row.woocommerce-validated:not( [class*='woocommerce-invalid'] ) {

	// Select2 Fields
	&:not( .fc-no-validation-icon ) .select2-selection:after {
		top: remsize( .7rem );
		#{ $alignment-right }: remsize( 2rem );
	}
	// Select2 Fields (optional, with "clear" button)
	&.fc-select2-field:not( .fc-no-validation-icon ) select:not( [required] ) ~ .select2-container .select2-selection:after {
		#{ $alignment-right }: remsize( 3rem );
	}

}
