// ------------------------------------
// CHECKOUT VALIDATION MESSAGES
// ------------------------------------

body#{ $_body-theme-selector } div.woocommerce .form-row.form-row .woocommerce-error {
	z-index: 0;
	min-height: 0;
	transform: none;
	animation: none;
	cursor: auto;
}

body#{ $_body-theme-selector } div.woocommerce .form-row.form-row .woocommerce-error::after {
	display: none;
}
