// ------------------------------------
// FLYOUT ORDER SUMMARY
// ------------------------------------

#{ $_body-theme-selector-prefix } .fc-checkout-order-review .woodmart-table-wrapper,
#{ $_body-theme-selector-prefix } .fc-checkout-order-review .wd-table-wrapper {
	margin: 0;
	padding: 0;
	overflow: visible;
	box-shadow: none;
}



#{ $_body-theme-selector-prefix } form.woocommerce-checkout .fc-wrapper #order_review table.woocommerce-checkout-review-order-table .cart-discount .woocommerce-remove-coupon {
	margin-#{ $alignment-right }: - $global-spacing-extra-small;
}
