// ------------------------------------
// FLYOUT ORDER SUMMARY
// ------------------------------------

body.theme-woodmart .fc-checkout-order-review .woodmart-table-wrapper,
body.theme-woodmart .fc-checkout-order-review .wd-table-wrapper {
	margin: 0;
	padding: 0;
	overflow: visible;
	box-shadow: none;
}



body.theme-woodmart form.woocommerce-checkout .fc-wrapper #order_review table.woocommerce-checkout-review-order-table .cart-discount .woocommerce-remove-coupon {
	margin-right: - $global-spacing-extra-small;
}
