// ------------------------------------
// FLYOUT ORDER SUMMARY
// ------------------------------------

.fc-checkout-order-review .woodmart-table-wrapper,
.fc-checkout-order-review .wd-table-wrapper {
	margin: 0;
	padding: 0;
	overflow: visible;
	box-shadow: none;
}
