// ------------------------------------
// SELECT2 FORM FIELDS
// ------------------------------------

div.woocommerce form .form-row .select2-selection {
	height: $form-field-height !important; // Needed to override styles from the plugin
}



body#{ $_body-theme-selector } div.woocommerce .select2-container .select2-selection--single .select2-selection__rendered {
	padding: 0 remsize( 1.6rem ) !important; // Needed to override theme styles set with `!important`
}

body#{ $_body-theme-selector } div.woocommerce .select2-container .select2-selection--multiple .select2-selection__rendered {
	display: block;
	margin-bottom: 0;
	padding-#{ $alignment-left }: $form-field-select2-inner-spacing !important; // Needed to override theme styles set with `!important`
	padding-#{ $alignment-right }: $form-field-select2-inner-spacing !important; // Needed to override theme styles set with `!important`
}



body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-selection .select2-selection__arrow {
	#{ $alignment-right }: remsize( .5rem ) !important; // Needed to override theme styles set with `!important`
}

body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-selection .select2-selection__clear {
	#{ $alignment-right }: remsize( 2.4rem );
}

body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-selection--multiple .select2-selection__clear {
	#{ $alignment-right }: remsize( .5rem );
}



body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-selection--multiple .select2-search--inline {
	margin-top: $form-field-select2-inner-spacing;
}
