// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;
$_body-theme-selector:                 '.theme-peakshops' !default;





// ------------------------------------
// DEFINE CSS VARIABLES
// ------------------------------------
:root {
	--fluidcheckout--field--height: #{ remsize( 4rem ) };

	--fluidcheckout--validation-check--horizontal-spacing--select: #{ remsize( 3rem ) };
}





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"checkout-content-area",
	"checkout-validation";
