// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;
$_body-theme-selector:                 '.theme-hazel' !default;
$_field-height:                        remsize( 4.7rem ) !default;





// ------------------------------------
// DEFINE CSS VARIABLES
// ------------------------------------
:root {
	--fluidcheckout--field--height: #{ remsize( 4.7rem ) };
}





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"checkout-content-area",
	"checkout-header",
	"checkout-progress-bar",
	"../../partials/checkout-validation-check",
	"checkout-validation",
	"woocommerce-form-fields";
