// ------------------------------------
// CHECKOUT HEADER
// ------------------------------------

#{ $_body-theme-selector-prefix } header.fc-checkout-header {
	position: fixed !important; // Needed to override theme styles breaking the layout
	top: 0 !important; // Needed to override theme styles breaking the layout

	@media (#{$bp-larger-than-desktop}) {
		position: static !important; // Needed to override theme styles breaking the layout
	}
}
// With admin bar
#{ $_body-theme-selector-prefix }.admin-bar header.fc-checkout-header {
	top: 46px !important; // Needed to override theme styles breaking the layout. Uses pixels to match WordPress admin bar.

	@media screen and (min-width: 783px) { // Uses absolute values for breakpoint to match WordPress admin bar
		top: 32px !important; // Needed to override theme styles breaking the layout. Uses pixels to match WordPress admin bar.
	}
}
