// ------------------------------------
// WOOCOMMERCE FORM-ROW
// ------------------------------------

body#{ $_body-theme-selector } div.woocommerce form #billing_country_field,
body#{ $_body-theme-selector } div.woocommerce form #shipping_country_field,
body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-container--default,
body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-container .select2-selection {
	height: auto;
}



body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-container .select2-selection__rendered,
body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-container .select2-selection__arrow {
	line-height: remsize( 4.5rem );
}



body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-container .select2-selection__arrow {
	#{ $alignment-right }: remsize( 1rem );
}
