// ------------------------------------
// CUSTOM BUTTONS
// ------------------------------------

%button-primary-actions {
	border-color: $button-primary-border-color !important; // Needed to override theme styles
	background-color: $button-primary-background-color !important; // Needed to override theme styles
	color: $button-primary-text-color !important; // Needed to override theme styles

	&:hover,
	&:focus,
	&:active {
		border-color: $button-primary-border-color--hover !important; // Needed to override theme styles
		background-color: $button-primary-background-color--hover !important; // Needed to override theme styles
		color: $button-primary-text-color--hover !important; // Needed to override theme styles
	}
}



%button-secondary-actions {
	border-color: $button-secondary-border-color !important; // Needed to override theme styles
	background-color: $button-secondary-background-color !important; // Needed to override theme styles
	color: $button-secondary-text-color !important; // Needed to override theme styles

	&:hover,
	&:focus,
	&:active {
		border-color: $button-secondary-border-color--hover !important; // Needed to override theme styles
		background-color: $button-secondary-background-color--hover !important; // Needed to override theme styles
		color: $button-secondary-text-color--hover !important; // Needed to override theme styles
	}
}
