// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;
$_body-theme-selector:                 '.theme-hestia' !default;
$_field-height:                        remsize( 3.05rem ) !default;
$_select2-border-radius:               0 !default;





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
    "../../partials/checkout-validation-check",
	"checkout-validation",
    "../../partials/woocommerce-form-fields-select2",
    "woocommerce-form-fields-select2";
