// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;
$_body-theme-selector:                 '.theme-riode' !default;
$_fuekd-height:                        remsize( 4.55rem ) !default;
$_select2-border-radius:               0 !default;





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"checkout-coupon-code",
	"checkout-payment-methods",
	"../../partials/checkout-validation-check",
	"checkout-validation",
	"woocommerce-form-fields",
	"../../partials/woocommerce-form-fields-select2",
	"woocommerce-form-fields-select2";
