// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;
$_body-theme-selector:                 '.theme-dt-the7' !default;





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"checkout-content-area",
	"order-summary",
	"checkout-header",
	"checkout-progress-bar",
	"woocommerce-form-fields",
	"woocommerce-form-fields-select2";
