// ------------------------------------
// ORDER SUMMARY
// ------------------------------------

body#{ $_body-theme-selector } #qodef-woo-page.qodef--checkout #order_review {
	@media (min-width: 1025px) {
		width: 100%;
	}
}



body#{ $_body-theme-selector } #qodef-woo-page.qodef--checkout #order_review table {
	border: 0;
}



body#{ $_body-theme-selector } #qodef-woo-page.qodef--checkout #order_review table tr td,
body#{ $_body-theme-selector } #qodef-woo-page.qodef--checkout #order_review table tr th {
	padding: $order-summary-cell-padding-vertical $order-summary-cell-padding-horizontal;
	border-#{ $alignment-left }: 0;
	border-#{ $alignment-right }: 0;
}



body#{ $_body-theme-selector }.woocommerce-page div.woocommerce .shop_table th {
	font-size: $font-size-small;
}



body#{ $_body-theme-selector } #qodef-woo-page .fc-checkout-order-review__actions-mobile .fc-checkout-order-review__close-order-summary {
	line-height: 1;
}
