// ------------------------------------
// ORDER DETAILS TABLE
// ------------------------------------

body#{ $_body-theme-selector } .fc-wrapper table.shop_table tbody th,
body#{ $_body-theme-selector } .fc-wrapper table.shop_table tfoot td,
body#{ $_body-theme-selector } .fc-wrapper table.shop_table tfoot th {
	font-weight: 400;
}

body#{ $_body-theme-selector } .fc-wrapper .woocommerce-Price-amount {
	font-weight: 400;
}

body#{ $_body-theme-selector } .fc-wrapper .woocommerce-order-overview__total bdi {
	font-weight: 600;
}

body#{ $_body-theme-selector } .fc-wrapper .woocommerce-bacs-bank-details .wc-bacs-bank-details li strong {
	font-weight: 400;
}

body#{ $_body-theme-selector } .fc-wrapper .fc-order-details-section table.shop_table th,
body#{ $_body-theme-selector } .fc-wrapper .fc-order-details-section table.shop_table td,
body#{ $_body-theme-selector } .fc-wrapper .woocommerce-table--order-details th,
body#{ $_body-theme-selector } .fc-wrapper .woocommerce-table--order-details td {
	font-weight: 400;
}

body#{ $_body-theme-selector } .fc-wrapper .fc-customer-details__title {
	font-weight: 400;
}

body#{ $_body-theme-selector } .fc-wrapper .woocommerce-order-details table.order_details .product-name a {
	font-weight: 400;
}

body#{ $_body-theme-selector } .fc-wrapper .woocommerce-order-overview.order_details > li:not( .woocommerce-order-overview__total ) > strong {
	font-weight: 400;
}

body#{ $_body-theme-selector }.has-fc-order-received .fc-wrapper .woocommerce-order-overview.order_details > li.woocommerce-order-overview__total.total > strong,
body#{ $_body-theme-selector }.has-fc-order-received .fc-wrapper .woocommerce-order-overview.order_details > li.woocommerce-order-overview__total.total .woocommerce-Price-amount {
	font-weight: 600;
}

// Subtotal and total typography.
body#{ $_body-theme-selector } .fc-wrapper table.woocommerce-table--order-details tr.cart-subtotal th,
body#{ $_body-theme-selector } .fc-wrapper table.woocommerce-table--order-details tr.cart-subtotal td,
body#{ $_body-theme-selector } .fc-wrapper table.woocommerce-table--order-details tr.order-total th,
body#{ $_body-theme-selector } .fc-wrapper table.woocommerce-table--order-details tr.order-total td,
body#{ $_body-theme-selector } .fc-wrapper table.woocommerce-table--order-details tr.cart-subtotal .woocommerce-Price-amount,
body#{ $_body-theme-selector } .fc-wrapper table.woocommerce-table--order-details tr.order-total .woocommerce-Price-amount {
	font-weight: 600;
}
