// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;
$_body-theme-selector:                 '.theme-orchid-store' !default;





// ------------------------------------
// DEFINE CSS VARIABLES
// ------------------------------------
:root {
	--fluidcheckout--field--height: #{ remsize( 4.6rem ) };
	--fluidcheckout--field--border-width: #{ remsize( .2rem ) };

	--fluidcheckout--validation-check--horizontal-spacing--password: #{ remsize( 3.2rem ) };
}





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"checkout-steps",
	"checkout-payment-methods",
	"checkout-additional-notes",
	"woocommerce-form-fields",
	"woocommerce-form-fields-select2";
