// ------------------------------------
// CHECKOUT ADDITIONAL NOTES
// ------------------------------------

#{ $_body-theme-selector-prefix } .fc-wrapper .woocommerce-additional-fields {
	padding: 0;
	border: 0;
	box-shadow: none;
}
