// ------------------------------------
// CHECKOUT ADDITIONAL NOTES
// ------------------------------------

body#{ $_body-theme-selector } .fc-wrapper .woocommerce-additional-fields {
	padding: 0;
	border: 0;
	box-shadow: none;
}
