// ------------------------------------
// SELECT2 FORM FIELDS
// ------------------------------------

#{ $_body-theme-selector-prefix } div.woocommerce form .form-row .select2-selection--single,
#{ $_body-theme-selector-prefix } div.woocommerce form .form-row .select2-selection--multiple {
	padding-top: 0;
	padding-bottom: 0;
}



#{ $_body-theme-selector-prefix } .fc-wrapper .select2-container .select2-selection--single .select2-selection__rendered {
	padding: remsize(.5rem) remsize(1.6rem);
}



#{ $_body-theme-selector-prefix } div.woocommerce form .form-row .select2-selection .select2-selection__clear {
	right: remsize( .5rem );
}



#{ $_body-theme-selector-prefix } div.woocommerce form .form-row .select2-selection--multiple {
	border-width: remsize( .2rem );
}
