// ------------------------------------
// WOOCOMMERCE FORM-ROW
// ------------------------------------

body#{ $_body-theme-selector } div.woocommerce p.form-row {
	color: initial;
}

body#{ $_body-theme-selector } div.woocommerce form {
	textarea,
	select,
	input[type="email"],
	input[type="number"],
	input[type="date"],
	input[type="search"],
	input[type="text"],
	input[type="tel"],
	input[type="url"],
	input[type="password"] {
		padding: 0 $form-field-padding-left;
		height: $form-field-height;
		font-family: inherit;
		font-size: $form-field-font-size;
		border: $form-field-border-width solid $form-field-border-color;
		border-radius: $form-field-border-radius;

		&:focus {
			border-color: #1c86f2; // Needed to use theme color to match its styles
			box-shadow: 0 0 0 1px #1c86f2 inset; // Needed to use theme color to match its styles
		}
	}
}

body#{ $_body-theme-selector } div.woocommerce form textarea {
	padding: .75rem 16px; // Needed to use `rem` and `px` as units to match theme styles
	line-height: 1.5;
}
