// ------------------------------------
// DEFINE LOCAL VARIABLES
// ------------------------------------
$_body-page-selector:                  '.woocommerce-checkout' !default;
$_body-theme-selector:                 '.theme-oceanwp' !default;





// ------------------------------------
// IMPORT STYLES
// ------------------------------------
@import
	"woocommerce-form-fields-select2";
