// ------------------------------------
// SELECT2 FORM FIELDS
// ------------------------------------

body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-selection--single,
body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-selection--multiple {
	padding-top: 0;
	padding-bottom: 0;
}



body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-selection .select2-selection__clear,
body#{ $_body-theme-selector } div.woocommerce form .form-row .select2-selection .select2-selection__arrow {
	height: auto;
}
