// ------------------------------------
// SELECT2 FORM FIELDS
// ------------------------------------

#{ $_body-theme-selector-prefix } .fc-wrapper .select2-container .select2-selection {
	height: auto;
}



#{ $_body-theme-selector-prefix } .fc-wrapper .select2-container .select2-selection .select2-selection__rendered {
	height: auto;
}



#{ $_body-theme-selector-prefix } div.woocommerce form .form-row .select2-selection .select2-selection__arrow {
	height: auto;
}

#{ $_body-theme-selector-prefix } div.woocommerce form .form-row .select2-selection .select2-selection__clear {
	height: auto;
}
