// ------------------------------------
// CHECKOUT CONTENT AREA
// ------------------------------------

body#{ $_body-theme-selector } form.woocommerce-checkout > * {
	padding-#{ $alignment-left }: 0; // Override Listable's left padding style
}