// ------------------------------------
// DASHBOARD ADDONS
// ------------------------------------

.fc-addons-list {
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	gap: 0;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	margin-top: 30px;
	padding: 0;

	@media (min-width: 750px) { gap: 4%; }
	@media (min-width: 1200px) { gap: 3.5%; }
}



.fc-addons__item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-grow: 0;
	flex-shrink: 0;
	margin-bottom: 30px;
	padding: 30px;
	width: 100%;
     border: solid 1px #f3f3f3;
	border-radius: 8px;
	background-color: #f9f9f9;

	@media (min-width: 750px) { width: 48%; }
	@media (min-width: 1200px) { width: 31%; }
}

.fc-addons__item.fc-addons__item--bundle {
	border: solid 2px #1E212B;
}



.fc-addons__item-header {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: nowrap;
	gap: 20px;
	margin-bottom: 20px;
}



.fc-addons__item-image {
	float: left;
	width: 70px;
	height: auto;
	border-radius: 5px;
}



.fc-addons__item-title-section {
	flex-shrink: 1;
}

.fc-addons__item-title {
	margin-top: 0;
	margin-bottom: 0;
}

.form-table td .fc-addons__item p.fc-dashboard-section__subtitle {
	margin-bottom: 0;
}



.fc-addons__item-features-list {
	display: block;
	list-style: none;
	margin-top: 20px;
	margin-bottom: 20px;
}



.fc-addons__item-features-list li {
	position: relative;
	margin-bottom: 10px;
	padding-left: 35px;
}

.fc-addons__item-features-list li::before {
	display: block;
	position: absolute;
	left: 0;
	top: -5px;
	font-size: 30px;
	color: #007a3d;

	// Copied from `.dashicons-before` and `.dashicons-yes`
	content: "\f147";
	font-family: dashicons;
	display: inline-block;
	line-height: 1;
	font-weight: 400;
	font-style: normal;
	speak: never;
	text-decoration: inherit;
	text-transform: none;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 20px;
	height: 20px;
	// CHANGE: Remove font size
	// CHANGE: Remove vertical align
	text-align: center;
	transition: color .1s ease-in;
	// END - Copied from `.dashicons-before` and `.dashicons-yes`
}



.fc-addons__item-description {
	flex-grow: 1;
}



.fc-addons__item-actions {
	align-self: flex-end;
	margin-top: 30px;
	width: 100%;
}

.fc-addons__item-actions .button {
	width: 100%;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
	line-height: 1.4;
}
.fc-addons__item-actions .button + .button {
	margin-top: 10px;
}

.fc-addons__item-actions .button.button-primary {
	font-size: 15px;
	white-space: normal;
}

.fc-addons__item-actions .button.button--activated {
	color: #007a3d !important;
}
