// ------------------------------------
// DASHBOARD DISCLAIMER
// ------------------------------------

.fc-dashboard__disclaimer {
	font-size: 12px;
}

.fc-dashboard__disclaimer ul {
	list-style: circle;
	padding-left: 20px;
}