body.theme-bookshelf .fc-login-form__wrapper.woocommerce .woocommerce-form-login {
  max-width: inherit;
}

body.theme-bookshelf button.fc-step__next-step.button {
  display: inline-block;
}

body.theme-bookshelf div.woocommerce form .form-row input[type=checkbox]:focus {
  outline: none !important;
}

body.theme-bookshelf div.woocommerce form .form-row label.checkbox,
body.theme-bookshelf div.woocommerce-page form .form-row label.checkbox {
  padding-right: 0;
}

body.theme-bookshelf div.woocommerce form .form-row label.woocommerce-form__label-for-checkbox {
  padding-right: 20px;
}

body.theme-bookshelf .woocommerce ul#shipping_method .shipping-method__option input[type=radio] + :after {
  z-index: 1;
}

body.theme-bookshelf .woocommerce-checkout #payment ul.payment_methods li input[type=checkbox] {
  position: absolute !important;
}

body.theme-bookshelf .select_container:after {
  display: none;
}