:root {
  --fluidcheckout--field--height: 42px;
}

body.theme-astra .woocommerce #fc-substep__fields--shipping_method ul#shipping_method li.shipping-method__option {
  padding: 0;
  text-indent: 0;
}

body.theme-astra.woocommerce-page.woocommerce-checkout form.woocommerce-checkout #fc-wrapper.fc-wrapper #order_review {
  padding: 0;
  border: 0;
}

body.theme-astra .fc-wrapper .select2-container .select2-selection--single .select2-selection__rendered {
  padding: 5px 16px;
}

body.theme-astra div.woocommerce form .form-row .select2-selection--single .select2-selection__arrow b {
  display: block;
}

body.theme-astra div.woocommerce form .form-row .select2-selection .select2-selection__clear {
  right: 5px;
}