body.theme-sahel .fc-wrapper .fc-step__substep-save,
body.theme-sahel .fc-wrapper .fc-step__next-step,
body.theme-sahel .fc-coupon-code__apply,
body.theme-sahel .woocommerce-form-login__submit {
  padding: 17px 42px;
  font-family: inherit;
  font-size: 11px;
  letter-spacing: 3px;
  line-height: 2.7em;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid transparent;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  color: var(--fluidcheckout--color--white, #fff);
  background-color: var(--fluidcheckout--color--darker-grey, #1E212B);
}

body.theme-sahel .fc-wrapper .fc-step__substep-save:hover,
body.theme-sahel .fc-wrapper .fc-step__next-step:hover,
body.theme-sahel .fc-coupon-code__apply:hover,
body.theme-sahel .woocommerce-form-login__submit:hover {
  background-color: var(--fluidcheckout--color--black, #000);
}

body.theme-sahel .ts-wrapper.single .ts-control,
body.theme-sahel .select2-container--default .select2-selection--single .select2-selection__rendered {
  letter-spacing: 3px;
  border-bottom: 1px solid var(--theme--first-color);
  text-transform: uppercase;
}