body.theme-bookshelf .fc-login-form__wrapper.woocommerce .woocommerce-form-login {
  max-width: inherit;
}

body.theme-bookshelf button.fc-step__next-step.button {
  display: inline-block;
}

body.theme-bookshelf #order_review .woocommerce-checkout-review-order-table th {
  background-color: transparent !important;
}

body.theme-bookshelf div.woocommerce form .form-row input[type=checkbox]:focus {
  outline: none !important;
}

body.theme-bookshelf div.woocommerce form .form-row label.checkbox,
body.theme-bookshelf div.woocommerce-page form .form-row label.checkbox {
  padding-right: 0;
}

body.theme-bookshelf form button:not(.components-button) {
  height: 100%;
}

body.theme-bookshelf div.woocommerce form .form-row label.woocommerce-form__label-for-checkbox {
  padding-right: 20px;
}

body.theme-bookshelf .woocommerce .fc-checkout-step .fc-step__substep input[type=radio] + :after,
body.theme-bookshelf .woocommerce .fc-wrapper .fc-inside input[type=radio] + :after,
body.theme-bookshelf .woocommerce .fc-wrapper input[type=radio] + label:after {
  z-index: 1;
}

body.theme-bookshelf div.woocommerce #payment ul.payment_methods li input[type=checkbox] {
  position: absolute !important;
}

body.theme-bookshelf .select_container:after {
  display: none;
}