body.theme-hub #order_review .woocommerce-checkout-review-order-table .amount {
  font-size: 15px;
}

body.theme-hub .ts-wrapper.single .ts-control:after {
  z-index: 10;
  right: 20px;
}

body.theme-hub div.woocommerce form.woocommerce-checkout .form-row {
  display: block;
}

body.theme-hub div.woocommerce .woocommerce-additional-fields {
  margin-bottom: 0;
  padding-top: 0;
}

body.theme-hub div.woocommerce form.woocommerce-checkout .form-row label.checkbox {
  display: inline;
}

body.theme-hub div.woocommerce form.woocommerce-checkout .form-row label.checkbox input {
  margin-top: 0;
}

body.theme-hub div.woocommerce form textarea,
body.theme-hub div.woocommerce form select,
body.theme-hub div.woocommerce form input[type=email],
body.theme-hub div.woocommerce form input[type=number],
body.theme-hub div.woocommerce form input[type=date],
body.theme-hub div.woocommerce form input[type=search],
body.theme-hub div.woocommerce form input[type=text],
body.theme-hub div.woocommerce form input[type=tel],
body.theme-hub div.woocommerce form input[type=url],
body.theme-hub div.woocommerce form input[type=password],
body.theme-hub div.woocommerce form .select2-selection--single {
  padding: 0 var(--fluidcheckout--field--padding-left, 8px);
  height: var(--fluidcheckout--field--height, 45.625px);
  border: var(--fluidcheckout--field--border-width, 1px) solid var(--fluidcheckout--field--border-color, var(--fluidcheckout--color--light-grey, #d8d8d8));
}

body.theme-hub div.woocommerce form .form-row .select2-selection--single {
  border: var(--fluidcheckout--field--border-width, 1px) solid var(--fluidcheckout--field--border-color, var(--fluidcheckout--color--light-grey, #d8d8d8));
}

body.theme-hub div.woocommerce form .form-row .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
  color: #808291;
}