body.theme-avanam.woocommerce-checkout form.woocommerce-checkout .fc-wrapper .checkout-order-review {
  width: 100%;
}

@media (min-width: 1025px) {
  body.theme-avanam.woocommerce-checkout form.woocommerce-checkout .fc-wrapper .checkout-order-review {
    position: relative;
    top: unset;
  }
}

body.theme-avanam .woocommerce form.checkout .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper {
  padding: 0;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}

body.theme-avanam .woocommerce form.checkout .woocommerce-shipping-fields .shipping_address {
  padding: 0;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}

body.theme-avanam .fc-progress-bar[data-sticky-states].is-activated .fc-progress-bar__inner {
  margin-top: 5px;
}