body.theme-umea .fc-wrapper .fc-coupon_code__collapsible .fc-coupon-code__apply {
  display: inline-block;
  min-height: var(--fluidcheckout--button--height, 44px) !important;
  height: var(--fluidcheckout--button--height, 44px) !important;
  line-height: calc(var(--fluidcheckout--button--height, 44px) - var(--fluidcheckout--button--border-width, 1px) * 2) !important;
  padding: 0 20px !important;
  border: var(--fluidcheckout--button--border-style, solid) var(--fluidcheckout--button--border-width, 1px) transparent !important;
  border-radius: var(--fluidcheckout--button--border-radius, 0) !important;
  font-weight: var(--fluidcheckout--button--font-weight, normal) !important;
  font-size: var(--fluidcheckout--button--font-size, inherit) !important;
  text-decoration: none !important;
  box-shadow: 0 3px var(--fluidcheckout--button--box-shadow-blur-radius, 8px) var(--fluidcheckout--button--box-shadow-color, transparent) !important;
  cursor: pointer !important;
  transition: all 0.3s !important;
}

body.theme-umea .fc-wrapper .fc-coupon_code__collapsible .fc-coupon-code__apply {
  border-color: var(--fluidcheckout--button--primary--border-color, var(--fluidcheckout--color--black, #000)) !important;
  background-color: var(--fluidcheckout--button--primary--background-color, var(--fluidcheckout--color--black, #000)) !important;
  color: var(--fluidcheckout--button--primary--text-color, var(--fluidcheckout--color--white, #fff)) !important;
}
body.theme-umea .fc-wrapper .fc-coupon_code__collapsible .fc-coupon-code__apply:not([disabled]):not(.disabled):hover, body.theme-umea .fc-wrapper .fc-coupon_code__collapsible .fc-coupon-code__apply:not([disabled]):not(.disabled):focus, body.theme-umea .fc-wrapper .fc-coupon_code__collapsible .fc-coupon-code__apply:not([disabled]):not(.disabled):active {
  border-color: var(--fluidcheckout--button--primary--border-color--hover, var(--fluidcheckout--color--darker-grey, #1E212B)) !important;
  background-color: var(--fluidcheckout--button--primary--background-color--hover, var(--fluidcheckout--color--darker-grey, #1E212B)) !important;
  color: var(--fluidcheckout--button--primary--text-color--hover, var(--fluidcheckout--color--white, #fff)) !important;
}

body.theme-umea .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box .woocommerce-SavedPaymentMethods,
body.theme-umea #add_payment_method .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box .woocommerce-SavedPaymentMethods {
  list-style: none !important;
}

body.theme-umea .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box input[type=checkbox],
body.theme-umea .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box input[type=radio],
body.theme-umea #add_payment_method .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box input[type=checkbox],
body.theme-umea #add_payment_method .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box input[type=radio] {
  margin-right: 0 !important;
  margin-left: 5px !important;
  width: 16px !important;
  height: 16px !important;
  vertical-align: middle;
}

body.theme-umea .fc-wrapper .fc-coupon_code__collapsible input#coupon_code {
  padding: 11px 18px !important;
  border: solid 1px #959595 !important;
}

body.theme-umea .fc-wrapper .fc-coupon_code__collapsible .fc-coupon-code__apply {
  position: absolute !important;
}

body.theme-umea div.woocommerce form .form-row {
  margin-bottom: 20px !important;
}

body.theme-umea div.woocommerce form .form-row:last-child {
  margin-bottom: 0 !important;
}

body.theme-umea div.woocommerce form .form-row textarea,
body.theme-umea div.woocommerce form .form-row select,
body.theme-umea div.woocommerce form .form-row input[type=email],
body.theme-umea div.woocommerce form .form-row input[type=number],
body.theme-umea div.woocommerce form .form-row input[type=date],
body.theme-umea div.woocommerce form .form-row input[type=search],
body.theme-umea div.woocommerce form .form-row input[type=text],
body.theme-umea div.woocommerce form .form-row input[type=tel],
body.theme-umea div.woocommerce form .form-row input[type=url],
body.theme-umea div.woocommerce form .form-row input[type=password] {
  margin-bottom: 0 !important;
}
body.theme-umea div.woocommerce form .form-row input[type=checkbox],
body.theme-umea div.woocommerce form .form-row input[type=checkbox]:after,
body.theme-umea div.woocommerce form .form-row input[type=radio]:after {
  margin-right: 0 !important;
  margin-left: 5px !important;
  width: 16px !important;
  height: 16px !important;
  vertical-align: middle;
}
body.theme-umea div.woocommerce form .form-row input[type=checkbox]:after,
body.theme-umea div.woocommerce form .form-row input[type=radio]:after {
  margin-left: 0 !important;
}

body.theme-umea .select2-container--default .select2-selection--single {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  overflow: hidden;
}

body.theme-umea div.woocommerce form .form-row .select2-selection--single .select2-selection__rendered {
  padding-right: var(--fluidcheckout--field--padding-left, 8px);
}