body.theme-wordpress-theme-atomion.has-visible-form-field-labels #order_comments_field .form-row label,
body.theme-wordpress-theme-atomion.has-visible-form-field-labels .woocommerce-billing-fields .form-row label,
body.theme-wordpress-theme-atomion.has-visible-form-field-labels .woocommerce-shipping-fields .form-row label {
  display: inline !important;
}

body.theme-wordpress-theme-atomion div.woocommerce .fc-wrapper #order_review table.woocommerce-checkout-review-order-table tbody tr.cart-item {
  color: inherit;
}

body.theme-wordpress-theme-atomion div.woocommerce .fc-wrapper #order_review table.woocommerce-checkout-review-order-table .order-total th,
body.theme-wordpress-theme-atomion div.woocommerce .fc-wrapper #order_review table.woocommerce-checkout-review-order-table .order-total td {
  border-bottom: 0 !important;
}