body.theme-talemy .fc-wrapper strong:not(.product-quantity) {
  color: inherit !important;
}

body.theme-talemy .fc-progress-bar[data-sticky-states].is-activated .fc-progress-bar__inner {
  margin-top: 5px;
}

body.theme-talemy .woocommerce .fc-wrapper ul#shipping_method .shipping-method__option .shipping-method__option-price .amount,
body.theme-talemy .woocommerce .fc-wrapper ul#shipping_method .shipping-method__option .shipping-method__option-price .woocommerce-Price-currencySymbol {
  font-weight: normal !important;
}

body.theme-talemy .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box fieldset,
body.theme-talemy #add_payment_method .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box fieldset {
  border: 0;
}

body.theme-talemy .fc-wrapper #order_review table.woocommerce-checkout-review-order-table .woocommerce-Price-amount,
body.theme-talemy .fc-wrapper #order_review table.woocommerce-checkout-review-order-table tfoot th,
body.theme-talemy .fc-wrapper #order_review table.woocommerce-checkout-review-order-table tfoot td,
body.theme-talemy .fc-wrapper .fc-step__substep-text-line .woocommerce-Price-amount {
  font-weight: 400;
}

body.theme-talemy .fc-wrapper .wc-order-review {
  align-self: auto;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
}

body.theme-talemy .fc-wrapper .quantity .qty {
  font-weight: 400;
}

body.theme-talemy div.woocommerce form .form-row > label {
  display: block;
}

body.theme-talemy div.woocommerce .woocommerce-error::before,
body.theme-talemy div.woocommerce .woocommerce-error::after,
body.theme-talemy div.woocommerce .woocommerce-info::before,
body.theme-talemy div.woocommerce .woocommerce-info::after,
body.theme-talemy div.woocommerce .woocommerce-message::before,
body.theme-talemy div.woocommerce .woocommerce-message::after {
  content: none;
  display: none;
}

body.theme-talemy .fc-wrapper .fc-coupon-code-messages ul.woocommerce-error,
body.theme-talemy .fc-wrapper .fc-coupon-code-messages ul.woocommerce-info,
body.theme-talemy .fc-wrapper .fc-coupon-code-messages ul.woocommerce-message {
  padding: 5px !important;
}

body.theme-talemy .fc-wrapper .fc-coupon-code-messages .woocommerce-error li,
body.theme-talemy .fc-wrapper .fc-coupon-code-messages .woocommerce-info li,
body.theme-talemy .fc-wrapper .fc-coupon-code-messages .woocommerce-message li {
  padding-right: 20px !important;
}

body.theme-talemy .fc-wrapper .fc-coupon-code-message-dismiss {
  padding-left: 10px;
  text-decoration: underline;
}