body.theme-twentytwentyfive .ts-wrapper.single .ts-control {
  background-color: var(--wc-form-color-background, #fff);
  border: var(--wc-form-border-width) solid var(--wc-form-border-color);
  border-radius: var(--wc-form-border-radius);
  color: var(--wc-form-color-text, #000);
  height: auto;
  font-weight: 400;
}

body.theme-twentytwentyfive .ts-wrapper.single .ts-control .item {
  line-height: 48px;
}

body.theme-twentytwentyfive div.woocommerce form .form-row .select2-container .select2-selection--single {
  border-radius: var(--wc-form-border-radius);
  color: var(--wc-form-color-text, #000);
  overflow: hidden;
}

body.theme-twentytwentyfive div.woocommerce form .form-row .select2-selection--single .select2-selection__rendered {
  line-height: normal;
}