body.theme-twentytwentyfive.woocommerce-checkout .woocommerce-notices-wrapper:empty {
  display: none;
}

body.theme-twentytwentyfive.woocommerce-checkout main .woocommerce {
  max-width: unset;
}

body.theme-twentytwentyfive.woocommerce-checkout .has-global-padding {
  padding-left: 10px;
  padding-right: 10px;
}

body.theme-twentytwentyfive .woocommerce-checkout-payment ul.wc_payment_methods .payment_box > p:first-child {
  margin-top: 0;
}

body.theme-twentytwentyfive #add_payment_method fieldset#wc-stripe-upe-form {
  border: none;
}

body.theme-twentytwentyfive .fc-wrapper .woocommerce-terms-and-conditions-wrapper .woocommerce-privacy-policy-text > p:first-child {
  margin-top: 0;
}

body.theme-twentytwentyfive div.woocommerce .fc-wrapper #order_review table.woocommerce-checkout-review-order-table tbody th,
body.theme-twentytwentyfive div.woocommerce .fc-wrapper #order_review table.woocommerce-checkout-review-order-table tfoot tr:not(.order-total) th,
body.theme-twentytwentyfive div.woocommerce .fc-wrapper #order_review table.woocommerce-checkout-review-order-table tfoot tr:not(.order-total) td {
  font-weight: 400;
}

body.theme-twentytwentyfive .ts-wrapper.single .ts-control {
  background-color: var(--wc-form-color-background, #fff);
  border: var(--wc-form-border-width) solid var(--wc-form-border-color);
  border-radius: var(--wc-form-border-radius);
  color: var(--wc-form-color-text, #000);
  height: auto;
  font-weight: 400;
}

body.theme-twentytwentyfive .ts-wrapper.single .ts-control .item {
  line-height: 48px;
}

body.theme-twentytwentyfive div.woocommerce form .form-row .select2-container .select2-selection--single {
  border-radius: var(--wc-form-border-radius);
  color: var(--wc-form-color-text, #000);
  overflow: hidden;
}

body.theme-twentytwentyfive div.woocommerce form .form-row .select2-selection--single .select2-selection__rendered {
  line-height: normal;
}

body.theme-twentytwentyfive .has-child .wp-block-navigation__submenu-container {
  z-index: 2000;
}