body.theme-siteorigin-corp .woocommerce-checkout .fc-wrapper .woocommerce-shipping-fields div.shipping_address {
  margin-bottom: 0;
}

body.theme-siteorigin-corp .woocommerce .fc-widget-area p:last-child {
  margin-bottom: 0;
}

body.theme-siteorigin-corp div.woocommerce form .form-row .select2-container--default .select2-selection--single {
  border-color: var(--fluidcheckout--field--border-color, var(--fluidcheckout--color--light-grey, #d8d8d8));
}

body.theme-siteorigin-corp div.woocommerce form .form-row .select2-selection--single .select2-selection__rendered {
  font-size: var(--fluidcheckout--field--font-size, 16px);
}