@media (max-width: 749px) {
  body.theme-fennik.woocommerce-checkout .fc-content.container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
  }
}

body.theme-fennik.theme-fennik.has-checkout-header.header-v-default .section-page-header .page-header-inner {
  padding-bottom: 40px;
}
@media (min-width: 992px) {
  body.theme-fennik.theme-fennik.has-checkout-header.header-v-default .section-page-header .page-header-inner {
    padding-bottom: 50px;
  }
}

body.theme-fennik div.woocommerce .fc-wrapper .fc-coupon_code__collapsible .fc-coupon-code__apply {
  padding-top: 0;
  padding-bottom: 0;
}

body.theme-fennik .fc-wrapper .woocommerce-terms-and-conditions-wrapper .woocommerce-privacy-policy-text {
  margin: 0;
}

body.theme-fennik #order_review .woocommerce-checkout-review-order-table .amount {
  font-size: 15px;
}

body.theme-fennik .select2-container--default .select2-selection--single .select2-selection__rendered {
  margin-top: 0;
}