body.theme-go.woocommerce-account .entry-content > .woocommerce {
  max-width: var(--go--max-width--alignwide) !important;
}

body.theme-go.woocommerce-account .woocommerce-MyAccount-navigation {
  width: 100%;
}
@media (min-width: 769px) {
  body.theme-go.woocommerce-account .woocommerce-MyAccount-navigation {
    width: 20%;
  }
}

body.theme-go.woocommerce-account .woocommerce-MyAccount-content {
  width: 100%;
}
@media (min-width: 769px) {
  body.theme-go.woocommerce-account .woocommerce-MyAccount-content {
    width: 78%;
  }
}