body.theme-uncode .fc-wrapper .fc-step__substep-save,
body.theme-uncode .fc-wrapper .fc-step__next-step {
  text-transform: var(--fluidcheckout--uncode--button--text-transform);
}

body.theme-uncode .fc-content .row-parent {
  padding-top: 0;
}
@media (max-width: 749px) {
  body.theme-uncode .fc-content .row-parent {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

body.theme-uncode .woocommerce-billing-fields__field-wrapper {
  border: 0;
}

body.theme-uncode .fc-wrapper .fc-coupon_code__collapsible .fc-coupon-code__apply {
  text-transform: var(--fluidcheckout--uncode--button--text-transform);
}

body.theme-uncode .fc-wrapper .fc-place-order .fc-place-order-button {
  width: 100% !important;
}

body.theme-uncode .fc-wrapper .fc-place-order .fc-place-order-button:disabled:hover {
  background-color: var(--fluidcheckout--uncode--accent-background-color) !important;
  color: var(--fluidcheckout--uncode--accent-color) !important;
}

body.theme-uncode .ts-wrapper.single .ts-control {
  font-weight: normal;
}

body.theme-uncode div.woocommerce form .form-row textarea,
body.theme-uncode div.woocommerce form .form-row select,
body.theme-uncode div.woocommerce form .form-row input[type=email],
body.theme-uncode div.woocommerce form .form-row input[type=number],
body.theme-uncode div.woocommerce form .form-row input[type=date],
body.theme-uncode div.woocommerce form .form-row input[type=search],
body.theme-uncode div.woocommerce form .form-row input[type=text],
body.theme-uncode div.woocommerce form .form-row input[type=tel],
body.theme-uncode div.woocommerce form .form-row input[type=url],
body.theme-uncode div.woocommerce form .form-row input[type=password],
body.theme-uncode div.woocommerce form .form-row input[type=checkbox],
body.theme-uncode div.woocommerce form .form-row input[type=radio],
body.theme-uncode div.woocommerce form .form-row .select2-selection {
  margin-top: 0;
  border: var(--fluidcheckout--field--border-width, 1px) solid var(--fluidcheckout--field--border-color, var(--fluidcheckout--color--light-grey, #d8d8d8));
}