body.theme-hestia div.woocommerce form .form-row .input-checkbox {
  margin-top: 0;
  margin-right: 5px;
}

body.theme-hestia div.woocommerce .form-row .input-text.form-control {
  padding-left: var(--fluidcheckout--field--padding-left, 8px);
}

body.theme-hestia div.woocommerce form .form-row .woocommerce-input-wrapper.form-group,
body.theme-hestia div.woocommerce form .form-row .woocommerce-input-wrapper.form-group .form-group {
  padding-bottom: 0;
}

body.theme-hestia div.woocommerce form .form-row .select2-selection .select2-selection__arrow {
  margin-top: 0;
}