body.theme-ireca .header_m {
  z-index: 2000;
}

body.theme-ireca .fc-login-form__wrapper.woocommerce .woocommerce-form-login {
  max-width: 100%;
}

body.theme-ireca .fc-login-form__wrapper.woocommerce .woocommerce-form-login a {
  text-decoration: underline;
}
body.theme-ireca .fc-login-form__wrapper.woocommerce .woocommerce-form-login a:hover {
  text-decoration: none;
}

body.theme-ireca div.woocommerce .fc-wrapper #order_review table.woocommerce-checkout-review-order-table tfoot th,
body.theme-ireca div.woocommerce .fc-wrapper #order_review table.woocommerce-checkout-review-order-table tfoot td {
  font-family: inherit;
  font-weight: normal;
}

body.theme-ireca .woocommerce input[type=checkbox] {
  height: auto;
}