:root {
  --fluidcheckout--field--height: 50.5px;
}

body.theme-martfury .fc-content.container {
  padding-right: 20px;
  padding-left: 20px;
}
@media (min-width: 992px) {
  body.theme-martfury .fc-content.container {
    padding-right: 0;
    padding-left: 0;
    width: 970px;
  }
}
@media (min-width: 1200px) {
  body.theme-martfury .fc-content.container {
    width: 1170px;
  }
}