body.theme-hello-elementor div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon) .select2-selection:after, body.theme-hello-elementor div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon):not(.fc-select2-field) .woocommerce-input-wrapper:after {
  top: 6px;
}

body.theme-hello-elementor div.woocommerce form .form-row span.select2-container {
  height: auto;
}

body.theme-hello-elementor div.woocommerce form .form-row .select2-selection {
  height: auto;
  min-height: 34px;
  border-radius: 3px;
  line-height: 0;
}

body.theme-hello-elementor div.woocommerce form .form-row .select2-selection__rendered {
  min-height: 34px;
  border-radius: 3px;
}

body.theme-hello-elementor div.woocommerce form .form-row .select2-selection .select2-selection__clear,
body.theme-hello-elementor div.woocommerce form .form-row .select2-selection .select2-selection__arrow {
  top: 0;
  margin-top: 5px;
  height: auto;
  min-height: 22px;
  line-height: 22px;
  transform: none;
}

body.theme-hello-elementor div.woocommerce form .form-row .select2-selection--single {
  padding: 0;
}

body.theme-hello-elementor div.woocommerce form .form-row .select2-selection--single .select2-selection__rendered {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 34px;
}

body.theme-hello-elementor div.woocommerce form .form-row .select2-selection--multiple {
  border-width: 1px;
}

body.theme-hello-elementor div.woocommerce form .form-row .select2-selection--multiple .select2-selection__rendered {
  padding-bottom: 5px;
  min-height: 24px;
  line-height: 24px;
  white-space: normal;
}

body.theme-hello-elementor div.woocommerce form .form-row .select2-selection--multiple .select2-selection__choice {
  margin-top: 5px;
  line-height: 22px;
  overflow: hidden;
}

body.theme-hello-elementor div.woocommerce form .form-row .select2-selection--multiple .select2-search--inline {
  margin-top: 5px;
  min-height: 22px;
  line-height: 22px;
}

body.theme-hello-elementor div.woocommerce form .form-row .select2-selection--multiple .select2-search--inline .select2-search__field {
  margin-top: 0;
  height: 24px;
  min-height: auto;
}