body.theme-seese .woocommerce-MyAccount-content input[type=radio]:checked + label::after {
  background-color: transparent;
  transform: none;
  top: 10px !important;
}

body.theme-seese .woocommerce-MyAccount-content li::marker {
  content: "";
}

body.theme-seese .woocommerce-MyAccount-content .woocommerce-error {
  margin: 0 !important;
  text-align: left;
}

body.theme-seese .fc-login-form__wrapper.woocommerce form .form-row input[type=checkbox],
body.theme-seese .fc-login-form__wrapper.woocommerce form .form-row input[type=radio] {
  position: relative;
  left: auto;
  vertical-align: middle;
  line-height: 1;
}

body.theme-seese .fc-login-form__wrapper.woocommerce form .woocommerce-form__label-for-checkbox {
  position: relative;
}

body.theme-seese .fc-login-form__wrapper.woocommerce form .woocommerce-form__label-for-checkbox span {
  position: relative;
  bottom: 0;
}

body.theme-seese .woocommerce-checkout-payment .wc_payment_methods {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

body.theme-seese .fc-wrapper .fc-step__substep.wc-stripe-banner-checkout.active {
  max-width: 100%;
}

body.theme-seese .fc-wrapper input[type=radio]:checked + label::after {
  background-color: transparent;
  transform: none;
  top: 10px !important;
}

body.theme-seese div.woocommerce form .form-row input[type=checkbox],
body.theme-seese div.woocommerce form .form-row input[type=radio] {
  left: auto;
  vertical-align: middle;
  line-height: normal;
}

body.theme-seese div.woocommerce form .form-row {
  margin-right: 0;
  margin-left: 0;
}

body.theme-seese .ts-wrapper .ts-control {
  font-weight: 300;
  color: inherit;
}

body.theme-seese .fc-wrapper .select2-container .select2-selection--single .select2-selection__rendered {
  font-weight: 300;
  color: inherit;
}