body.theme-nyture .fc-login-form__wrapper.woocommerce .woocommerce-form-login {
  opacity: inherit;
}

body.woocommerce-checkout .fc-login-form__wrapper.woocommerce .lost_password {
  margin-top: inherit;
  border-bottom: none;
}

body.woocommerce-checkout .fc-login-form__wrapper.woocommerce .woocommerce-form__label-for-checkbox span {
  margin-left: inherit;
}

body.theme-nyture .woocommerce .woocommerce-checkout-payment .payment_methods .wc_payment_method > label {
  display: flex !important;
  text-transform: none;
}

body.theme-nyture .woocommerce .woocommerce-checkout-payment .payment_methods .wc_payment_method input {
  position: absolute !important;
}

body.theme-nyture .woocommerce .fc-wrapper .woocommerce-billing-fields .shipping_address {
  margin-bottom: 0;
}

body.theme-nyture .woocommerce .fc-wrapper .woocommerce-shipping-fields .shipping_address {
  margin-bottom: 0;
}

body.theme-nyture .woocommerce .fc-wrapper .woocommerce-shipping-fields {
  margin-bottom: 0;
}

body.theme-nyture .woocommerce table.woocommerce-checkout-review-order-table tr.cart-subtotal .amount {
  font-weight: bold;
}

body.theme-nyture .ts-wrapper.single .ts-control .item {
  font-size: 14px;
}
@media (max-width: 999px) {
  body.theme-nyture .ts-wrapper.single .ts-control .item {
    font-size: 16px;
  }
}

body.theme-nyture .select2 .select2-selection .select2-selection__rendered {
  font-size: 14px;
}
@media (max-width: 999px) {
  body.theme-nyture .select2 .select2-selection .select2-selection__rendered {
    font-size: 16px;
  }
}

body.theme-nyture .woocommerce .fc-wrapper .woocommerce-billing-fields .form-row-last,
body.theme-nyture .woocommerce .fc-wrapper .woocommerce-shipping-fields .form-row-last {
  padding-left: 0;
}

@media (min-width: 750px) {
  body.theme-nyture .woocommerce .fc-wrapper .woocommerce-billing-fields .form-row:not(.fc-expansible-form-section) + .fc-expansible-form-section.form-row.form-row-last .expansible-section__toggle-plus {
    margin-top: 0;
  }
}

body.theme-nyture .woocommerce-address-fields .woocommerce-address-fields__field-wrapper .form-row.form-row-last {
  margin-left: 0;
}

@media (min-width: 750px) {
  body.theme-nyture .woocommerce .form-row:not(.fc-expansible-form-section) + .fc-expansible-form-section.form-row.form-row-last .expansible-section__toggle-plus {
    margin-top: 0;
  }
}

body.theme-nyture .woocommerce-address-fields .woocommerce-address-fields__field-wrapper .form-row.form-row-last {
  margin-left: 0;
}

body.theme-nyture .woocommerce-address-fields .woocommerce-address-fields__field-wrapper .form-row.form-row-first {
  margin-right: 4%;
}