:root {
  --fluidcheckout--field--height: 44px;
  --fluidcheckout--field--border-radius: 3px;
}

body.theme-buddyboss-theme.woocommerce-checkout .select2-container .select2-dropdown {
  max-width: none;
  border: 1px solid var(--bb-content-border-color);
  box-shadow: none;
}

body.theme-buddyboss-theme.woocommerce-checkout .select2-container .select2-dropdown--below {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

body.theme-buddyboss-theme.woocommerce-checkout .select2-container .select2-dropdown--above {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

body.theme-buddyboss-theme.woocommerce-checkout .select2-container .select2-search {
  display: block;
}

body.theme-buddyboss-theme.woocommerce-checkout div.woocommerce form .form-row input[type=text] {
  z-index: 10;
}

body.theme-buddyboss-theme.woocommerce-checkout div.woocommerce form .form-row input[type=checkbox] {
  position: absolute;
  cursor: pointer;
}