body.theme-umea .fc-wrapper .fc-coupon_code__collapsible .fc-coupon-code__apply {
  display: inline-block;
  min-height: var(--fluidcheckout--button--height, remsize(4.4rem)) !important;
  height: var(--fluidcheckout--button--height, remsize(4.4rem)) !important;
  line-height: calc(var(--fluidcheckout--button--height, remsize(4.4rem)) - var(--fluidcheckout--button--border-width, remsize(0.1rem)) * 2) !important;
  padding: 0 remsize(2rem) !important;
  border: var(--fluidcheckout--button--border-style, solid) var(--fluidcheckout--button--border-width, remsize(0.1rem)) transparent !important;
  border-radius: var(--fluidcheckout--button--border-radius, 0) !important;
  font-weight: var(--fluidcheckout--button--font-weight, normal) !important;
  font-size: var(--fluidcheckout--button--font-size, inherit) !important;
  text-decoration: none !important;
  box-shadow: 0 remsize(0.3rem) var(--fluidcheckout--button--box-shadow-blur-radius, remsize(0.8rem)) var(--fluidcheckout--button--box-shadow-color, transparent) !important;
  cursor: pointer !important;
  transition: all 0.3s !important;
}

body.theme-umea .fc-wrapper .fc-coupon_code__collapsible .fc-coupon-code__apply {
  border-color: var(--fluidcheckout--button--primary--border-color, var(--fluidcheckout--color--black, #000)) !important;
  background-color: var(--fluidcheckout--button--primary--background-color, var(--fluidcheckout--color--black, #000)) !important;
  color: var(--fluidcheckout--button--primary--text-color, var(--fluidcheckout--color--white, #fff)) !important;
}
body.theme-umea .fc-wrapper .fc-coupon_code__collapsible .fc-coupon-code__apply:not([disabled]):not(.disabled):hover, body.theme-umea .fc-wrapper .fc-coupon_code__collapsible .fc-coupon-code__apply:not([disabled]):not(.disabled):focus, body.theme-umea .fc-wrapper .fc-coupon_code__collapsible .fc-coupon-code__apply:not([disabled]):not(.disabled):active {
  border-color: var(--fluidcheckout--button--primary--border-color--hover, var(--fluidcheckout--color--darker-grey, #1E212B)) !important;
  background-color: var(--fluidcheckout--button--primary--background-color--hover, var(--fluidcheckout--color--darker-grey, #1E212B)) !important;
  color: var(--fluidcheckout--button--primary--text-color--hover, var(--fluidcheckout--color--white, #fff)) !important;
}

body.theme-umea .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box .woocommerce-SavedPaymentMethods,
body.theme-umea #add_payment_method .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box .woocommerce-SavedPaymentMethods {
  list-style: none !important;
}

body.theme-umea .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box input[type=checkbox],
body.theme-umea .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box input[type=radio],
body.theme-umea #add_payment_method .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box input[type=checkbox],
body.theme-umea #add_payment_method .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box input[type=radio] {
  margin-right: 0 !important;
  margin-left: remsize(0.5rem) !important;
  width: remsize(1.6rem) !important;
  height: remsize(1.6rem) !important;
  vertical-align: middle;
}

body.theme-umea .fc-wrapper .fc-coupon_code__collapsible input#coupon_code {
  padding: remsize(1.1rem) remsize(1.8rem) !important;
  border: solid remsize(0.1rem) #959595 !important;
}

body.theme-umea .fc-wrapper .fc-coupon_code__collapsible .fc-coupon-code__apply {
  position: absolute !important;
}

body.theme-umea div.woocommerce form .form-row {
  margin-bottom: remsize(2rem) !important;
}

body.theme-umea div.woocommerce form .form-row:last-child {
  margin-bottom: 0 !important;
}

body.theme-umea div.woocommerce form .form-row textarea,
body.theme-umea div.woocommerce form .form-row select,
body.theme-umea div.woocommerce form .form-row input[type=email],
body.theme-umea div.woocommerce form .form-row input[type=number],
body.theme-umea div.woocommerce form .form-row input[type=date],
body.theme-umea div.woocommerce form .form-row input[type=search],
body.theme-umea div.woocommerce form .form-row input[type=text],
body.theme-umea div.woocommerce form .form-row input[type=tel],
body.theme-umea div.woocommerce form .form-row input[type=url],
body.theme-umea div.woocommerce form .form-row input[type=password] {
  margin-bottom: 0 !important;
}
body.theme-umea div.woocommerce form .form-row input[type=checkbox],
body.theme-umea div.woocommerce form .form-row input[type=checkbox]:after,
body.theme-umea div.woocommerce form .form-row input[type=radio]:after {
  margin-right: 0 !important;
  margin-left: remsize(0.5rem) !important;
  width: remsize(1.6rem) !important;
  height: remsize(1.6rem) !important;
  vertical-align: middle;
}
body.theme-umea div.woocommerce form .form-row input[type=checkbox]:after,
body.theme-umea div.woocommerce form .form-row input[type=radio]:after {
  margin-left: 0 !important;
}

body.theme-umea .select2-container--default .select2-selection--single {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  overflow: hidden;
}

body.theme-umea div.woocommerce form .form-row .select2-selection--single .select2-selection__rendered {
  padding-right: var(--fluidcheckout--field--padding-left, remsize(0.8rem));
}