body.theme-sober .woocommerce form .form-row {
  padding: 0;
}

body.theme-sober div.woocommerce form .form-row input:focus {
  outline: none !important;
}

body.theme-sober .woocommerce .woocommerce-address-fields .form-row label {
  margin-left: auto;
  float: none;
}

body.theme-sober .woocommerce form .form-row-last label {
  display: inline-block;
}

body.theme-sober .woocommerce .fc-wrapper .fc-substep__fields--shipping_method label.checkbox:after,
body.theme-sober .woocommerce .fc-wrapper .fc-substep__fields--shipping_method input[type=radio] + label:after,
body.theme-sober .woocommerce .fc-wrapper .fc-substep__fields--shipping_method input[type=checkbox] + label:after {
  border-left: none;
  border-bottom: none;
  transform: none;
  transition: none;
}

.woocommerce label.checkbox:checked + span:before {
  border-color: #23232c;
  background-color: #fff;
}

.woocommerce label.checkbox:checked + span:after {
  border-color: #23232c;
}

body.theme-sober div.woocommerce form .form-row .select2-selection--single {
  border-top: none;
  border-left: none;
  border-right: none;
  color: #23232c;
}

body.theme-sober div.woocommerce form .form-row .select2-selection--single:focus-within {
  outline: none !important;
}

body.theme-sober .ts-wrapper.single .ts-control {
  border-top: none;
  border-left: none;
  border-right: none;
  color: #23232c;
}

body.theme-sober .ts-control:focus-within {
  outline: none !important;
}