body.theme-flatsome {
  background-color: #fff;
}

body.theme-flatsome.admin-bar .fc-checkout-header {
  top: 0;
}

body.theme-flatsome.admin-bar .fc-progress-bar[data-sticky-states].is-sticky--top .fc-progress-bar__inner {
  transform: translateY(0);
}

body.theme-flatsome div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon) .select2-selection:after, body.theme-flatsome div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon):not(.fc-select2-field) .woocommerce-input-wrapper:after {
  top: 6px;
}

body.theme-flatsome div.woocommerce form .form-row .fl-wrap label.fl-label,
body.theme-flatsome div.woocommerce form #billing_address_2_field .fl-wrap > label.fl-label,
body.theme-flatsome div.woocommerce form #shipping_address_2_field .fl-wrap > label.fl-label {
  z-index: 2;
}

body.theme-flatsome div.woocommerce form .form-row span.select2-container {
  height: auto;
}

body.theme-flatsome div.woocommerce form .form-row .select2-selection {
  height: auto;
  min-height: 36.91px;
  border-radius: 3px;
  line-height: 0;
}

body.theme-flatsome div.woocommerce form .form-row .select2-selection__rendered {
  min-height: 36.91px;
  border-radius: 3px;
}

body.theme-flatsome div.woocommerce form .form-row .select2-selection .select2-selection__clear,
body.theme-flatsome div.woocommerce form .form-row .select2-selection .select2-selection__arrow {
  top: 0;
  margin-top: 5px;
  height: auto;
  min-height: 24.91px;
  line-height: 24.91px;
  transform: none;
}

body.theme-flatsome div.woocommerce form .form-row .select2-selection--single {
  padding: 0;
}

body.theme-flatsome div.woocommerce form .form-row .select2-selection--single .select2-selection__rendered {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 36.91px;
}

body.theme-flatsome div.woocommerce form .form-row .select2-selection--multiple {
  border-width: 1px;
}

body.theme-flatsome div.woocommerce form .form-row .select2-selection--multiple .select2-selection__rendered {
  padding-bottom: 5px;
  min-height: 26.91px;
  line-height: 26.91px;
  white-space: normal;
}

body.theme-flatsome div.woocommerce form .form-row .select2-selection--multiple .select2-selection__choice {
  margin-top: 5px;
  line-height: 24.91px;
  overflow: hidden;
}

body.theme-flatsome div.woocommerce form .form-row .select2-selection--multiple .select2-search--inline {
  margin-top: 5px;
  min-height: 24.91px;
  line-height: 24.91px;
}

body.theme-flatsome div.woocommerce form .form-row .select2-selection--multiple .select2-search--inline .select2-search__field {
  margin-top: 0;
  height: 26.91px;
  min-height: auto;
}

body.theme-flatsome div.woocommerce form .form-row .select2-selection--multiple {
  padding: 0;
  padding-left: 10px;
  padding-right: 5px;
}

body.theme-flatsome div.woocommerce form .form-row .select2-selection--multiple .select2-selection__choice {
  padding: 0 5px;
}

body.theme-flatsome.admin-bar .fc-wrapper .fc-checkout-order-review[data-flyout].is-activated.is-open {
  padding: 60px 0 0;
}