body.theme-hello-elementor .fc-wrapper #payment ul.payment_methods label,
body.theme-hello-elementor .fc-wrapper ul#shipping_method li label {
  line-height: 1.6;
}

body.theme-hello-elementor .fc-wrapper .select2-container .select2-selection--single .select2-selection__rendered {
  padding: 5px 16px;
}

body.theme-hello-elementor .fc-wrapper .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 1.6;
}

body.theme-hello-elementor .fc-wrapper .select2-container .select2-selection--single {
  height: 36px;
}

body.theme-hello-elementor .fc-content .fc-wrapper .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) .select2-selection:after {
  line-height: 0.8;
}