body.theme-ireca .header_m {
  z-index: 2000;
}

body.theme-ireca .fc-login-form__wrapper.woocommerce .woocommerce-form-login {
  max-width: 100%;
}

body.theme-ireca .fc-login-form__wrapper.woocommerce .woocommerce-form-login a {
  text-decoration: underline;
}
body.theme-ireca .fc-login-form__wrapper.woocommerce .woocommerce-form-login a:hover {
  text-decoration: none;
}

body.theme-ireca div.woocommerce .fc-wrapper #order_review table.woocommerce-checkout-review-order-table tfoot th,
body.theme-ireca div.woocommerce .fc-wrapper #order_review table.woocommerce-checkout-review-order-table tfoot td {
  font-weight: normal;
}

body.theme-ireca div.woocommerce form .form-row {
  display: block;
}

body.theme-ireca .woocommerce input[type=checkbox] {
  height: auto;
}

body.theme-ireca .woocommerce form .form-row .input-text.input-text {
  height: var(--fluidcheckout--field--height);
  padding-left: var(--fluidcheckout--field--padding-left);
  font-size: var(--fluidcheckout--field--font-size);
  color: var(--fluidcheckout--field--color);
}

body.theme-ireca div.woocommerce form .form-row .select2-selection--single.select2-selection--single {
  border: var(--fluidcheckout--field--border-width, 1px) solid var(--fluidcheckout--field--border-color, var(--fluidcheckout--color--light-grey, #d8d8d8));
}

body.theme-ireca .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: var(--wc-form-color-text, #000);
}