body.theme-cartsy .woocommerce ul#shipping_method .shipping-method__option .shipping-method__option-label:before,
body.theme-cartsy .woocommerce ul#shipping_method .shipping-method__option .shipping-method__option-label:after {
  transform: none;
}

body.theme-cartsy .woocommerce ul#shipping_method .shipping-method__option .shipping-method__option-label:after {
  background-color: transparent;
}

body.theme-cartsy.woocommerce-checkout .fc-wrapper .fc-place-order .fc-place-order-button {
  background-color: var(--colorPrimary, #212121);
}

body.theme-cartsy.woocommerce-checkout .fc-wrapper .fc-place-order .fc-place-order-button:hover {
  background-color: var(--colorPrimaryHover, #3a3a3a);
}

body.theme-cartsy #content .woocommerce .checkout.woocommerce-checkout .woocommerce-checkout-payment,
body.theme-cartsy #content .woocommerce .checkout.woocommerce-checkout .woocommerce-checkout-payment ul.payment_methods {
  border: 0;
}