body.theme-sober div.woocommerce form .form-row {
  padding: 0;
}

body.theme-sober div.woocommerce form .form-row-last label {
  display: inline-block;
}

body.theme-sober .woocommerce .fc-wrapper label.checkbox:after,
body.theme-sober .woocommerce .fc-wrapper input[type=radio] + label:after,
body.theme-sober .woocommerce .fc-wrapper input[type=checkbox] + label:after {
  border-left: none;
  border-bottom: none;
  transform: none;
  transition: none;
}

body.theme-sober .woocommerce .woocommerce-address-fields .form-row label {
  margin-left: auto;
  float: none;
}

body.theme-sober div.woocommerce form .form-row .select2-selection--single {
  border-top: none;
  border-left: none;
  border-right: none;
  color: #23232c;
}

body.theme-sober .ts-wrapper.single .ts-control {
  border-top: none;
  border-left: none;
  border-right: none;
  color: #23232c;
}