body.theme-loobek .fc-wrapper .woocommerce-additional-fields {
  margin-top: 0;
}

body.theme-loobek .fc-wrapper .woocommerce-additional-fields #order_comments_field {
  padding-top: 0;
}

body.theme-loobek.woocommerce-checkout form.woocommerce-checkout {
  padding-top: 0;
}

body.theme-loobek .fc-wrapper .woocommerce-billing-fields {
  overflow: visible;
}

body.theme-loobek div.woocommerce .fc-wrapper #order_review table.woocommerce-checkout-review-order-table {
  margin: 0 -20px !important;
}
@media (min-width: 1000px) {
  body.theme-loobek div.woocommerce .fc-wrapper #order_review table.woocommerce-checkout-review-order-table {
    margin: 0 -20px -1px;
  }
}