@media (min-width: 1000px) {
  body.theme-colibri-wp .fc-sidebar__inner {
    padding-top: 5px;
  }
}

@media (min-width: 750px) and (max-width: 999px) {
  body.theme-colibri-wp.woocommerce-checkout .fc-content.h-section-boxed-container {
    padding-top: 5px;
  }
}
@media (max-width: 749px) {
  body.theme-colibri-wp.woocommerce-checkout .fc-content.h-section-boxed-container {
    width: 100%;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

body.theme-colibri-wp.woocommerce-checkout .fc-content {
  color: #6B7C93;
}

body.theme-colibri-wp.woocommerce-checkout .fc-content label {
  color: #313439;
}

body.theme-colibri-wp .fc-wrapper .fc-coupon-codes__coupon:before,
body.theme-colibri-wp .fc-wrapper .fc-coupon-codes__coupon:after {
  content: none;
}

body.theme-colibri-wp .fc-place-order {
  padding: 30px 0 10px;
}

body.woocommerce-checkout div.woocommerce .fc-wrapper .fc-checkout-order-review__head:before,
body.woocommerce-checkout div.woocommerce .fc-wrapper .fc-checkout-order-review__head:after {
  content: none;
}

body.theme-colibri-wp div.woocommerce .woocommerce-input-wrapper {
  color: initial;
}

body.theme-colibri-wp div.woocommerce form textarea,
body.theme-colibri-wp div.woocommerce form select,
body.theme-colibri-wp div.woocommerce form input[type=email],
body.theme-colibri-wp div.woocommerce form input[type=number],
body.theme-colibri-wp div.woocommerce form input[type=date],
body.theme-colibri-wp div.woocommerce form input[type=search],
body.theme-colibri-wp div.woocommerce form input[type=text],
body.theme-colibri-wp div.woocommerce form input[type=tel],
body.theme-colibri-wp div.woocommerce form input[type=url],
body.theme-colibri-wp div.woocommerce form input[type=password] {
  padding: 0 var(--fluidcheckout--field--padding-left, 8px);
  height: var(--fluidcheckout--field--height, 45.625px);
  font-family: inherit;
  font-size: var(--fluidcheckout--field--font-size, 16px);
  border: var(--fluidcheckout--field--border-width, 1px) solid var(--fluidcheckout--field--border-color, var(--fluidcheckout--color--light-grey, #d8d8d8));
  border-radius: var(--fluidcheckout--field--border-radius, 0);
}
body.theme-colibri-wp div.woocommerce form textarea:focus,
body.theme-colibri-wp div.woocommerce form select:focus,
body.theme-colibri-wp div.woocommerce form input[type=email]:focus,
body.theme-colibri-wp div.woocommerce form input[type=number]:focus,
body.theme-colibri-wp div.woocommerce form input[type=date]:focus,
body.theme-colibri-wp div.woocommerce form input[type=search]:focus,
body.theme-colibri-wp div.woocommerce form input[type=text]:focus,
body.theme-colibri-wp div.woocommerce form input[type=tel]:focus,
body.theme-colibri-wp div.woocommerce form input[type=url]:focus,
body.theme-colibri-wp div.woocommerce form input[type=password]:focus {
  border-color: #1c86f2;
  box-shadow: 0 0 0 1px #1c86f2 inset;
}

body.theme-colibri-wp div.woocommerce form textarea {
  padding: 0.75rem 16px;
  line-height: 1.5;
}

body.theme-colibri-wp .select2-container--default .select2-search--dropdown {
  padding: 4px;
}

body.theme-colibri-wp .select2-container--default .select2-results__option {
  padding: 6px;
}