body.woocommerce-checkout div.woocommerce .fc-wrapper .fc-step__substep-title {
  letter-spacing: 3px;
}

body.theme-artemis-swp div.woocommerce form .form-row .select2-selection__rendered {
  border-bottom: solid 1px #e1e1e1 !important;
}

body.theme-artemis-swp.has-fc-dark-mode div.woocommerce form .form-row .select2-selection__rendered {
  border-color: #4c4c4c !important;
}