body.theme-generatepress div.woocommerce form .form-row span.select2-container {
  height: auto;
}

body.theme-generatepress div.woocommerce form .form-row .select2-selection {
  height: auto;
  min-height: 40px;
  border-radius: 0;
  line-height: 0;
}

body.theme-generatepress div.woocommerce form .form-row .select2-selection__rendered {
  min-height: 40px;
  border-radius: 0;
}

body.theme-generatepress div.woocommerce form .form-row .select2-selection .select2-selection__clear,
body.theme-generatepress div.woocommerce form .form-row .select2-selection .select2-selection__arrow {
  top: 0;
  margin-top: 5px;
  height: auto;
  min-height: 28px;
  line-height: 28px;
  transform: none;
}

body.theme-generatepress div.woocommerce form .form-row .select2-selection--single {
  padding: 0;
}

body.theme-generatepress div.woocommerce form .form-row .select2-selection--single .select2-selection__rendered {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 40px;
}

body.theme-generatepress div.woocommerce form .form-row .select2-selection--multiple {
  border-width: 1px;
}

body.theme-generatepress div.woocommerce form .form-row .select2-selection--multiple .select2-selection__rendered {
  padding-bottom: 5px;
  min-height: 30px;
  line-height: 30px;
  white-space: normal;
}

body.theme-generatepress div.woocommerce form .form-row .select2-selection--multiple .select2-selection__choice {
  margin-top: 5px;
  line-height: 28px;
  overflow: hidden;
}

body.theme-generatepress div.woocommerce form .form-row .select2-selection--multiple .select2-search--inline {
  margin-top: 5px;
  min-height: 28px;
  line-height: 28px;
}

body.theme-generatepress div.woocommerce form .form-row .select2-selection--multiple .select2-search--inline .select2-search__field {
  margin-top: 0;
  height: 30px;
  min-height: auto;
}