body.theme-twentytwentyfive .ts-wrapper.single .ts-control {
  background-color: var(--wc-form-color-background, #fff);
  border: var(--wc-form-border-width) solid var(--wc-form-border-color);
  border-radius: var(--wc-form-border-radius);
  color: var(--wc-form-color-text, #000);
  padding-left: 17.6px;
  height: auto;
}

body.theme-twentytwentyfive .ts-wrapper.single .ts-control .item {
  line-height: 48px;
  height: 47px;
}