body.theme-kenta .fc-wrapper .fc-place-order .fc-place-order-button {
  min-height: 50px;
  font-size: 1.15rem;
}

body.theme-kenta.has-checkout-layout--multi-step .fc-step__actions .fc-step__next-step {
  justify-content: center;
}

body.theme-kenta div.woocommerce form .form-row .required {
  text-decoration: none;
}

body.theme-kenta .select2-container--default .select2-selection--single {
  border-color: var(--fluidcheckout--field--border-color, var(--fluidcheckout--color--light-grey, #d8d8d8));
}