body.theme-peakshops .fc-content.row.align-middle div.woocommerce {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

body.theme-peakshops div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) textarea,
body.theme-peakshops div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) select,
body.theme-peakshops div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=email],
body.theme-peakshops div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=number],
body.theme-peakshops div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=search],
body.theme-peakshops div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=text],
body.theme-peakshops div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=date],
body.theme-peakshops div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=tel],
body.theme-peakshops div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=url],
body.theme-peakshops div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=password],
body.theme-peakshops div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) .select2-selection {
  border-color: #007a3d;
}
body.theme-peakshops div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon) .select2-selection:after, body.theme-peakshops div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon):not(.fc-select2-field) .woocommerce-input-wrapper:after {
  display: inline-block;
  font-family: "fluid-checkout-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  content: "\e805";
  width: 24px;
  height: 24px;
  font-size: 24px;
  z-index: 10;
  position: absolute;
  right: 5px;
  top: 8px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  color: #007a3d;
  pointer-events: none;
}
body.theme-peakshops div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon):not(.fc-select2-field) .woocommerce-input-wrapper.password-input:after {
  right: 25px;
}
body.theme-peakshops div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon) .select2-selection:after {
  right: 15px;
}
body.theme-peakshops div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]).fc-select2-field:not(.fc-no-validation-icon) select:not([required]) ~ .select2-container .select2-selection:after {
  right: 25px;
}
.woocommerce-terms-and-conditions-wrapper body.theme-peakshops div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):after, body.theme-peakshops div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]).create-account:after {
  content: "";
  display: none;
}

body.theme-peakshops div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon).fc-select2-field .woocommerce-input-wrapper:after {
  display: inline-block;
  font-family: "fluid-checkout-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  content: "\e805";
  width: 24px;
  height: 24px;
  font-size: 24px;
  z-index: 10;
  position: absolute;
  right: 30px;
  top: 10px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  color: #007a3d;
  pointer-events: none;
}