body.theme-porto .fc-wrapper .fc-place-order .fc-place-order-button {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

body.theme-porto div.woocommerce .fc-wrapper #order_review table.woocommerce-checkout-review-order-table tfoot tr.order-total,
body.theme-porto div.woocommerce .fc-wrapper #order_review table.woocommerce-checkout-review-order-table tbody tr.cart-item .product-total {
  color: var(--porto-color-price);
}

div.woocommerce form .form-row select,
div.woocommerce form .form-row input[type=email],
div.woocommerce form .form-row input[type=number],
div.woocommerce form .form-row input[type=date],
div.woocommerce form .form-row input[type=search],
div.woocommerce form .form-row input[type=text],
div.woocommerce form .form-row input[type=tel],
div.woocommerce form .form-row input[type=url],
div.woocommerce form .form-row input[type=password] {
  height: var(--fluidcheckout--field--height, 45.625px);
}