@media (max-width: 749px) {
  body.theme-onair2.woocommerce-checkout .qt-container {
    width: 100%;
  }
}

@media (max-width: 749px) {
  body.theme-onair2.woocommerce-checkout .qt-paddedcontainer {
    padding-top: 0;
    padding-bottom: 0;
  }
}

body.theme-onair2 .fc-wrapper .fc-coupon_code__collapsible input#coupon_code {
  border: var(--fluidcheckout--field--border-width, 1px) solid var(--fluidcheckout--field--border-color, var(--fluidcheckout--color--light-grey, #d8d8d8));
}

body.theme-onair2 div.woocommerce form .form-row {
  padding: 0 !important;
}

body.theme-onair2 div.woocommerce form .form-row textarea {
  padding: var(--fluidcheckout--field--padding-left, 8px);
}

body.theme-onair2 div.woocommerce form textarea,
body.theme-onair2 div.woocommerce form select,
body.theme-onair2 div.woocommerce form input[type=email],
body.theme-onair2 div.woocommerce form input[type=number],
body.theme-onair2 div.woocommerce form input[type=date],
body.theme-onair2 div.woocommerce form input[type=search],
body.theme-onair2 div.woocommerce form input[type=text],
body.theme-onair2 div.woocommerce form input[type=tel],
body.theme-onair2 div.woocommerce form input[type=url],
body.theme-onair2 div.woocommerce form input[type=password] {
  border: var(--fluidcheckout--field--border-width, 1px) solid var(--fluidcheckout--field--border-color, var(--fluidcheckout--color--light-grey, #d8d8d8));
}

body.theme-onair2 div.woocommerce form label,
body.theme-onair2 div.woocommerce .shipping-method__option-label {
  color: var(--fluidcheckout--onair2--text-color);
}

body.theme-onair2 div.woocommerce form .form-row .select2-selection--single,
body.theme-onair2 div.woocommerce form .form-row .select2-selection--multiple {
  text-align: left;
}

body.theme-onair2 .select2-container--default .select2-results__option[aria-selected=true] {
  background-color: var(--fluidcheckout--field--background-color--accent, var(--fluidcheckout--color--grey, #7b7575)) !important;
  color: var(--fluidcheckout--field--text-color--accent, var(--fluidcheckout--color--white, #fff)) !important;
}