@media (max-width: 749px) {
  body.theme-enfold.woocommerce-checkout .fc-content.container {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 20px 80px !important;
  }
}

body.theme-enfold.woocommerce-checkout#top.woocommerce-page .fc-wrapper #payment {
  border: 0;
}

body.theme-enfold.woocommerce-checkout#top.woocommerce-page .fc-wrapper #payment ul.payment_methods {
  margin: 0;
  padding: 0;
}

body.theme-enfold.woocommerce-checkout#top .fc-wrapper #payment .payment_methods > .wc_payment_method {
  padding: 0;
  border: 0;
}

body.theme-enfold.woocommerce-checkout#top .fc-wrapper #payment ul.wc_payment_methods > li.wc_payment_method > label {
  display: flex;
}

body.theme-enfold.woocommerce-checkout#top .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box {
  position: static;
  display: block;
  width: 100%;
}

body.theme-enfold .fc-wrapper .widget {
  padding: 0;
  border: 0;
}

@media (min-width: 750px) {
  body.theme-enfold#top div.woocommerce form .form-row.form-row-first,
  body.theme-enfold#top div.woocommerce form .form-row.form-row-middle,
  body.theme-enfold#top div.woocommerce form #payment .form-row.form-row-first,
  body.theme-enfold#top div.woocommerce form #payment .form-row.form-row-middle {
    margin-right: 0;
    margin-left: 4%;
  }
}

body.theme-enfold#top div.woocommerce form .form-row textarea:focus,
body.theme-enfold#top div.woocommerce form .form-row select:focus,
body.theme-enfold#top div.woocommerce form .form-row input[type=email]:focus,
body.theme-enfold#top div.woocommerce form .form-row input[type=number]:focus,
body.theme-enfold#top div.woocommerce form .form-row input[type=date]:focus,
body.theme-enfold#top div.woocommerce form .form-row input[type=search]:focus,
body.theme-enfold#top div.woocommerce form .form-row input[type=text]:focus,
body.theme-enfold#top div.woocommerce form .form-row input[type=tel]:focus,
body.theme-enfold#top div.woocommerce form .form-row input[type=url]:focus,
body.theme-enfold#top div.woocommerce form .form-row input[type=password]:focus,
body.theme-enfold#top div.woocommerce form .form-row input[type=checkbox]:focus,
body.theme-enfold#top div.woocommerce form .form-row input[type=radio]:focus,
body.theme-enfold#top div.woocommerce form .form-row .select2-selection:focus {
  outline: solid 2px var(--fluidcheckout--color--dark-grey, #535156);
  outline-offset: 2px;
}

body.theme-enfold#top div.woocommerce input[type=number]:focus,
body.theme-enfold#top div.woocommerce input[type=checkbox]:focus,
body.theme-enfold#top div.woocommerce input[type=radio]:focus {
  outline: solid 2px var(--fluidcheckout--color--dark-grey, #535156);
  outline-offset: 2px;
}

body.theme-enfold .select2-container .select2-selection--single {
  border-color: var(--fluidcheckout--field--border-color, var(--fluidcheckout--color--light-grey, #d8d8d8));
}

body.theme-enfold .select2-container .select2-selection .select2-selection__rendered {
  font-size: var(--fluidcheckout--field--font-size, 16px);
}