body.theme-mrtailor.woocommerce-checkout .woocommerce form.woocommerce-checkout .fc-checkout-order-review__inner .woocommerce-checkout-review-order.woocommerce-checkout-review-order {
  background-image: none;
}

body.theme-mrtailor.woocommerce-checkout .fc-checkout-order-review__inner #order_review table.shop_table tbody tr td:last-child {
  padding: 10px 20px;
}

body.theme-mrtailor form.woocommerce-checkout .fc-wrapper #order_review table.woocommerce-checkout-review-order-table tfoot th {
  padding-right: 20px;
}

body.theme-mrtailor form.woocommerce-checkout .fc-wrapper #order_review table.woocommerce-checkout-review-order-table .order-total td .includes_tax .amount {
  font-size: inherit;
}

body.theme-mrtailor div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon) .select2-selection:after, body.theme-mrtailor div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon):not(.fc-select2-field) .woocommerce-input-wrapper:after {
  top: 10px;
}
body.theme-mrtailor div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon):not(.fc-select2-field) .woocommerce-input-wrapper.password-input:after {
  left: 32px;
}
body.theme-mrtailor div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon) .select2-selection:after {
  left: 32px;
}
body.theme-mrtailor div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]).fc-select2-field:not(.fc-no-validation-icon) select:not([required]) ~ .select2-container .select2-selection.select2-selection--single:after {
  left: 32px;
}
body.theme-mrtailor div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]).fc-select2-field:not(.fc-no-validation-icon) select:not([required]) ~ .select2-container .select2-selection.select2-selection--multiple:after {
  left: 5px;
}

body.theme-mrtailor div.woocommerce form .form-row span.select2-container {
  height: auto;
}

body.theme-mrtailor div.woocommerce form .form-row .select2-selection {
  height: auto;
  min-height: 43px;
  border-radius: 3px;
  line-height: 0;
}

body.theme-mrtailor div.woocommerce form .form-row .select2-selection__rendered {
  min-height: 43px;
  border-radius: 3px;
}

body.theme-mrtailor div.woocommerce form .form-row .select2-selection .select2-selection__clear,
body.theme-mrtailor div.woocommerce form .form-row .select2-selection .select2-selection__arrow {
  top: 0;
  margin-top: 5px;
  height: auto;
  min-height: 31px;
  line-height: 31px;
  transform: none;
}

body.theme-mrtailor div.woocommerce form .form-row .select2-selection--single {
  padding: 0;
}

body.theme-mrtailor div.woocommerce form .form-row .select2-selection--single .select2-selection__rendered {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 43px;
}

body.theme-mrtailor div.woocommerce form .form-row .select2-selection--multiple {
  border-width: 1px;
}

body.theme-mrtailor div.woocommerce form .form-row .select2-selection--multiple .select2-selection__rendered {
  padding-bottom: 5px;
  min-height: 33px;
  line-height: 33px;
  white-space: normal;
}

body.theme-mrtailor div.woocommerce form .form-row .select2-selection--multiple .select2-selection__choice {
  margin-top: 5px;
  line-height: 31px;
  overflow: hidden;
}

body.theme-mrtailor div.woocommerce form .form-row .select2-selection--multiple .select2-search--inline {
  margin-top: 5px;
  min-height: 31px;
  line-height: 31px;
}

body.theme-mrtailor div.woocommerce form .form-row .select2-selection--multiple .select2-search--inline .select2-search__field {
  margin-top: 0;
  height: 33px;
  min-height: auto;
}

body.theme-mrtailor div.woocommerce form .form-row .select2-selection .select2-selection__arrow {
  top: 8px;
}