body.theme-betheme.has-highlighted-billing-section div.woocommerce form .fc-step__substep[data-substep-id=billing_address] textarea:focus,
body.theme-betheme.has-highlighted-billing-section div.woocommerce form .fc-step__substep[data-substep-id=billing_address] select:focus,
body.theme-betheme.has-highlighted-billing-section div.woocommerce form .fc-step__substep[data-substep-id=billing_address] input[type=email]:focus,
body.theme-betheme.has-highlighted-billing-section div.woocommerce form .fc-step__substep[data-substep-id=billing_address] input[type=number]:focus,
body.theme-betheme.has-highlighted-billing-section div.woocommerce form .fc-step__substep[data-substep-id=billing_address] input[type=date]:focus,
body.theme-betheme.has-highlighted-billing-section div.woocommerce form .fc-step__substep[data-substep-id=billing_address] input[type=search]:focus,
body.theme-betheme.has-highlighted-billing-section div.woocommerce form .fc-step__substep[data-substep-id=billing_address] input[type=text]:focus,
body.theme-betheme.has-highlighted-billing-section div.woocommerce form .fc-step__substep[data-substep-id=billing_address] input[type=tel]:focus,
body.theme-betheme.has-highlighted-billing-section div.woocommerce form .fc-step__substep[data-substep-id=billing_address] input[type=url]:focus,
body.theme-betheme.has-highlighted-billing-section div.woocommerce form .fc-step__substep[data-substep-id=billing_address] input[type=password]:focus,
body.theme-betheme.has-highlighted-billing-section div.woocommerce form .fc-step__substep[data-substep-id=billing_address] .select2-selection:focus,
body.theme-betheme.has-highlighted-billing-section div.woocommerce form .fc-step__substep[data-substep-id=billing_address] .select2-selection .select2-selection__rendered:focus {
  background-color: var(--fluidcheckout--betheme--form-field--background-color--focus) !important;
  color: var(--fluidcheckout--betheme--form-field--text-color--focus) !important;
  border-color: var(--fluidcheckout--betheme--form-field--border-color--focus) !important;
}

body.theme-betheme.has-highlighted-billing-section div.woocommerce form .fc-step__substep[data-substep-id=billing_address] .select2-selection:focus, body.theme-betheme.has-highlighted-billing-section div.woocommerce form .fc-step__substep[data-substep-id=billing_address] .select2-selection:focus .select2-selection__rendered {
  background-color: var(--fluidcheckout--betheme--form-field--background-color--focus) !important;
  color: var(--fluidcheckout--betheme--form-field--text-color--focus) !important;
  border-color: var(--fluidcheckout--betheme--form-field--border-color--focus) !important;
}

@media (max-width: 768px) {
  body.theme-betheme .fc-content.content_wrapper .section_wrapper {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

@media (max-width: 768px) {
  body.theme-betheme .fc-content.content_wrapper .section_wrapper .the_content_wrapper {
    width: 100%;
    margin: 0;
  }
}

body.theme-betheme.has-highlighted-shipping-section div.woocommerce form .fc-step__substep[data-substep-id=shipping_address] textarea:focus,
body.theme-betheme.has-highlighted-shipping-section div.woocommerce form .fc-step__substep[data-substep-id=shipping_address] select:focus,
body.theme-betheme.has-highlighted-shipping-section div.woocommerce form .fc-step__substep[data-substep-id=shipping_address] input[type=email]:focus,
body.theme-betheme.has-highlighted-shipping-section div.woocommerce form .fc-step__substep[data-substep-id=shipping_address] input[type=number]:focus,
body.theme-betheme.has-highlighted-shipping-section div.woocommerce form .fc-step__substep[data-substep-id=shipping_address] input[type=date]:focus,
body.theme-betheme.has-highlighted-shipping-section div.woocommerce form .fc-step__substep[data-substep-id=shipping_address] input[type=search]:focus,
body.theme-betheme.has-highlighted-shipping-section div.woocommerce form .fc-step__substep[data-substep-id=shipping_address] input[type=text]:focus,
body.theme-betheme.has-highlighted-shipping-section div.woocommerce form .fc-step__substep[data-substep-id=shipping_address] input[type=tel]:focus,
body.theme-betheme.has-highlighted-shipping-section div.woocommerce form .fc-step__substep[data-substep-id=shipping_address] input[type=url]:focus,
body.theme-betheme.has-highlighted-shipping-section div.woocommerce form .fc-step__substep[data-substep-id=shipping_address] input[type=password]:focus {
  background-color: var(--fluidcheckout--betheme--form-field--background-color--focus) !important;
  color: var(--fluidcheckout--betheme--form-field--text-color--focus) !important;
  border-color: var(--fluidcheckout--betheme--form-field--border-color--focus) !important;
}

body.theme-betheme.has-highlighted-shipping-section div.woocommerce form .fc-step__substep[data-substep-id=shipping_address] .select2-selection:focus, body.theme-betheme.has-highlighted-shipping-section div.woocommerce form .fc-step__substep[data-substep-id=shipping_address] .select2-selection:focus .select2-selection__rendered {
  background-color: var(--fluidcheckout--betheme--form-field--background-color--focus) !important;
  color: var(--fluidcheckout--betheme--form-field--text-color--focus) !important;
  border-color: var(--fluidcheckout--betheme--form-field--border-color--focus) !important;
}

body.theme-betheme .fc-wrapper #payment .mfn-payment-check {
  display: none !important;
}

body.theme-betheme #order_review .woocommerce-checkout-review-order-table .order-total .amount {
  font-size: 15px;
}

body.theme-betheme .mfn-cart-step-2 .woocommerce #order_review {
  max-width: 100%;
}

body.theme-betheme .select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 10px;
  padding-right: 10px;
}

body.theme-betheme .select2-container .select2-selection:focus, body.theme-betheme .select2-container .select2-selection:focus .select2-selection__rendered {
  background-color: var(--fluidcheckout--betheme--form-field--background-color--focus);
  color: var(--fluidcheckout--betheme--form-field--text-color--focus);
  border-color: var(--fluidcheckout--betheme--form-field--border-color--focus);
}