body.theme-gizmos div.woocommerce input[type=checkbox] {
  background-color: var(--fluidcheckout--color--white, #fff);
}

body.theme-gizmos div.woocommerce form .form-row .select2-selection--single .select2-selection__rendered {
  padding-right: 20px;
}

body.theme-gizmos div.woocommerce .fc-wrapper #order_review table.woocommerce-checkout-review-order-table tfoot th {
  font-size: inherit;
}