body.theme-go .fc-wrapper #payment .payment_methods > .wc_payment_method > input[type=radio]:first-child:checked + label:before {
  background-color: #00A854 !important;
}

body.theme-go .woocommerce ul#shipping_method .shipping-method__option input[type=radio]:checked + .shipping-method__option-label:before {
  background-color: #00A854 !important;
}

body.theme-go div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon) .select2-selection:after, body.theme-go div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon):not(.fc-select2-field) .woocommerce-input-wrapper:after {
  top: 12px;
}

body.theme-go div.woocommerce form .form-row .select2-selection,
body.theme-go div.woocommerce form .form-row .select2-selection__rendered {
  min-height: 49px;
  line-height: 0;
}

body.theme-go div.woocommerce form .form-row .select2-selection .select2-selection__clear,
body.theme-go div.woocommerce form .form-row .select2-selection .select2-selection__arrow {
  top: 0;
  margin-top: 5.5px;
  min-height: 38px;
  line-height: 38px;
}

body.theme-go div.woocommerce form .form-row .select2-selection--single {
  padding: 0;
}

body.theme-go div.woocommerce form .form-row .select2-selection--single .select2-selection__rendered {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 49px;
}

body.theme-go div.woocommerce form .form-row .select2-selection--multiple .select2-selection__rendered {
  padding-bottom: 5.5px;
  min-height: 38px;
  line-height: 38px;
  white-space: normal;
}

body.theme-go div.woocommerce form .form-row .select2-selection--multiple .select2-selection__choice {
  margin-top: 5.5px;
  line-height: 38px;
  overflow: hidden;
}

body.theme-go div.woocommerce form .form-row .select2-selection--multiple .select2-search--inline {
  min-height: 38px;
  line-height: 38px;
}

body.theme-go div.woocommerce form .form-row .select2-selection--multiple .select2-search--inline .select2-search__field {
  height: 38px;
  min-height: auto;
}

body.theme-go div.woocommerce form .form-row .select2-selection--single,
body.theme-go div.woocommerce form .form-row .select2-selection--multiple {
  padding-top: 0;
  padding-bottom: 0;
}

body.theme-go div.woocommerce form .form-row .select2-selection--multiple {
  border-width: 2px;
}