body.theme-kentha .qt-mobilemenu + .fc-content .fc-sidebar .fc-sidebar__inner {
  transition: top 0.35s ease;
}

body.theme-kentha .qt-mobilemenu.qt-up + .fc-content .fc-sidebar .fc-sidebar__inner {
  top: 56px !important;
}

body.theme-kentha .fc-content {
  color: var(--fluidcheckout--color--dark-grey, #535156);
}

@media (max-width: 749px) {
  body.theme-kentha.woocommerce-checkout .qt-container {
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;
  }
}

@media (max-width: 749px) {
  body.theme-kentha.woocommerce-checkout .qt-paddedcontent {
    padding-top: 0;
    padding-bottom: 0;
  }
}

body.theme-kentha#qtBody div.woocommerce .fc-wrapper .fc-coupon_code__collapsible .fc-coupon-code__apply {
  min-height: 45px !important;
}

body.theme-kentha#qtBody .fc-wrapper .fc-place-order .fc-place-order-button {
  min-width: 240px !important;
  min-height: 50px !important;
}

body.theme-kentha .qt-mobilemenu + .fc-content .fc-progress-bar__inner {
  transition: top 0.35s ease;
}

body.theme-kentha .qt-mobilemenu.qt-up + .fc-content .fc-progress-bar__inner {
  top: 56px !important;
}

body.theme-kentha.woocommerce-checkout form.woocommerce-checkout .fc-wrapper h1,
body.theme-kentha.woocommerce-checkout form.woocommerce-checkout .fc-wrapper h2,
body.theme-kentha.woocommerce-checkout form.woocommerce-checkout .fc-wrapper h3,
body.theme-kentha.woocommerce-checkout form.woocommerce-checkout .fc-wrapper h4,
body.theme-kentha.woocommerce-checkout form.woocommerce-checkout .fc-wrapper h5,
body.theme-kentha.woocommerce-checkout form.woocommerce-checkout .fc-wrapper h6 {
  color: inherit;
}

body.theme-kentha#qtBody form .form-row {
  padding: 0;
  line-height: normal;
}

body.theme-kentha div.woocommerce form .form-row input[type=checkbox] {
  position: initial;
}

body.theme-kentha div.woocommerce form .form-row [type=radio]:not(:checked) + label,
body.theme-kentha div.woocommerce form .form-row [type=radio]:checked + label {
  height: auto;
}

body.theme-kentha div.woocommerce form .form-row [type=radio] + label:before,
body.theme-kentha div.woocommerce form .form-row [type=radio] + label:after {
  margin: auto;
  transition: none;
}

body.theme-kentha div.woocommerce form .form-row [type=radio]:checked + label:after,
body.theme-kentha div.woocommerce form .form-row .with-gap[type=radio]:checked + label:before,
body.theme-kentha div.woocommerce form .form-row .with-gap[type=radio]:checked + label:after {
  border: 2px solid transparent;
}

body.theme-kentha#qtBody div.woocommerce form .form-row textarea {
  min-height: 100px;
  font-size: 1rem;
}

body.theme-kentha.has-highlighted-shipping-section div.woocommerce form .fc-step__substep[data-substep-id=shipping_address] textarea,
body.theme-kentha.has-highlighted-shipping-section div.woocommerce form .fc-step__substep[data-substep-id=shipping_address] select,
body.theme-kentha.has-highlighted-shipping-section div.woocommerce form .fc-step__substep[data-substep-id=shipping_address] input[type=email],
body.theme-kentha.has-highlighted-shipping-section div.woocommerce form .fc-step__substep[data-substep-id=shipping_address] input[type=number],
body.theme-kentha.has-highlighted-shipping-section div.woocommerce form .fc-step__substep[data-substep-id=shipping_address] input[type=date],
body.theme-kentha.has-highlighted-shipping-section div.woocommerce form .fc-step__substep[data-substep-id=shipping_address] input[type=search],
body.theme-kentha.has-highlighted-shipping-section div.woocommerce form .fc-step__substep[data-substep-id=shipping_address] input[type=text],
body.theme-kentha.has-highlighted-shipping-section div.woocommerce form .fc-step__substep[data-substep-id=shipping_address] input[type=tel],
body.theme-kentha.has-highlighted-shipping-section div.woocommerce form .fc-step__substep[data-substep-id=shipping_address] input[type=url],
body.theme-kentha.has-highlighted-shipping-section div.woocommerce form .fc-step__substep[data-substep-id=shipping_address] input[type=password],
body.theme-kentha.has-highlighted-billing-section div.woocommerce form .fc-step__substep[data-substep-id=billing_address] textarea,
body.theme-kentha.has-highlighted-billing-section div.woocommerce form .fc-step__substep[data-substep-id=billing_address] select,
body.theme-kentha.has-highlighted-billing-section div.woocommerce form .fc-step__substep[data-substep-id=billing_address] input[type=email],
body.theme-kentha.has-highlighted-billing-section div.woocommerce form .fc-step__substep[data-substep-id=billing_address] input[type=number],
body.theme-kentha.has-highlighted-billing-section div.woocommerce form .fc-step__substep[data-substep-id=billing_address] input[type=date],
body.theme-kentha.has-highlighted-billing-section div.woocommerce form .fc-step__substep[data-substep-id=billing_address] input[type=search],
body.theme-kentha.has-highlighted-billing-section div.woocommerce form .fc-step__substep[data-substep-id=billing_address] input[type=text],
body.theme-kentha.has-highlighted-billing-section div.woocommerce form .fc-step__substep[data-substep-id=billing_address] input[type=tel],
body.theme-kentha.has-highlighted-billing-section div.woocommerce form .fc-step__substep[data-substep-id=billing_address] input[type=url],
body.theme-kentha.has-highlighted-billing-section div.woocommerce form .fc-step__substep[data-substep-id=billing_address] input[type=password] {
  padding: 0 var(--fluidcheckout--field--padding-left, 8px);
}

body.theme-kentha .fc-wrapper #payment ul.wc_payment_methods > li.wc_payment_method > label {
  height: auto;
}

body.theme-kentha .woocommerce ul#shipping_method .shipping-method__option .shipping-method__option-label {
  height: auto;
}

body.theme-kentha .woocommerce ul#shipping_method .shipping-method__option .shipping-method__option-label:before {
  top: 6px;
  right: 6px;
}

body.theme-kentha .woocommerce ul#shipping_method .shipping-method__option input[type=radio]:checked + .shipping-method__option-label:after {
  top: 5px;
  right: 4px;
  border-color: transparent;
  background-color: transparent;
}

body.theme-kentha .select2-container--default .select2-selection--single,
body.theme-kentha#qtBody .select2-dropdown,
body.theme-kentha#qtBody .select2-results__options .select2-results__option,
body.theme-kentha#qtBody .select2-container--default .select2-search--dropdown .select2-search__field {
  background-color: var(--fluidcheckout--color--white, #fff) !important;
  border-color: var(--fluidcheckout--field--border-color, var(--fluidcheckout--color--light-grey, #d8d8d8));
}

body.theme-kentha#qtBody .select2-dropdown {
  box-shadow: 0 3px 8px var(--fluidcheckout--shadow-color--darker, var(--fluidcheckout--color--light-grey, #d8d8d8));
}

body.theme-kentha#qtBody .select2-results__options .select2-results__option {
  color: var(--fluidcheckout--color--dark-grey, #535156) !important;
}

body.theme-kentha#qtBody .select2-container--default .select2-results__option[aria-selected=true],
body.theme-kentha#qtBody .select2-container--default .select2-results__option[data-selected=true] {
  background-color: var(--fluidcheckout--field--background-color--accent, var(--fluidcheckout--color--grey, #7b7575)) !important;
  color: var(--fluidcheckout--field--text-color--accent, var(--fluidcheckout--color--white, #fff)) !important;
}

body.theme-kentha div.woocommerce form .form-row .select2-selection--single,
body.theme-kentha div.woocommerce form .form-row .select2-selection--multiple {
  text-align: right;
}

body.theme-kentha#qtBody div.woocommerce form .form-row .select2-selection--single,
body.theme-kentha#qtBody div.woocommerce form .form-row .select2-selection--single .select2-selection__rendered {
  height: auto;
}

body.theme-kentha#qtBody div.woocommerce form .form-row .select2-selection--single .select2-selection__rendered {
  color: var(--fluidcheckout--color--dark-grey, #535156);
  font-size: var(--fluidcheckout--field--font-size, 16px);
  line-height: calc(var(--fluidcheckout--field--height, 45.625px) - var(--fluidcheckout--field--border-width, 1px) * 2);
}