@media (max-width: 749px) {
  body.theme-salient.woocommerce-checkout .fc-content.container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

body.theme-salient .fc-wrapper #payment ul.wc_payment_methods > li.wc_payment_method > input[name=payment_method] + label span {
  color: inherit;
}

body.theme-salient.has-checkout-layout--multi-step .fc-step__actions .fc-step__next-step:not([disabled]):not(.disabled):hover, body.theme-salient.has-checkout-layout--multi-step .fc-step__actions .fc-step__next-step:not([disabled]):not(.disabled):focus, body.theme-salient.has-checkout-layout--multi-step .fc-step__actions .fc-step__next-step:not([disabled]):not(.disabled):active {
  opacity: 0.8;
}

body.theme-salient .woocommerce ul#shipping_method .shipping-method__option input[type=radio] + .shipping-method__option-label span {
  color: inherit;
}

body.theme-salient div.woocommerce .form-row .woocommerce-error,
body.theme-salient div.woocommerce .shipping-method__package .woocommerce-error,
body.theme-salient div.woocommerce .form-row .fc-mailcheck-suggestion {
  background-color: var(--fluidcheckout--color--lighter-grey, #f3f3f3) !important;
}

body.theme-salient.woocommerce-checkout .select2-container .select2-selection--single,
body.theme-salient.woocommerce-checkout .select2-container .select2-selection--single .select2-selection__rendered,
body.theme-salient.woocommerce-checkout .select2-container .select2-selection--single .select2-selection__arrow {
  height: auto;
}

body.theme-salient.woocommerce-checkout .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: calc(var(--fluidcheckout--field--height, 45.625px) - var(--fluidcheckout--field--border-width, 1px) * 2);
}