body.theme-popularfx .fc-wrapper .select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 10px;
}

body.theme-popularfx div.woocommerce form .form-row .select2-selection--single {
  padding: 0;
}

body.theme-popularfx div.woocommerce form .form-row .select2-selection .select2-selection__clear {
  right: 5px;
}