body#top.theme-enfold.woocommerce-checkout.woocommerce-page .fc-wrapper #payment {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
}

body#top.theme-enfold.woocommerce-checkout.woocommerce-page .fc-wrapper #payment ul.payment_methods {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body#top.theme-enfold.woocommerce-checkout .fc-wrapper #payment .payment_methods > .wc_payment_method {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.6;
}

body#top.theme-enfold.woocommerce-checkout .fc-wrapper #payment ul.wc_payment_methods > li.wc_payment_method > label {
  position: relative;
  display: flex;
}

body#top.theme-enfold.woocommerce-checkout .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box {
  position: static;
  display: block;
  margin: 0;
  padding: 20px;
  width: 100%;
  border-bottom: solid 1px #D8D8D8;
  background-color: #F4F4F4;
}

body.theme-enfold div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon) .select2-selection:after, body.theme-enfold div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon):not(.fc-select2-field) .woocommerce-input-wrapper:after {
  top: 6px;
}

@media (min-width: 750px) {
  body#top.theme-enfold div.woocommerce form .form-row.form-row-first,
body#top.theme-enfold div.woocommerce form .form-row.form-row-middle,
body#top.theme-enfold div.woocommerce form #payment .form-row.form-row-first,
body#top.theme-enfold div.woocommerce form #payment .form-row.form-row-middle {
    margin-left: 0;
    margin-right: 4%;
  }
}

body.theme-enfold div.woocommerce form .form-row span.select2-container {
  height: auto;
}

body.theme-enfold div.woocommerce form .form-row .select2-selection {
  height: auto;
  min-height: 34px;
  border-radius: 0;
  line-height: 0;
}

body.theme-enfold div.woocommerce form .form-row .select2-selection__rendered {
  min-height: 34px;
  border-radius: 0;
}

body.theme-enfold div.woocommerce form .form-row .select2-selection .select2-selection__clear,
body.theme-enfold div.woocommerce form .form-row .select2-selection .select2-selection__arrow {
  top: 0;
  margin-top: 5px;
  height: auto;
  min-height: 22px;
  line-height: 22px;
  transform: none;
}

body.theme-enfold div.woocommerce form .form-row .select2-selection--single {
  padding: 0;
}

body.theme-enfold div.woocommerce form .form-row .select2-selection--single .select2-selection__rendered {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 34px;
}

body.theme-enfold div.woocommerce form .form-row .select2-selection--multiple {
  border-width: 1px;
}

body.theme-enfold div.woocommerce form .form-row .select2-selection--multiple .select2-selection__rendered {
  padding-bottom: 5px;
  min-height: 24px;
  line-height: 24px;
  white-space: normal;
}

body.theme-enfold div.woocommerce form .form-row .select2-selection--multiple .select2-selection__choice {
  margin-top: 5px;
  line-height: 22px;
  overflow: hidden;
}

body.theme-enfold div.woocommerce form .form-row .select2-selection--multiple .select2-search--inline {
  margin-top: 5px;
  min-height: 22px;
  line-height: 22px;
}

body.theme-enfold div.woocommerce form .form-row .select2-selection--multiple .select2-search--inline .select2-search__field {
  margin-top: 0;
  height: 24px;
  min-height: auto;
}