body.theme-minimog .wc_payment_methods li + li {
  margin: 0 !important;
}

body.theme-minimog div.woocommerce .form-row .woocommerce-error,
body.theme-minimog div.woocommerce .shipping-method__package .woocommerce-error,
body.theme-minimog div.woocommerce .form-row .fc-mailcheck-suggestion {
  margin: 0 !important;
}

body.theme-minimog .woocommerce-checkout .fc-wrapper .woocommerce-shipping-fields .woocommerce-shipping-fields__field-wrapper {
  display: block;
}

body.theme-minimog div.woocommerce .fc-wrapper #order_review table.woocommerce-checkout-review-order-table th,
body.theme-minimog div.woocommerce .fc-wrapper #order_review table.woocommerce-checkout-review-order-table td {
  padding: 10px 20px !important;
}