/*------------------------------------*\
	#IMPORT ABSTRACT
\*------------------------------------*/
/** 
 * FUNCTIONS
 * 
 * Caution: This file is supposed to import all functions
 * except the `remsize` functions which is already imported
 * before the `variables` as it is needed earlier.
 */
/*------------------------------------*\
	#VARIABLES
\*------------------------------------*/
/** 
 * FUNCTIONS
 * 
 * Caution: This file is supposed to import all functions
 * except the `remsize` functions which is already imported
 * before the `variables` as it is needed earlier.
 */
/*------------------------------------*\
	#IMPORT STYLES
\*------------------------------------*/
/*------------------------------------*\
	#WOOCOMMERCE FORM FIELDS
\*------------------------------------*/
body #payment .fc-payment-methods__wrapper .payment_methods li:last-child:not(.woocommerce-notice) {
  padding-bottom: 0; }

/*------------------------------------*\
	#ORDER SUMMARY
\*------------------------------------*/
form.woocommerce-checkout .fc-wrapper #order_review .woocommerce-checkout-review-order-table .product-name .product-item-thumbnail {
  width: auto;
  padding: 0; }
