body.theme-thrive-theme .fc-wrapper div {
  box-sizing: border-box !important;
}

body.theme-thrive-theme.theme-thrive-theme:not(.has-checkout-header) .fc-content {
  max-width: 100% !important;
  width: 1080px;
  width: var(--header-content-width, var(--layout-content-width));
  padding-left: 20px !important;
  padding-right: 20px !important;
}

body:not(.has-checkout-header) #thrive-header {
  z-index: 300 !important;
}

body.theme-thrive-theme .fc-wrapper .woocommerce-terms-and-conditions-wrapper .woocommerce-terms-and-conditions-checkbox-text {
  padding: 0 !important;
}