div.woocommerce form .form-row .select2-selection,
div.woocommerce form .form-row .select2-selection__rendered {
  height: 41px;
  line-height: 41px;
}

div.woocommerce form .form-row .select2-selection__arrow {
  height: 38px;
  line-height: 38px;
}