body.theme-blocksy div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon) .select2-selection:after, body.theme-blocksy div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon):not(.fc-select2-field) .woocommerce-input-wrapper:after {
  top: 8px;
}
body.theme-blocksy div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon) .select2-selection:after {
  right: 30px;
}
body.theme-blocksy div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]).fc-select2-field:not(.fc-no-validation-icon) select:not([required]) ~ .select2-container .select2-selection.select2-selection--single:after {
  right: 42px;
}

body.theme-blocksy div.woocommerce form .form-row input[type=checkbox],
body.theme-blocksy div.woocommerce form .form-row input[type=radio] {
  background-color: #fff;
}

body.theme-blocksy div.woocommerce form .form-row span.select2-container {
  height: auto;
}

body.theme-blocksy div.woocommerce form .form-row .select2-selection {
  height: auto;
  min-height: 38px;
  border-radius: 3px;
  line-height: 0;
}

body.theme-blocksy div.woocommerce form .form-row .select2-selection__rendered {
  min-height: 38px;
  border-radius: 3px;
}

body.theme-blocksy div.woocommerce form .form-row .select2-selection .select2-selection__clear,
body.theme-blocksy div.woocommerce form .form-row .select2-selection .select2-selection__arrow {
  top: 0;
  margin-top: 5px;
  height: auto;
  min-height: 26px;
  line-height: 26px;
  transform: none;
}

body.theme-blocksy div.woocommerce form .form-row .select2-selection--single {
  padding: 0;
}

body.theme-blocksy div.woocommerce form .form-row .select2-selection--single .select2-selection__rendered {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 38px;
}

body.theme-blocksy div.woocommerce form .form-row .select2-selection--multiple {
  border-width: 1px;
}

body.theme-blocksy div.woocommerce form .form-row .select2-selection--multiple .select2-selection__rendered {
  padding-bottom: 5px;
  min-height: 28px;
  line-height: 28px;
  white-space: normal;
}

body.theme-blocksy div.woocommerce form .form-row .select2-selection--multiple .select2-selection__choice {
  margin-top: 5px;
  line-height: 26px;
  overflow: hidden;
}

body.theme-blocksy div.woocommerce form .form-row .select2-selection--multiple .select2-search--inline {
  margin-top: 5px;
  min-height: 26px;
  line-height: 26px;
}

body.theme-blocksy div.woocommerce form .form-row .select2-selection--multiple .select2-search--inline .select2-search__field {
  margin-top: 0;
  height: 28px;
  min-height: auto;
}

body.theme-blocksy div.woocommerce form .form-row .select2-selection.select2-selection--single .select2-selection__clear {
  margin-top: 0;
  margin-right: 20px;
}