/*------------------------------------*\
  #IMPORT ABSTRACT
\*------------------------------------*/
/** 
 * FUNCTIONS
 * 
 * Caution: This file is supposed to import all functions
 * except the `remsize` functions which is already imported
 * before the `variables` as it is needed earlier.
 */
/*------------------------------------*\
	#VARIABLES
\*------------------------------------*/
/** 
 * FUNCTIONS
 * 
 * Caution: This file is supposed to import all functions
 * except the `remsize` functions which is already imported
 * before the `variables` as it is needed earlier.
 */
/*------------------------------------*\
  #IMPORT STYLES
\*------------------------------------*/
/*------------------------------------*\
  #WOOCOMMERCE FORM-ROW
\*------------------------------------*/
div.woocommerce form .form-row .select2-selection,
div.woocommerce form .form-row .select2-selection__rendered {
  height: 39.16px;
  line-height: 39.16px; }

div.woocommerce form .form-row .select2-selection__arrow {
  height: 37px;
  line-height: 37px; }
