body.theme-the-hanger .woocommerce ul#shipping_method .shipping-method__option .shipping-method__option-label:before {
  top: 9px;
}

body.theme-the-hanger .woocommerce ul#shipping_method .shipping-method__option input[type=radio]:checked + .shipping-method__option-label:after {
  top: 9px;
}

body.theme-the-hanger .fc-wrapper #payment ul.wc_payment_methods > li.wc_payment_method > label {
  display: flex !important;
  margin: 0 !important;
  padding: 10px 20px !important;
  padding-left: 44px !important;
}

body.theme-the-hanger.woocommerce-checkout div.woocommerce form .form-row.form-row-first,
body.theme-the-hanger.woocommerce-checkout div.woocommerce form .form-row.form-row-middle,
body.theme-the-hanger.woocommerce-checkout div.woocommerce form .form-row.form-row-last {
  clear: left;
  float: none;
  width: 100%;
  padding: 0;
}
@media (min-width: 750px) {
  body.theme-the-hanger.woocommerce-checkout div.woocommerce form .form-row.form-row-first,
body.theme-the-hanger.woocommerce-checkout div.woocommerce form .form-row.form-row-middle,
body.theme-the-hanger.woocommerce-checkout div.woocommerce form .form-row.form-row-last {
    clear: none;
    float: left;
    width: 48%;
  }
}

body.theme-the-hanger.woocommerce-checkout div.woocommerce form .form-row.form-row-first,
body.theme-the-hanger.woocommerce-checkout div.woocommerce form .form-row.form-row-wide {
  clear: left;
}
@media (min-width: 750px) {
  body.theme-the-hanger.woocommerce-checkout div.woocommerce form .form-row.form-row-first,
body.theme-the-hanger.woocommerce-checkout div.woocommerce form .form-row.form-row-wide {
    clear: left;
  }
}

body.theme-the-hanger.woocommerce-checkout div.woocommerce form .form-row.form-row-one-third {
  width: 100%;
}
@media (min-width: 750px) {
  body.theme-the-hanger.woocommerce-checkout div.woocommerce form .form-row.form-row-one-third {
    width: 30.666%;
  }
}

body.theme-the-hanger.woocommerce-checkout div.woocommerce form .form-row.form-row-two-thirds {
  width: 100%;
}
@media (min-width: 750px) {
  body.theme-the-hanger.woocommerce-checkout div.woocommerce form .form-row.form-row-two-thirds {
    width: 65.33%;
  }
}

@media (min-width: 750px) {
  body.theme-the-hanger.woocommerce-checkout div.woocommerce form .form-row.form-row-first,
body.theme-the-hanger.woocommerce-checkout div.woocommerce form .form-row.form-row-middle {
    margin-right: 4%;
  }
}

body.theme-the-hanger.woocommerce-checkout div.woocommerce form .form-row.woocommerce-validated:before {
  display: none;
}

body.theme-the-hanger div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) textarea,
body.theme-the-hanger div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) select,
body.theme-the-hanger div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=email],
body.theme-the-hanger div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=number],
body.theme-the-hanger div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=search],
body.theme-the-hanger div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=text],
body.theme-the-hanger div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=date],
body.theme-the-hanger div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=tel],
body.theme-the-hanger div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=url],
body.theme-the-hanger div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) input[type=password],
body.theme-the-hanger div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]) .select2-selection {
  border-color: #007a3d;
}
body.theme-the-hanger div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon) .select2-selection:after, body.theme-the-hanger div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon):not(.fc-select2-field) .woocommerce-input-wrapper:after {
  display: inline-block;
  font-family: "fluid-checkout-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  content: "\e805";
  width: 24px;
  height: 24px;
  font-size: 24px;
  z-index: 10;
  position: absolute;
  right: 5px;
  top: 12px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  color: #007a3d;
  pointer-events: none;
}
body.theme-the-hanger div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon):not(.fc-select2-field) .woocommerce-input-wrapper.password-input:after {
  right: 25px;
}
body.theme-the-hanger div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon) .select2-selection:after {
  right: 15px;
}
body.theme-the-hanger div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]).fc-select2-field:not(.fc-no-validation-icon) select:not([required]) ~ .select2-container .select2-selection:after {
  right: 25px;
}
.woocommerce-terms-and-conditions-wrapper body.theme-the-hanger div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):after, body.theme-the-hanger div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]).create-account:after {
  content: "";
  display: none;
}

body.theme-the-hanger div.woocommerce form .form-row span.select2-container {
  height: auto;
}

body.theme-the-hanger div.woocommerce form .form-row .select2-selection {
  height: auto;
  min-height: 46px;
  border-radius: 0;
  line-height: 0;
}

body.theme-the-hanger div.woocommerce form .form-row .select2-selection__rendered {
  min-height: 46px;
  border-radius: 0;
}

body.theme-the-hanger div.woocommerce form .form-row .select2-selection .select2-selection__clear,
body.theme-the-hanger div.woocommerce form .form-row .select2-selection .select2-selection__arrow {
  top: 0;
  margin-top: 0;
  height: auto;
  min-height: 46px;
  line-height: 46px;
  transform: none;
}

body.theme-the-hanger div.woocommerce form .form-row .select2-selection--single {
  padding: 0;
}

body.theme-the-hanger div.woocommerce form .form-row .select2-selection--single .select2-selection__rendered {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 46px;
}

body.theme-the-hanger div.woocommerce form .form-row .select2-selection--multiple {
  border-width: 1px;
}

body.theme-the-hanger div.woocommerce form .form-row .select2-selection--multiple .select2-selection__rendered {
  padding-bottom: 5px;
  min-height: 36px;
  line-height: 36px;
  white-space: normal;
}

body.theme-the-hanger div.woocommerce form .form-row .select2-selection--multiple .select2-selection__choice {
  margin-top: 5px;
  line-height: 46px;
  overflow: hidden;
}

body.theme-the-hanger div.woocommerce form .form-row .select2-selection--multiple .select2-search--inline {
  margin-top: 5px;
  min-height: 46px;
  line-height: 46px;
}

body.theme-the-hanger div.woocommerce form .form-row .select2-selection--multiple .select2-search--inline .select2-search__field {
  margin-top: 0;
  height: 36px;
  min-height: auto;
}

body.theme-the-hanger .fc-wrapper .select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 12px;
  padding-right: 12px;
}