body.theme-yith-proteo .fc-wrapper .woocommerce-additional-fields .woocommerce-additional-fields__field-wrapper {
  margin-right: 0;
  margin-left: 0;
}

@media (max-width: 749px) {
  body.theme-yith-proteo.woocommerce-checkout .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

body.theme-yith-proteo .woocommerce-checkout-payment ul.wc_payment_methods .payment_box > p:first-child {
  margin-top: 0;
}

body.theme-yith-proteo div.woocommerce form .form-row .select2-container .select2-selection__arrow {
  top: 5px;
}