@media (max-width: 749px) {
  body.theme-aperitif.woocommerce-checkout #qodef-page-inner.qodef-content-grid {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

body.theme-aperitif div.woocommerce form .form-row textarea,
body.theme-aperitif div.woocommerce form .form-row input[type=email],
body.theme-aperitif div.woocommerce form .form-row input[type=number],
body.theme-aperitif div.woocommerce form .form-row input[type=text],
body.theme-aperitif div.woocommerce form .form-row input[type=tel],
body.theme-aperitif div.woocommerce form .form-row input[type=url],
body.theme-aperitif div.woocommerce form .form-row input[type=password] {
  cursor: auto;
}

body.theme-aperitif div.woocommerce form .form-row .select2-selection--single .select2-selection__rendered {
  padding-left: 20px;
}

body.theme-aperitif div.woocommerce form .form-row .select2-container .select2-selection__arrow:before {
  content: none;
}

body.theme-aperitif div.woocommerce form .form-row .select2-container .select2-selection__arrow b {
  display: block;
}