:root {
  --fluidcheckout--field--border-radius: 6px;
}

body.theme-cartsy div.woocommerce .fc-wrapper .iti__country-list > li {
  margin: 0;
}

body.theme-cartsy .woocommerce ul#shipping_method .shipping-method__option .shipping-method__option-label:before,
body.theme-cartsy .woocommerce ul#shipping_method .shipping-method__option .shipping-method__option-label:after {
  transform: none;
}

body.theme-cartsy .woocommerce ul#shipping_method .shipping-method__option .shipping-method__option-label:after {
  background-color: transparent;
}