body.theme-dt-the7.phantom-sticky:not(.has-checkout-header) {
  padding-top: 120px;
}

body.theme-dt-the7.phantom-sticky:not(.has-checkout-header).admin-bar .fc-sidebar[data-sticky-states].is-sticky--top .fc-sidebar__inner {
  padding-top: 5px;
}

body.theme-dt-the7.has-checkout-header .checkout-page-title + #main.fc-main {
  margin-top: 60px;
}

body.theme-dt-the7 .masthead + #main,
body.theme-dt-the7 .dt-mobile-header + #main {
  padding-top: 0;
}

body.theme-dt-the7 .dt-mobile-header + #main .wc-empty-cart-message {
  margin-top: 70px;
}

@media (max-width: 999px) {
  body.theme-dt-the7.has-checkout-header .page-title + #main.fc-main,
  body.theme-dt-the7.has-checkout-header .checkout-page-title + #main.fc-main {
    padding-top: 0;
  }
  body.theme-dt-the7.has-checkout-header .fc-checkout-header + .page-title,
  body.theme-dt-the7.has-checkout-header .fc-checkout-header + .checkout-page-title {
    margin-top: 60px;
  }
}
body.theme-dt-the7 .woocommerce-checkout-review-order .product-quantity,
body.theme-dt-the7 .woocommerce-checkout-review-order .product-total,
body.theme-dt-the7 .woocommerce-checkout-review-order .cart-subtotal th,
body.theme-dt-the7 .woocommerce-checkout-review-order .order-total th,
body.theme-dt-the7 .woocommerce-checkout-review-order .shipping th,
body.theme-dt-the7 .woocommerce-checkout-review-order .about_paypal,
body.theme-dt-the7 .woocommerce-checkout-review-order .product-total .woocommerce-Price-amount,
body.theme-dt-the7 .woocommerce-checkout-review-order tfoot th {
  color: var(--the7-h1-color);
}

body.theme-dt-the7.phantom-sticky header.fc-checkout-header {
  position: fixed !important;
  top: 0 !important;
}
@media (min-width: 1000px) {
  body.theme-dt-the7.phantom-sticky header.fc-checkout-header {
    position: static !important;
  }
}

body.theme-dt-the7.phantom-sticky.admin-bar header.fc-checkout-header {
  top: 46px !important;
}
@media screen and (min-width: 783px) {
  body.theme-dt-the7.phantom-sticky.admin-bar header.fc-checkout-header {
    top: 32px !important;
  }
}

body.theme-dt-the7:not(.has-checkout-header).admin-bar .fc-progress-bar[data-sticky-states].is-sticky--top .fc-progress-bar__inner {
  transform: translateY(0);
}
@media screen and (min-width: 783px) {
  body.theme-dt-the7:not(.has-checkout-header).admin-bar .fc-progress-bar[data-sticky-states].is-sticky--top .fc-progress-bar__inner {
    transform: translateY(32px);
  }
}

@media screen and (min-width: 783px) {
  body.theme-dt-the7.phantom-sticky:not(.has-checkout-header).admin-bar .fc-progress-bar[data-sticky-states].is-sticky--top .fc-progress-bar__inner {
    transform: translateY(5px);
  }
}

body.theme-dt-the7 div.woocommerce form .form-row input[type=checkbox] {
  margin-right: 5px;
}

body.theme-dt-the7 div.woocommerce form .form-row .select2-container .select2-selection__arrow {
  right: calc(8px + var(--the7-right-input-padding, 7px));
}