/** 
 * FUNCTIONS
 * 
 * Caution: This file is supposed to import all functions
 * except the `remsize` functions which is already imported
 * before the `variables` as it is needed earlier.
 */
/** 
 * FUNCTIONS
 * 
 * Caution: This file is supposed to import all functions
 * except the `remsize` functions which is already imported
 * before the `variables` as it is needed earlier.
 */
div.woocommerce form .form-row .select2-selection,
div.woocommerce form .form-row .select2-selection__rendered {
  height: 44.75px;
  line-height: 44.75px; }

div.woocommerce form .form-row .select2-selection__arrow {
  height: 40px;
  line-height: 40px; }
