:root {
  --fluidcheckout--field--height: 44px;
  --fluidcheckout--field--border-radius: 3px;
}

body.theme-aora .shipping-method__option input[type=radio] {
  display: block !important;
}

body.theme-aora.woocommerce-page.woocommerce-checkout .fc-wrapper #payment ul.payment_methods {
  border: solid 1px #d8d8d8 !important;
}

body.theme-aora .fc-wrapper #payment .payment_methods > .wc_payment_method {
  margin: 0 !important;
}

body.theme-aora .fc-wrapper #payment ul.wc_payment_methods > li.wc_payment_method > label {
  padding: 10px 20px !important;
  padding-left: 44px !important;
}

body.theme-aora .fc-wrapper #payment .payment_methods > .wc_payment_method:last-child {
  margin-bottom: -1px !important;
}

body.theme-aora .fc-wrapper #payment .payment_methods > .wc_payment_method > input[type=radio]:first-child:checked + label:before {
  background-color: #007a3d !important;
}

body.theme-aora .fc-wrapper #payment ul.payment_methods > li.wc_payment_method .payment_box:after {
  display: none !important;
}

body.theme-aora .fc-place-order {
  padding-top: 0;
}

body.theme-aora div.woocommerce form .form-row .select2-selection--multiple .select2-selection__rendered {
  padding-top: 0;
}

body.theme-aora div.woocommerce form .form-row .select2-selection--multiple .select2-selection__choice {
  margin-top: var(--fluidcheckout--select2--inner-spacing, 5px);
  margin-right: var(--fluidcheckout--select2--inner-spacing, 5px);
}