body.theme-woostify div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon):not(.fc-select2-field) .woocommerce-input-wrapper.password-input:after {
  right: 32px;
}
body.theme-woostify div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon) .select2-selection:after, body.theme-woostify div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon):not(.fc-select2-field) .woocommerce-input-wrapper:after {
  top: 10px;
}

body.theme-woostify div.woocommerce form .form-row span.select2-container {
  height: auto;
}

body.theme-woostify div.woocommerce form .form-row .select2-selection {
  height: auto;
  min-height: 48px;
  border-radius: 2px;
  line-height: 0;
}

body.theme-woostify div.woocommerce form .form-row .select2-selection__rendered {
  min-height: 48px;
  border-radius: 2px;
}

body.theme-woostify div.woocommerce form .form-row .select2-selection .select2-selection__clear,
body.theme-woostify div.woocommerce form .form-row .select2-selection .select2-selection__arrow {
  top: 0;
  margin-top: 5px;
  height: auto;
  min-height: 36px;
  line-height: 36px;
  transform: none;
}

body.theme-woostify div.woocommerce form .form-row .select2-selection--single {
  padding: 0;
}

body.theme-woostify div.woocommerce form .form-row .select2-selection--single .select2-selection__rendered {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 48px;
}

body.theme-woostify div.woocommerce form .form-row .select2-selection--multiple {
  border-width: 1px;
}

body.theme-woostify div.woocommerce form .form-row .select2-selection--multiple .select2-selection__rendered {
  padding-bottom: 5px;
  min-height: 38px;
  line-height: 38px;
  white-space: normal;
}

body.theme-woostify div.woocommerce form .form-row .select2-selection--multiple .select2-selection__choice {
  margin-top: 5px;
  line-height: 36px;
  overflow: hidden;
}

body.theme-woostify div.woocommerce form .form-row .select2-selection--multiple .select2-search--inline {
  margin-top: 5px;
  min-height: 36px;
  line-height: 36px;
}

body.theme-woostify div.woocommerce form .form-row .select2-selection--multiple .select2-search--inline .select2-search__field {
  margin-top: 0;
  height: 38px;
  min-height: auto;
}

body.theme-woostify div.woocommerce form .form-row .select2-selection .select2-selection__clear {
  right: 5px;
}