:root {
  --fluidcheckout--field--height: 61px;
  --fluidcheckout--field--border-radius: 8px;
  --fluidcheckout--validation-check--horizontal-spacing--select-alt: 30px;
}

body.theme-gizmos div.woocommerce form .form-row .select2-selection--single .select2-selection__rendered {
  padding-left: 20px;
}