body.theme-Avada.woocommerce-checkout form.woocommerce-checkout .fc-wrapper .fc-step__substep .fc-step__substep-title {
  border: 0;
}

body.theme-Avada .woocommerce ul#shipping_method .shipping-method__option .shipping-method__option-label {
  text-align: right;
}

body.theme-Avada div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon) .select2-selection:after, body.theme-Avada div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon):not(.fc-select2-field) .woocommerce-input-wrapper:after {
  top: 12px;
}
body.theme-Avada div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]):not(.fc-no-validation-icon) .select2-selection:after {
  left: 40px;
}
body.theme-Avada div.woocommerce form .form-row.woocommerce-validated:not([class*=woocommerce-invalid]).fc-select2-field:not(.fc-no-validation-icon) select:not([required]) ~ .select2-container .select2-selection:after {
  left: 50px;
}

body.theme-Avada div.woocommerce form.woocommerce-checkout .fc-wrapper #order_review {
  display: block !important;
}

body.theme-Avada.woocommerce-checkout form.woocommerce-checkout .fc-wrapper .fc-checkout-order-review-title {
  border: 0;
}

body.theme-Avada div.woocommerce form .form-row span.select2-container {
  height: auto;
}

body.theme-Avada div.woocommerce form .form-row .select2-selection {
  height: auto;
  min-height: 48px;
  border-radius: 7px;
  line-height: 0;
}

body.theme-Avada div.woocommerce form .form-row .select2-selection__rendered {
  min-height: 48px;
  border-radius: 7px;
}

body.theme-Avada div.woocommerce form .form-row .select2-selection .select2-selection__clear,
body.theme-Avada div.woocommerce form .form-row .select2-selection .select2-selection__arrow {
  top: 0;
  margin-top: 5px;
  height: auto;
  min-height: 36px;
  line-height: 36px;
  transform: none;
}

body.theme-Avada div.woocommerce form .form-row .select2-selection--single {
  padding: 0;
}

body.theme-Avada div.woocommerce form .form-row .select2-selection--single .select2-selection__rendered {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 48px;
}

body.theme-Avada div.woocommerce form .form-row .select2-selection--multiple {
  border-width: 1px;
}

body.theme-Avada div.woocommerce form .form-row .select2-selection--multiple .select2-selection__rendered {
  padding-bottom: 5px;
  min-height: 38px;
  line-height: 38px;
  white-space: normal;
}

body.theme-Avada div.woocommerce form .form-row .select2-selection--multiple .select2-selection__choice {
  margin-top: 5px;
  line-height: 36px;
  overflow: hidden;
}

body.theme-Avada div.woocommerce form .form-row .select2-selection--multiple .select2-search--inline {
  margin-top: 5px;
  min-height: 36px;
  line-height: 36px;
}

body.theme-Avada div.woocommerce form .form-row .select2-selection--multiple .select2-search--inline .select2-search__field {
  margin-top: 0;
  height: 38px;
  min-height: auto;
}