// ------------------------------------
// EDIT ADDRESS
// ------------------------------------

body#{ $_body-theme-selector } .woocommerce .woocommerce-MyAccount-content .addresses .title a {
	font-size: 16px;
	font-weight: 400;
	float: none;
}